<h2 mat-dialog-title>
	<mat-icon class="title-icon">search</mat-icon>
	<span>Pending updates</span>
</h2>
<mat-dialog-content>
  <p *ngIf="loadingPendingPages">Loading ...</p>
  <ng-container *ngIf="!loadingPendingPages">
  	<div *ngFor="let p of pages">
	  	<p>
		  	<button mat-button (click)="viewUpdates(p.slug)">{{ p.title }} </button>
		  </p>
	  </div>
  </ng-container>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close cdkFocusInitial>Cancel</button>
</mat-dialog-actions>
