<h2 mat-dialog-title>
	<mat-icon class="title-icon">search</mat-icon>
	<span>Pending updates</span>
</h2>
<mat-dialog-content>
	<form [formGroup]="filterForm" *ngIf="!loadingPendingUpdates">
		<section class="filter">
		  <mat-checkbox
		  	formControlName="accepted">Accepted</mat-checkbox>
		  <mat-checkbox
		  	formControlName="rejected">Rejected</mat-checkbox>
		  <mat-checkbox
		  	formControlName="pending">Pending</mat-checkbox>
		</section>
	</form>
  <p *ngIf="loadingPendingUpdates">Loading ...</p>
  <ng-container
  *ngIf="!loadingPendingUpdates && pages && pages.length">
  	<div *ngFor="let p of pages">
	  	<div *ngIf="p.status === 'pending' && pending.value">
	  		<h4>
	  			<a class="link" (click)="viewUpdates(p.page.slug)">
	  				Title: {{ p.page.title }}
	  			</a>
	  		</h4>
	  		<h5>
	  			<a class="link" (click)="viewUpdates(p.page.slug)">
	  				Slug: {{ p.page.slug }}
	  			</a>
	  		</h5>
	  		<div>Timestamp: {{ timestampToDate(p.page.block.timestamp) }}</div>
		  	<app-arweave-address
		  		[isAddress]="false"
		  		[address]="p.page.id"
		  		class="justify-right"
		  		>TX: </app-arweave-address>
	  		<div class="text-right">
	  			Status: <span class="warning-label">{{ p.status }}</span>
	  		</div>
		  	<hr>
		  </div>
		  <div *ngIf="p.status === 'accepted' && accepted.value">
		  	<h4>Title: {{ p.page.title }}</h4>
	  		<h5>Slug: {{ p.page.slug }} </h5>
	  		<div>Timestamp: {{ timestampToDate(p.page.block.timestamp) }}</div>
	  		<app-arweave-address
		  		*ngIf="p.updateInfo"
		  		[address]="p.updateInfo.approvedBy"
		  		>Approved by: </app-arweave-address>
	  		<app-arweave-address
		  		[isAddress]="false"
		  		class="justify-right"
		  		[address]="p.page.id"
		  		>TX: </app-arweave-address>
	  		<div class="text-right">
	  			Status: <span class="active-label">{{ p.status }}</span>
	  		</div>
		  	<hr>
		  </div>
	  </div>
  </ng-container>
  <div
		class="col-12 text-center btn-more-container"
		*ngIf="!hideBtnMoreUpdates && !loadingPendingUpdates">
		<button
			mat-flat-button 
			class="btn-more-articles"
			[disabled]="loadingNextUpdates"
			(click)="nextUpdates()">
			{{ 'GENERAL.BUTTONS.MORE_ARTICLES' | translate }}
		</button>
	</div>
	<div
		*ngIf="!loadingPendingUpdates"
		class="col-12 total-results text-right">
		Total results: {{ totalResults }}
	</div>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close cdkFocusInitial>Cancel</button>
</mat-dialog-actions>
