.page-container {
	min-height: 600px;
}

.w70 {
	width: 70%;
}

.ml10 {
	margin-left: 10px;
}
.w100 {
	width: 100%;
}

.w50 {
	width: 50%;
}

.card-page {
	margin-bottom: 40px;
}

.mt20 {
	margin-top: 20px;
}

.link {
	cursor: pointer;
}
.mbt20 {
	margin-bottom: 20px;
	margin-top: 20px;
}

.card-footer a {
	margin-left: 20px;
	margin-bottom: 10px;
}
.card-header-icon {
 font-size: 12px;
}
.card-header-title {
	margin-top: 0px;
}
.card-image {
}
.card-image img {
	width: 100%;
}
.approve-btn {
	background-color: #63C642;
	color: #FFF;
}
.sec-toolbar {
	margin-bottom: 20px;
	
}
.card-article {
	padding: 20px;
}
.a-btn {
	text-decoration: none;
}