<app-moderators-menu title="Approved list"></app-moderators-menu>
<mat-spinner class="spinner-center" *ngIf="loadingApprovedPages"></mat-spinner>
<div class="container page-container fadeIn">

	<div class="row">
		<div 
			class="col-12 card-page fadeIn" 
			*ngIf="!loadingApprovedPages && (!pages || !pages.length)">
			{{ 'MODERATORS.LABEL_NO_RESULTS' | translate }}
		</div>

		<div class="col-12 col-md-6 card-page fadeIn" *ngFor="let p of pages">
			<mat-card >
				<h2>
					{{ p.title }} 
				</h2>
				<div>
					{{ 'PAGE.LABEL_SLUG' | translate }}: {{  p.slug }}
				</div>
				<div>
					{{ 'PAGE.LABEL_CATEGORY' | translate }}: {{ p.category }}
				</div>
				<div>
					{{ 'PAGE.LABEL_LANGUAGE' | translate }}: {{ p.language }}
				</div>
				<div>
					{{ 'PAGE.LABEL_OWNER' | translate }}: {{ p.owner }} 
				</div>
				<div> 
					{{ 'PAGE.LABEL_ID' | translate }}: {{ p.id }} 
				</div>
				<div class="red" *ngIf="!p.block || !p.block.height">
					{{ 'PAGE.LABEL_TX_STATUS' | translate }}: {{ 'PAGE.STATUS_TX_PENDING' | translate }} 
				</div>
				
				<div *ngIf="p.block && p.block.height">
					{{ 'PAGE.LABEL_BLOCK_HEIGHT' | translate }}: {{ p.block.height }} 
				</div>
				<div *ngIf="p.block && p.block.timestamp">
					{{ 'PAGE.LABEL_BLOCK_TIMESTAMP' | translate }}: {{ timestampToDate(p.block.timestamp) | date:'short' }} 
				</div>
				
				<div class="text-right">
					<a
						mat-flat-button
						color="warn"
						matTooltip="Unlist page">
						<mat-icon>delete</mat-icon>
					</a>
					&nbsp;
					<a
						mat-flat-button
						color="primary"
						matTooltip="Set as Main Page">
						<mat-icon>star_outline</mat-icon>
					</a>
					&nbsp;
					<a
						mat-flat-button
						color="primary"
						matTooltip="Add tags"
						routerLink="../tag-manager/{{p.id}}">
						<mat-icon>sell</mat-icon>
					</a>
					&nbsp;
					<a 
						mat-flat-button
						color="primary"
						matTooltip="View page"
						routerLink="../../{{p.slug}}">
						<mat-icon>visibility</mat-icon>
					</a>
				</div>
			</mat-card>
		</div>
	</div>

</div>
