<h3>{{ 'SHARE_DIALOG.TITLE' | translate }}</h3>
<mat-nav-list>
  <mat-list-item (click)="shareInSocialMedia('facebook')">
    <img matListItemAvatar src="./assets/img/facebookR.png">
    <h3 matListItemTitle>{{ 'SHARE_DIALOG.OPTION_1.NAME' | translate }}</h3>
    <p matListItemLine>
      <span>{{ 'SHARE_DIALOG.OPTION_1.MSG' | translate }}</span>
    </p>
  </mat-list-item>
	<mat-list-item (click)="shareInSocialMedia('twitter')">
		<img matListItemAvatar src="./assets/img/twitterR.png">
    <h3 matListItemTitle>{{ 'SHARE_DIALOG.OPTION_2.NAME' | translate }}</h3>
    <p matListItemLine>
      <span>{{ 'SHARE_DIALOG.OPTION_2.MSG' | translate }}</span>
    </p>
  </mat-list-item>
  <mat-list-item (click)="shareInSocialMedia('whatsapp')">
		<img matListItemAvatar class="not-rounded" src="./assets/img/whatsappR.png">
    <h3 matListItemTitle>{{ 'SHARE_DIALOG.OPTION_3.NAME' | translate }}</h3>
    <p matListItemLine>
      <span>{{ 'SHARE_DIALOG.OPTION_3.MSG' | translate }}</span>
    </p>
  </mat-list-item>
  <mat-list-item (click)="shareInSocialMedia('copyLink')">
  	<mat-icon matListItemIcon>link</mat-icon>
    <h3 matListItemTitle>{{ 'SHARE_DIALOG.OPTION_4.NAME' | translate }}</h3>
    <p matListItemLine>
      <span>{{ 'SHARE_DIALOG.OPTION_4.MSG' | translate }}</span>
    </p>
  </mat-list-item>
</mat-nav-list>