<h2 mat-dialog-title>
	<mat-icon class="blue title-icon">difference</mat-icon>
	<span>{{ 'COMPARE_DIALOG.TITLE' | translate }}</span>
</h2>
<mat-progress-bar 
  color="primary"
  mode="indeterminate"
  *ngIf="loading"
  class="fadeIn"></mat-progress-bar>
<mat-dialog-content class="container container-donate">
 <strong>{{ 'COMPARE_DIALOG.NEW_TX' | translate }}</strong> {{ data.newPage }}<br>
 <strong>{{ 'COMPARE_DIALOG.OLD_TX' | translate }}</strong> {{ txOld }}<br>
 <strong>{{ 'COMPARE_DIALOG.SLUG' | translate }}</strong> {{ data.slug }}<strong> {{ 'COMPARE_DIALOG.LANG' | translate }}</strong> {{ data.lang }}<br>
 <h4>{{ 'COMPARE_DIALOG.DIFF' | translate }}</h4>
	<div class="changes-container" *ngIf="listOfChanges.length">
		<div *ngFor="let change of listOfChanges">
			<div *ngIf="change.added" class="green">
				<strong>+ </strong> <strong>{{ change.value }}</strong>
			</div>
			<div *ngIf="change.removed" class="red">
				<strong>- </strong> {{ change.value }}
			</div>
		</div>
	</div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close cdkFocusInitial>{{ 'DIALOGS.TXT_CLOSE' | translate }}</button>
</mat-dialog-actions>
