$footer-height-small: 200px;
$footer-height-big: 180px;
$sm-icon-size: 34px;


.footer {
	min-height: $footer-height-small;
	margin-top: 20px;
}

.row-col-logo {
	margin-bottom: 0px;
	font-weight: bold;
	text-align: center;
	padding: 14px;
}

.row-col-social-media {
	padding: 0px 14px 14px 14px;
}
.follow-us-label {
	margin-left: 14px;
	line-height: $sm-icon-size;
	float: left;
}

.row-col-social-media img {
	width: $sm-icon-size;
	height: $sm-icon-size;
}

.row-col-social-media a {
	line-height: $sm-icon-size;
	margin-left: 12px;
	float: left;
}
.row-col-social-media a:hover {
	margin-top: -6px;
}

.footer-links ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.footer-links li {
	float: left;
	margin-left: 14px;
	font-size: 14px;
}

.app-version {
	font-size: 12px;
}

@media (min-width: 800px) {	
	
	.footer {
		min-height: $footer-height-big;
	}

}