.footer {
	background-color: #646464;
	color: #D5D5D5;
	height: 120px;
	padding: 14px;
	margin-top: 20px;
}

.footer p {;
	color: #D5D5D5;
	margin-bottom: 0px;

}

@media (min-width: 1400px) {
	.footer {
		margin-top: 60px;
	}
}