<app-moderators-menu title="Admin list"></app-moderators-menu>
<div class="container page-container fadeIn">
	<div class="row">
		<div class="col-12 col-md-6 fadeIn" *ngFor="let admin of adminList">
			<app-arweave-address [address]="admin"></app-arweave-address>
		</div>
	</div>
	<div class="row">
		<div class="col text-right">
			<button 
				mat-flat-button
				color="accent"
				routerLink="/{{ routerLang }}/moderators/add-admin">
	        <mat-icon>add_moderator</mat-icon>
	        {{ 'MAIN_TOOLBAR.MENU_MODERATOR_ADD_MODERATOR' | translate }}
	    </button>
		</div>
	</div>
</div>
