<h2 mat-dialog-title>
	<mat-icon *ngIf="!data.type || data.type ==='warning'" class="yellow title-icon">warning</mat-icon>
	<mat-icon *ngIf="data.type ==='info'" class="blue title-icon">info</mat-icon>
	<span>{{ data.title }}</span>
</h2>
<mat-dialog-content>
  <p>{{ data.content }}</p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button 
  	mat-button 
  	*ngIf="data.type !=='info'" 
  	[mat-dialog-close]="true" >Alright! Let's do it!</button>
  <button mat-button mat-dialog-close cdkFocusInitial>Cancel</button>
</mat-dialog-actions>
