.card-latest-article {
	margin-bottom: 40px;
}

.card-latest-article-img {
	max-width: 80%;
	float: left;
	padding-right: 10px;
}

.card-latest-article-img img {
	max-width: 100%;
}

.card-latest-article h2 {
	cursor: pointer;
}

.article-card {
	margin-bottom: 20px;
}

a.mat-button{
	font-size: 18px;
}
.card-btn {
	color: inherit;
}

.fade-out {
	height: 130px;
	position: absolute;
	bottom: 0;
	display: block;
	width: 100%;
  background-image: url('/assets/img/bottom-fade.png');
  background-repeat: repeat-x;
}

.fade-out-black {
  background-image: url('/assets/img/bottom-fade-black.png');
}



.article-title {
	margin-bottom: 0px;
}

.article-data-wrapper {
	position: relative;
}

.article-data {
	max-height: 380px;
	overflow: hidden;
}

.article-data h1, 
.article-data h2, 
.article-data h3, 
.article-data h4,
.article-data h5 {
	font-size: 18px;
}

.article-data img {
	text-align: center;
	max-width: 80%;
	margin: 0 auto;
	display: block;
}

.padt-footer-card {
	padding-top: 20px;
}