<mat-progress-bar
				  mode="indeterminate"
				  *ngIf="!articleData"
				  class="fadeIn"></mat-progress-bar>
<mat-card class="card-latest-article fadeIn">
	<h2 class="article-title ellipsis" routerLink="/{{routeLang}}/{{article.slug}}">
		{{ article.title }}
	</h2>
	<div class="mini-text ellipsis article-subtitle">
		<strong>{{ 'GENERAL.CARDS.ARTICLE.CATEGORY' | translate }} </strong>
		<a
		   mat-button
		   routerLink="/{{routeLang}}/category/{{article.category}}">
			{{ article.category }}
		</a>
	</div>
	<div class="article-data-wrapper">
		<div 
			class="fade-out" 
			*ngIf="articleData"
			[class.fade-out-black]="defaultTheme === 'arwiki-dark'"></div>
		<mat-card *ngIf="article.img" class="card-image text-center">
			<img src="{{ baseURL + article.img }}">
		</mat-card>
		<p 
			class="article-data word-break" 
			*ngIf="articleData" 
			[innerHTML]="markdownToHTML(articleData)">
		</p>
	</div>
	<p class="mini-text ellipsis">
		<app-arweave-address [address]="article.owner">
			{{ 'GENERAL.CARDS.ARTICLE.CREATED_BY' | translate }}
		</app-arweave-address>
	</p>
	<p class="mini-text ellipsis">
		<app-arweave-address 
			[address]="article.id"
			[isAddress]="false">
			TX:
		</app-arweave-address>
	</p>
	<p class="mini-text ellipsis" *ngIf="article.block">
		<strong>{{ 'GENERAL.CARDS.ARTICLE.CREATION_DATE' | translate }}</strong>
		{{ timestampToDate(article.block.timestamp) | date:'short' }}
	</p>
	<p class="text-right">
		<a
		  mat-button
		  class="card-btn"
		  routerLink="/{{routeLang}}/{{article.slug}}">
			{{ 'GENERAL.BUTTONS.VIEW_ARTICLE' | translate }}
		</a>
	</p>
</mat-card>