<mat-progress-bar
				  mode="indeterminate"
				  *ngIf="!articleData"
				  class="fadeIn"></mat-progress-bar>
<mat-card class="card-latest-article fadeIn">
	<h2 routerLink="/{{routeLang}}/{{article.slug}}">
		{{ article.title }}
	</h2>
	<p class="word-break" *ngIf="articleData">
		{{ sanitizeMarkdown(articleData) }}
	</p>
	<p class="mini-text ellipsis">
		<strong>{{ 'GENERAL.CARDS.ARTICLE.CATEGORY' | translate }} </strong>
		<a
		   mat-button
		   routerLink="/{{routeLang}}/category/{{article.category}}">
			{{ article.category }}
		</a>
	</p>
	<p class="mini-text ellipsis">
		<app-arweave-address [address]="article.owner">
			{{ 'GENERAL.CARDS.ARTICLE.CREATED_BY' | translate }}
		</app-arweave-address>
	</p>
	<p class="mini-text ellipsis">
		<app-arweave-address 
			[address]="article.id"
			[isAddress]="false">
			TX:
		</app-arweave-address>
	</p>
	<p class="mini-text ellipsis" *ngIf="article.block">
		<strong>{{ 'GENERAL.CARDS.ARTICLE.CREATION_DATE' | translate }}</strong>
		{{ timestampToDate(article.block.timestamp) | date:'short' }}
	</p>
	<p class="text-right">
		<a
		  mat-button
		  color="primary"
		  class="card-btn"
		  routerLink="/{{routeLang}}/{{article.slug}}">
			{{ 'GENERAL.BUTTONS.VIEW_ARTICLE' | translate }}
		</a>
	</p>
</mat-card>