.title-icon {
	font-size: 40px;
	line-height: 40px;
	width: 40px;
	height: 40px;
	vertical-align: middle;
}
.mat-dialog-title span {
	margin-left: 12px;
	vertical-align: middle;
	font-size: 26px;
	font-family: "Roboto Mono", monospace;
	line-height: 38px;
}

.mat-form-field {
	width: 100%;
}

.link {
	text-decoration: underline;
	cursor: pointer;
}

.big-btn {
	width: 100%;
	margin-top: 20px;
}
.tab-container {
  max-width: 500px;
}
table {
  width: 100%;
}

.frm-transfer {
	padding-top: 20px;
}