<h2 mat-dialog-title>
	<mat-icon class="title-icon yellow">vpn_key</mat-icon>
	<span>Vault</span>
</h2>
	<mat-dialog-content>
		<mat-tab-group color="accent" class=" container">
		  <mat-tab label="Lock balance" class="tab-container row">
		  	<div *ngIf="loadingSendTokens" class="col-12">
					<div *ngIf="!transferTX" class="text-center">
						<mat-progress-bar mode="indeterminate"></mat-progress-bar>
						🔐 Locking tokens, please hold on ...
					</div>
					<div *ngIf="transferTX">
				    <div>
				    	🥳 Tokens locked! You can follow your tx status here:
				    	<a 
								mat-button 
								target="_blank"
								href="https://viewblock.io/arweave/tx/{{transferTX}}" 
								class="text-center">https://viewblock.io/arweave/tx/{{ transferTX }}
							</a>	
				    </div>
				    <div>You can close this window now.</div>
					</div>
					<div *ngIf="errorMsg">
				    Error: {{errorMsg  }}
					</div>
				</div>
		  	<form [formGroup]="frmTransfer" (ngSubmit)="onSubmit()" class="frm-transfer col-12">
					<ng-container *ngIf="!loadingSendTokens">
					  <mat-form-field class="col-12" color="accent" appearance="outline" hintLabel="Min lock length: {{ data.lockMinLength }} blocks {{ formatBlocks(data.lockMinLength) }}">
					    <mat-label>Block length</mat-label>
					    <input 
					    	matInput 
					    	type="number"
					    	min="data.lockMinLength" 
					    	[max]="data.lockMaxLength" 
					    	placeholder="Time that balance must be locked" 
					    	autocomplete="off" 
					    	formControlName="lockLength">
					    <mat-hint class="link" (click)="lockLength!.setValue(data.lockMaxLength)" align="end">Use max</mat-hint>
					  </mat-form-field>
					  <mat-form-field class="col-12" color="accent" appearance="outline" hintLabel="Total $WIKI available: {{ data.balance }}">
					    <mat-label>Amount</mat-label>
					    <input 
					    	matInput 
					    	placeholder="$WIKI amount" 
					    	type="number"
					    	 min="0" 
					    	[max]="data.balance" 
					    	formControlName="amount"
					    	autocomplete="off">
				    	<span matSuffix>$WIKI</span>
					    <mat-hint class="link" (click)="amount!.setValue(data.balance)" align="end">Use max</mat-hint>
					  </mat-form-field>
					</ng-container>
					<button 
				  	mat-flat-button 
				  	class="big-btn"
				  	type="submit" 
				  	color="accent"
				  	[disabled]="!frmTransfer.valid || loadingSendTokens">
				  	<mat-icon>lock</mat-icon> Lock balance
				  </button>
				</form>
		  </mat-tab>
		  <mat-tab label="View vault">
		  	<div class="tab-container">
		  		<table mat-table [dataSource]="dataSource">
					  <ng-container matColumnDef="balance">
						  <th mat-header-cell *matHeaderCellDef> Balance </th>
						  <td mat-cell *matCellDef="let vault"> {{vault.balance}} </td>
						</ng-container>
					  <ng-container matColumnDef="lockedLength">
						  <th mat-header-cell *matHeaderCellDef> Locked Length </th>
						  <td mat-cell *matCellDef="let vault">
						  	Start: {{vault.start}} <br> 
						    End: {{vault.end}} 
							</td>
						</ng-container>
						<ng-container matColumnDef="page">
						  <th mat-header-cell *matHeaderCellDef> Page Data </th>
						  <td mat-cell *matCellDef="let vault">
						  	<ng-container *ngIf="vault.slug">
						  		{{vault.lang}}/{{vault.slug}} ({{vault.action}})
						  	</ng-container>
							</td>
						</ng-container>
						<ng-container matColumnDef="status">
						  <th mat-header-cell *matHeaderCellDef> Status </th>
						  <td mat-cell *matCellDef="let vault">
						  	<div class="red" *ngIf="vault.end >= data.currentHeight">
						  		Locked! ({{ formatBlocks(vault.end - data.currentHeight) }})
						  	</div>
						  	<div class="green" *ngIf="vault.end < data.currentHeight">
						  		Tokens can be unlocked!
						  	</div>
							</td>
						</ng-container>
						<tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
						<tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
					</table>
					<mat-paginator color="accent" [pageSizeOptions]="[5, 10, 20]"
				                 showFirstLastButtons 
				                 aria-label="Select page of vault">
				  </mat-paginator>
		  	</div>
		  </mat-tab>
		  <mat-tab label="Unlock vault">
		  	<div class="tab-container">
		  		<div *ngIf="loadingUnlockVault">
						<div *ngIf="!unlockVaultTX" class="text-center">
							<mat-progress-bar mode="indeterminate"></mat-progress-bar>
							🔑 Unlocking vault, please hold on ...
						</div>
						<div *ngIf="unlockVaultTX">
					    <div>
					    	🥳 Tokens unlocked! You can follow your tx status here:
					    	<a 
									mat-button 
									target="_blank"
									href="https://viewblock.io/arweave/tx/{{unlockVaultTX}}" 
									class="text-center">https://viewblock.io/arweave/tx/{{ unlockVaultTX }}
								</a>	
					    </div>
					    <div>You can close this window now.</div>
						</div>
						<div *ngIf="errorMsg">
					    Error: {{errorMsg  }}
						</div>
					</div>
		  		<button 
				  	mat-flat-button 
				  	class="big-btn"
				  	type="button"
				  	color="accent"
				  	[disabled]="loadingUnlockVault"
				  	(click)="unlockVault()">
				  	<mat-icon class="yellow">vpn_key</mat-icon> Unlock vault
				  </button>
		  		
		  	</div>
		  </mat-tab>
		</mat-tab-group>
		
	</mat-dialog-content>
	<mat-dialog-actions align="end">
	  <button 
	  	mat-flat-button 
	  	mat-dialog-close 
	  	cdkFocusInitial>Close</button>
	</mat-dialog-actions>