<div class="container sitemap fadeIn">
	<div class="row">
		<h1 class="page-title col-12 col-md-9">
			{{ 'SEARCH.SITEMAP.TITLE' | translate }}
		</h1>
		<div class="text-right page-title-buttons col-12 col-md-3">
	    <button 
	    	type="button"
		  	mat-button 
		  	class="btn-back" 
		  	color="primary"
		  	(click)="goBack()">
		    <mat-icon>navigate_before</mat-icon>
		    {{ 'GENERAL.BUTTONS.GO_BACK' | translate }}
		  </button>
		</div>
	</div>
	<mat-tab-group color="accent">
	  <mat-tab label="Categories">
		  <ng-template matTabContent>
		    <app-sitemap-categories [routeLang]="routeLang"></app-sitemap-categories>
		  </ng-template>
		</mat-tab>
		<mat-tab label="Pages">
		  <ng-template matTabContent>
		    <app-sitemap-pages [routeLang]="routeLang"></app-sitemap-pages>
		  </ng-template>
		</mat-tab>
		<mat-tab label="Languages">
		  <ng-template matTabContent>
		    <app-sitemap-langs></app-sitemap-langs>
		  </ng-template>
		</mat-tab>
	</mat-tab-group>
</div>
