<div class="container sitemap fadeIn">
	<h1>Sitemap</h1>
	<h2>Categories</h2>
	<div class="row">
		<div class="col">
			<ul class="categories-list">
				<li *ngFor="let c of categories">
					<div class="cat-title">
						<strong>{{ 'MAIN_MENU.' + c.slug | translate }} </strong>
						<span class="active-label" *ngIf="c.active">Active</span>
		      	<span class="inactive-label" *ngIf="!c.active">Inactive</span>
					</div>
					<div class="secondary-txt">
						<strong>Order: </strong>{{ c.order }}
						<strong>Slug: </strong>
						<a mat-button
							class="cat-slug"
		      		[routerLink]="['/', routeLang, 'category', c.slug]">
		      		{{ c.slug }}
		      	</a>
		      	<strong>Pages: </strong>{{ numPagesByCategory[c.slug] || '0' }}
					</div>
				</li>
			</ul>
		</div>
	</div>	
	<div class="total-pages">
		<strong>Total Pages: </strong><span>{{ totalPages() }}</span>
	</div>
	<h2>Pages</h2>
	<div class="row">
		<div class="col">
			<mat-form-field appearance="standard">
			  <mat-label>Filter</mat-label>
			  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Arweave" #input autocomplete="off">
			</mat-form-field>
			<div class="mat-elevation-z8 table-container">
			  <table mat-table [dataSource]="dataSource" matSort #sortPages="matSort">
			    <!-- ID Column -->
			    <ng-container matColumnDef="slug">
			      <th mat-header-cell *matHeaderCellDef mat-sort-header> Slug </th>
			      <td mat-cell *matCellDef="let row">
			      	<a mat-button
			      		class="btn-ellipsis"
			      		[routerLink]="['/', routeLang, row.slug]">{{row.slug}}</a>
			      </td>
			    </ng-container>

			    <!-- ID Category -->
			    <ng-container matColumnDef="category">
			      <th mat-header-cell *matHeaderCellDef mat-sort-header> Category </th>
			      <td mat-cell *matCellDef="let row">
			      	<a mat-button
			      		[routerLink]="['/', routeLang, 'category', row.category]">
			      		{{ 'MAIN_MENU.' + row.category | translate }}
			      	</a>
			      </td>
			    </ng-container>

			    <!-- Owner Column -->
			    <ng-container matColumnDef="sponsor">
			      <th mat-header-cell *matHeaderCellDef mat-sort-header> Sponsor </th>
			      <td mat-cell *matCellDef="let row" class="text-center">
			      	<app-arweave-address
			      		[address]="row.sponsor"
			      		[lang]="routeLang"
			      		[showHandleInAddress]="false"></app-arweave-address>
			      </td>
			    </ng-container>

			    <!-- Accepted at -->
			    <ng-container matColumnDef="start">
			      <th mat-header-cell *matHeaderCellDef mat-sort-header> Accepted at block</th>
			      <td mat-cell *matCellDef="let row" class="text-center">
			      	<a mat-button
			      		target="_blank"
			      		href="https://viewblock.io/arweave/block/{{row.start}}">
			      		{{ row.start }}
			      	</a>
			      </td>
			    </ng-container>

			    <!-- Accepted at -->
			    <ng-container matColumnDef="value">
			      <th mat-header-cell *matHeaderCellDef mat-sort-header> Value</th>
			      <td mat-cell *matCellDef="let row" class="text-center">
			      	{{ row.value }} <span class="wiki">$WIKI</span>
			      </td>
			    </ng-container>

			    <!-- Status Column -->
			    <ng-container matColumnDef="active">
			      <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
			      <td mat-cell *matCellDef="let row" class="text-center">
			      	<span class="active-label" *ngIf="row.active">Active</span>
			      	<span class="inactive-label" *ngIf="!row.active">Inactive</span>

			      </td>
			    </ng-container>

			    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
			    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

			    <!-- Row shown when there is no matching data. -->
			    <tr class="mat-row" *matNoDataRow>
			      <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
			    </tr>
			  </table>
			  <mat-paginator
			  	[pageSize]="10"
			  	[pageSizeOptions]="[5, 10, 25, 100]"
			  	aria-label="Select page size"
			  	#pagesPaginator="matPaginator"></mat-paginator>
			</div>
		</div>
	</div>
	<h2>Other Languages</h2>
	<div class="row row-lang">
		<div class="col">
			<mat-form-field appearance="standard">
			  <mat-label>Filter</mat-label>
			  <input matInput (keyup)="applyFilterLang($event)" placeholder="Ex. English" #input autocomplete="off">
			</mat-form-field>
			<div class="mat-elevation-z8 table-container">
			  <table mat-table [dataSource]="dataSourceLangs" matSort #sortLangs="matSort">
			    <!-- ID Column -->
			    <ng-container matColumnDef="code">
			      <th mat-header-cell *matHeaderCellDef mat-sort-header> Code </th>
			      <td mat-cell *matCellDef="let row">
			      	<a mat-button
			      		class="btn-ellipsis"
			      		[routerLink]="['/', row.code]">{{row.code}}</a>
			      </td>
			    </ng-container>

			    <!-- ISO name Column -->
			    <ng-container matColumnDef="iso_name">
			      <th mat-header-cell *matHeaderCellDef mat-sort-header> ISO name </th>
			      <td mat-cell *matCellDef="let row">
			      	<a mat-button
			      		class="btn-ellipsis"
			      		[routerLink]="['/', row.code]">{{row.iso_name}}</a>
			      </td>
			    </ng-container>

			    <!-- Native name Column -->
			    <ng-container matColumnDef="native_name">
			      <th mat-header-cell *matHeaderCellDef mat-sort-header> Native name </th>
			      <td mat-cell *matCellDef="let row">
			      	<a mat-button
			      		class="btn-ellipsis"
			      		[routerLink]="['/', row.code]">{{row.native_name}}</a>
			      </td>
			    </ng-container>

			    <!-- Writing System Column -->
			    <ng-container matColumnDef="writing_system">
			      <th mat-header-cell *matHeaderCellDef mat-sort-header> Writing System </th>
			      <td mat-cell *matCellDef="let row">
			      	{{row.writing_system}}
			      </td>
			    </ng-container>

			    <!-- Active Column -->
			    <ng-container matColumnDef="total">
			      <th mat-header-cell *matHeaderCellDef mat-sort-header> Pages </th>
			      <td mat-cell *matCellDef="let row">
			      	{{ numLangsByCode[row.code] }}
			      </td>
			    </ng-container>

			    <!-- Active Column -->
			    <ng-container matColumnDef="active">
			      <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
			      <td mat-cell *matCellDef="let row">
			      	<span class="active-label" *ngIf="row.active">Active</span>
			      	<span class="inactive-label" *ngIf="!row.active">Inactive</span>
			      </td>
			    </ng-container>

			    <tr mat-header-row *matHeaderRowDef="displayedColumnsLangs"></tr>
			    <tr mat-row *matRowDef="let row; columns: displayedColumnsLangs;"></tr>

			    <!-- Row shown when there is no matching data. -->
			    <tr class="mat-row" *matNoDataRow>
			      <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
			    </tr>
			  </table>
			  <mat-paginator
			  	[pageSize]="5"
			  	[pageSizeOptions]="[5, 10, 25, 100]"
			  	aria-label="Select page size"
			  	#langsPaginator="matPaginator"></mat-paginator>
			</div>
		</div>
	</div>
</div>
