.container.sitemap {
	padding-top: 90px;
}

.row-lang {
  margin-bottom: 40px;
}

.wiki {
  font-size: 12px;
}
.btn-sitemap {
  font-size: 12px;
  margin-bottom: 20px;
}
.btn-back {
  color: inherit;
}
.page-title-buttons {
  margin-top: 20px;
  margin-bottom: 20px;
}

table {
  font-size: 14px;
}

a {
  text-decoration: none;
}