<h2 mat-dialog-title>
	<mat-icon class="red title-icon">delete</mat-icon>
	<span>{{ 'DIALOGS.TXT_CLOSE' | translate }}Reject page</span>
</h2>
<mat-dialog-content>
  <p>You are about to reject a page with tx id {{ data.id }}. Do you want to proceed? Please add a reason to continue.</p>
  <mat-form-field class="txt-reason" appearance="outline">
	  <mat-label>Reason</mat-label>
	  <textarea class="txt-reason" matInput #reason></textarea>
	</mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button 
  	mat-button 
  	[disabled]="!reason.value"
  	[mat-dialog-close]="reason.value" >{{ 'DIALOGS.TXT_CONFIRM' | translate }}</button>
  <button mat-button mat-dialog-close cdkFocusInitial>{{ 'DIALOGS.TXT_CLOSE' | translate }}</button>
</mat-dialog-actions>
