<app-moderators-menu title="Pending updates"></app-moderators-menu>
<mat-spinner class="spinner-center" color="accent" *ngIf="loadingPendingPages"></mat-spinner>
<div class="container page-container fadeIn">
	<div class="row" *ngIf="!loadingInteraction">
		<form
			class="col-12"
			[formGroup]="filterForm" *ngIf="!loadingPendingPages && pages && pages.length">
			<section class="filter">
			  <mat-checkbox
			  	formControlName="accepted">Accepted</mat-checkbox>
			  <mat-checkbox
			  	formControlName="rejected">Rejected</mat-checkbox>
			  <mat-checkbox
			  	formControlName="pending">Pending</mat-checkbox>
			</section>
		</form>

		<div 
			class="col-12 card-page fadeIn" 
			*ngIf="!loadingPendingPages && (!pages || !pages.length)">
			{{ 'MODERATORS.LABEL_NO_RESULTS' | translate }}
		</div>
		<ng-container *ngFor="let p of pages">
			<div
				*ngIf="(p.status === 'accepted' && accepted.value) || (p.status === 'rejected' && rejected.value) || (p.status === 'pending' && pending.value)"
				class="col-12 col-md-6 card-page fadeIn" >
				<mat-card class="card-article">
					<h2
						class="link"
						[routerLink]="['/', routeLang, 'preview', p.page.id]">
						{{ p.page.title }} 
					</h2>
					<mat-card *ngIf="p.page.img" class="card-image text-center">
						<app-safe-image-container
						[imgTX]="p.page.img!"></app-safe-image-container>
					</mat-card>
					<div>
						{{ 'PAGE.LABEL_SLUG' | translate }}: {{  p.page.slug }}
					</div>
					<div>
						{{ 'PAGE.LABEL_CATEGORY' | translate }}:
						<a
							[routerLink]="['/', routeLang, 'category', p.page.category]">{{ p.page.category }}</a>
					</div>
					<div>
						{{ 'PAGE.LABEL_LANGUAGE' | translate }}: {{ p.page.language }}
					</div>
					<div>
						Page value: {{ p.page.value }} {{ ticker }}
					</div>
					<div class="text-right">
		  			Status: 
		  			<span *ngIf="p.status === 'accepted'"
		  				class="active-label">{{ p.status }}</span>
		  			<span *ngIf="p.status === 'rejected'"
		  				class="inactive-label">{{ p.status }}</span>
		  			<span *ngIf="p.status === 'pending'"
		  				class="warning-label">{{ p.status }}</span>
		  		</div>
				  <hr class="mbt20">
				  <div class="red mini-text" *ngIf="!p.page.block || !p.page.block.height">
						<strong>{{ 'PAGE.LABEL_TX_STATUS' | translate }}: </strong>
						{{ 'PAGE.STATUS_TX_PENDING' | translate }} 
					</div>
					<div class="mini-text"> 
						<app-arweave-address 
							[address]="p.page.id"
							[isAddress]="false">{{ 'PAGE.LABEL_ID' | translate }}: </app-arweave-address>
					</div>
					<div class="mini-text">
						<app-arweave-address [address]="p.page.owner!">{{ 'PAGE.LABEL_OWNER' | translate }}: </app-arweave-address>
					</div>
					<div class="mini-text" *ngIf="p.page.block && p.page.block.height">
						<strong>{{ 'PAGE.LABEL_BLOCK_HEIGHT' | translate }}:</strong>
						{{ p.page.block.height }} 
					</div>
					<div class="mini-text" *ngIf="p.page.block && p.page.block.timestamp">
						<strong>{{ 'PAGE.LABEL_BLOCK_TIMESTAMP' | translate }}:</strong>
						{{ timestampToDate(p.page.block.timestamp) | date:'short' }} 
					</div>
				  <hr class="mbt20">
					<div *ngIf="originalPage" class="red mini-text">
						<div *ngIf="originalPage.title != p.page.title">
							<strong>+ Title is different!</strong>
							<br>
							Original: {{ originalPage.title }}
						</div>
						<div *ngIf="originalPage.img != p.page.img">
							<strong>+ Image is different!</strong>
							<br>
							Original: {{ originalPage.img }}
							<br>
							<div class="original-img">
								<app-safe-image-container
									[imgTX]="originalPage.img!"></app-safe-image-container>
							</div>
						</div>
						<div *ngIf="originalPage.category != p.page.category">
							<strong>+ Category is different!</strong>
							<br>
							Original: {{ originalPage.category }}
						</div>
					</div>
				  <hr class="mbt20">
					
					<div class="text-right">
						<a
							mat-flat-button
							matTooltip="Approve page update"
							(click)="confirmApproveArWikiPageUpdate(p.page.slug, p.page.id, p.page.category, p.page.value!, p.page.owner!)"
							class="approve-btn card-btn">
							<mat-icon>done</mat-icon>
							Approve
						</a>
						<a
							mat-flat-button
							color="warn"
							matTooltip="Reject page update"
							(click)="confirmRejectArWikiPageUpdate(p.page.slug, p.page.id)"
							class="card-btn">
							<mat-icon>delete</mat-icon>
							Reject
						</a>
						<a 
							mat-flat-button
							color="primary"
							matTooltip="Preview"
							routerLink="../../../preview/{{p.page.id}}"
							class="card-btn">
							<mat-icon>visibility</mat-icon>
							Preview
						</a>
						<a 
							mat-flat-button
							color="primary"
							matTooltip="Original"
							routerLink="../../../{{p.page.slug}}"
							class="card-btn">
							<mat-icon>visibility</mat-icon>
							Original
						</a>
						<a 
							mat-flat-button
							color="primary"
							matTooltip="Compare versions"
							(click)="compare(p.page.id, p.page.slug)"
							class="card-btn">
							<mat-icon>difference</mat-icon>
							Differences
						</a>
					</div>
				</mat-card>
			</div>
		</ng-container>
		<div
			class="col-12 text-center btn-more-container"
			*ngIf="!hideBtnMoreUpdates && !loadingPendingPages">
			<button
				mat-flat-button 
				class="btn-more-articles"
				[disabled]="loadingNextUpdates"
				(click)="nextUpdates()">
				{{ 'GENERAL.BUTTONS.MORE_ARTICLES' | translate }}
			</button>
		</div>
		<div
			*ngIf="!loadingPendingPages"
			class="col-12 total-results text-right">
			Total results: {{ totalResults }}
		</div>
	</div>
	<div
		class="row fadeIn" 
		*ngIf="loadingInteraction && (!acceptUpdateTx && !interactionErrorMessage)">
		<div class="col text-center">
			<mat-spinner class="spinner-center"></mat-spinner>
			<h1 class="text-center">🚀 Hold on! We are almost there!</h1>
		</div>
	</div>
	<div class="row fadeIn" *ngIf="acceptUpdateTx">
		<div class="col text-center">
			<h1 class="text-center">🥳 Update approved!</h1>
			<p class="text-center">TxID: {{ acceptUpdateTx }}</p>
			<a 
				mat-button 
				target="_blank"
				href="https://viewblock.io/arweave/tx/{{acceptUpdateTx}}" 
				class="text-center">https://viewblock.io/arweave/tx/{{ acceptUpdateTx }}
			</a>		
		</div>
	</div>
	<div class="row fadeIn" *ngIf="rejectUpdateTx">
		<div class="col text-center">
			<h1 class="text-center">🥳 Update rejected!</h1>
			<p class="text-center">TxID: {{ rejectUpdateTx }}</p>
			<a 
				mat-button 
				target="_blank"
				href="https://viewblock.io/arweave/tx/{{rejectUpdateTx}}" 
				class="text-center">https://viewblock.io/arweave/tx/{{ rejectUpdateTx }}
			</a>		
		</div>
	</div>
	<div class="row fadeIn" *ngIf="interactionErrorMessage">
		<div class="col text-center">
			<h1 class="text-center">Oops! something went wrong</h1>
			<p class="text-center">{{ interactionErrorMessage }}</p>
		</div>
	</div>

</div>
