<h2 mat-dialog-title *ngIf="data.title">{{ data.title }}</h2>
<form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
  <mat-dialog-content>
    <mat-form-field class="content" color="accent" >
      <mat-label>Enter your password</mat-label>
      <input
        matInput
        [type]="hide ? 'password' : 'text'"
        required formControlName="password">
      <button
        mat-icon-button matSuffix
        type="button"
        (click)="hide = !hide" 
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions align="start">
    <button mat-button 
      cdkFocusInitial (click)="close()">{{ data.closeLabel }}</button>
    <div class="menu-spacer"></div>
    <button
    	mat-flat-button
      [disabled]="!passwordForm.valid"
    	type="submit"
    	color="accent">{{ data.confirmLabel }}</button>
  </mat-dialog-actions>
</form>