<div class="container profile-container">
	<div class="row fadeIn">
		<h1 class="page-title col-12 col-md-9">
			Moderator's Profile
		</h1>
		<div class="text-right page-title-buttons col-12 col-md-3">
			<button 
	    	type="button"
		  	mat-button 
		  	class="btn-toolbar" 
		  	color="primary"
		  	(click)="donate()">
		    <mat-icon class="green-money animate__animated animate__heartBeat animate__slow animate__infinite">volunteer_activism</mat-icon>
		    {{ 'GENERAL.BUTTONS.BTN_DONATE' | translate }}
		  </button>
	    <button 
	    	type="button"
		  	mat-button 
		  	class="btn-toolbar" 
		  	color="primary"
		  	(click)="goBack()">
		    <mat-icon>navigate_before</mat-icon>
		    {{ 'GENERAL.BUTTONS.GO_BACK' | translate }}
		  </button>
		</div>
	</div>
	<div class="row fadeIn" *ngIf="address">
		<div class="col-12" *ngIf="loadingProfile">
			<mat-spinner class="spinner-center" ></mat-spinner>
		</div>
		<div class="col-12 text-right" *ngIf="isAdmin && !loadingProfile">
			<strong>Role:</strong> ⭐Moderator
		</div>
		<mat-card class="col-12 error" *ngIf="!isAdmin && !loadingProfile">
			<mat-card-title>Warning!</mat-card-title>
			<mat-card-content>
				The user is not a Moderator!
			</mat-card-content>
		</mat-card>	
		<div class="col-12" *ngIf="profile && !loadingProfile">
			<img *ngIf="profile.avatarURL" class="avatar" [src]="profile.avatarURL">
			<img *ngIf="!profile.avatarURL" class="avatar" [src]="defaultAvatar">
			<h2 *ngIf="profile.username"><span>{{profile.username}}</span></h2>
			<h4 *ngIf="profile.handleName">Handle: <span>{{profile.handleName}}</span></h4>
			<h4 *ngIf="profile.name">Name: <span>{{profile.name}}</span></h4>
			<app-arweave-address 
				class="mini-text"
				[address]="address"
				[showProfileImage]="false"
				[showHandleInAddress]="false"
				[isAddress]="true">Address: </app-arweave-address>
			<div class="row-col-social-media" *ngIf="profile.links">
				<a
					mat-button
					color="accent"
					*ngIf="profile.links['twitter']"
					target="_blank"
					[href]="socialLink(profile.links['twitter'], 'twitter')">
					<img class="invert-colors" src="./assets/img/social-media/twitterWhite.png">
					<span>{{profile.links['twitter']}}</span>
				</a>
				<a
					mat-button
					color="accent"
					*ngIf="profile.links['github']"
					target="_blank"
					[href]="socialLink(profile.links['github'], 'github')">
					<img class="invert-colors" src="./assets/img/social-media/github2.png">
					<span>{{profile.links['github']}}</span>
				</a>
				<a
					mat-button
					color="accent"
					*ngIf="profile.links['youtube']"
					target="_blank"
					[href]="socialLink(profile.links['youtube'], 'youtube')">
					<img class="invert-colors" src="./assets/img/social-media/ytWhite.png">
					<span>{{profile.links['youtube']}}</span>
				</a>
				<a
					mat-button
					color="accent"
					*ngIf="profile.links['instagram']"
					target="_blank"
					[href]="socialLink(profile.links['instagram'], 'instagram')">
					<img class="invert-colors" src="./assets/img/social-media/instagramWhite.png">
					<span>{{profile.links['instagram']}}</span>
				</a>
				<a
					mat-button
					color="accent"
					*ngIf="profile.links['facebook']"
					target="_blank"
					[href]="socialLink(profile.links['facebook'], 'facebook')">
					<img class="invert-colors" src="./assets/img/social-media/facebookWhite.png">
					<span>{{profile.links['facebook']}}</span>
				</a>
			</div>
			<p *ngIf="profile.bio" class="text-center bio">{{profile.bio}}</p>
		</div>
		<div class="col-12" *ngIf="!profile && !loadingProfile && address">
			<img class="avatar" [src]="defaultAvatar">
			<app-arweave-address 
				class="mini-text"
				[address]="address"
				[showProfileImage]="false"
				[showHandleInAddress]="false"
				[isAddress]="true">Address: </app-arweave-address>
		</div>
	</div>
	<div class="row fadeIn" *ngIf="address && !loadingProfile">
		<h2 class="col-12">
			Activity History
		</h2>
		<div class="col-12 history">
			<mat-tab-group color="accent">
			  <mat-tab label="Updates Approved">
			    <ng-template matTabContent>
			      <app-history-updates-approved [lang]="routeLang" [address]="address"></app-history-updates-approved>
			    </ng-template>
			  </mat-tab>
			  <mat-tab label="Pages Rejected">
			    <ng-template matTabContent>
			      <app-history-pages-rejected [lang]="routeLang" [address]="address"></app-history-pages-rejected>
			    </ng-template>
			  </mat-tab>
			</mat-tab-group>

		</div>
	</div>
	<div class="row fadeIn" *ngIf="!address">
		<div class="col">
			Profile not found.
		</div>
	</div>
</div>	