.menu-spacer {
  flex: 1 1 auto;
}

.status-toolbar {
	background-color: black;
	color: white;
	padding: 4px;
	padding-right: 20px;
}

.logo {
}

.logo-text {
	margin-left: 6px;
	font-weight: bold;
	font-family: "Roboto";
	font-size: 2.0rem;
	font-weight: bold !important;
	text-transform: capitalize;
	cursor: pointer;
	outline: none;
}

.translate-icon {
}

.theme-icon {
}

mat-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}