.status-toolbar {
	background-color: black;
	color: white;
	padding: 4px;
	padding-right: 20px;
}

.logo {
}

.logo-text {
	margin-left: 6px;
	font-weight: bold;
	font-family: "Roboto Mono", monospace;
	font-weight: bold !important;
	text-transform: capitalize;
	cursor: pointer;
	outline: none;
	font-size: 1.6rem;
	
}

@media (min-width: 600px) {
	.logo-text {
		font-size: 2.0rem;
		
	}

}

.translate-icon {
}

.theme-icon {
}

mat-toolbar, mat-progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.search-container {
	padding: 10px;
	width: 240px;
}

.sup-txt {
	vertical-align: super;
	font-size: 0.6rem;
	margin-left: 6px;
	border-radius: 10%;
	padding: 2px;
	padding-left: 6px;
	padding-right: 6px;
	background-color: black;
	text-transform: uppercase;
	color: white;
}