<mat-toolbar 
  *ngIf="maintoolbarVisible" 
  color="primary" 
  class="fadeIn mat-elevation-z4">
  <button 
    mat-icon-button 
    class="menu-icon" 
    (click)="toggleSideMenu()"
    matTooltip="Show menu"
    aria-label="Menu">
    <mat-icon>menu</mat-icon>
  </button>

  <span 
    class="logo-text fadeIn" 
    routerLink="{{ routerLang }}/">{{ appName }}<span class="sup-txt">Alpha</span>
  </span>
 
  <span class="menu-spacer"></span>
  <button 
      [matMenuTriggerFor]="searchMenu"
      mat-icon-button 
      class="theme-icon"
      matTooltip="{{ 'MAIN_TOOLBAR.TOOLTIP_SEARCH' | translate }}">
    <mat-icon>search</mat-icon>
  </button>
  <mat-menu #searchMenu="matMenu" >
    <form [formGroup]="frmSearch" (ngSubmit)="onSearch()">
      <mat-form-field (click)="$event.stopPropagation();" class="search-container">
        <mat-label>Search</mat-label>
        <input formControlName="searchQry" matInput autocomplete="off" placeholder="" required>
      </mat-form-field>
    </form>
  </mat-menu>

  <button 
      [matMenuTriggerFor]="settingsMenu"
      mat-icon-button 
      class="theme-icon"
      matTooltip="{{ 'MAIN_TOOLBAR.TOOLTIP_SETTINGS' | translate }}">
    <mat-icon>settings</mat-icon>
  </button>
  <mat-menu #settingsMenu="matMenu">
    <button mat-menu-item [matMenuTriggerFor]="themeMenuOptions">
      <mat-icon>format_color_fill</mat-icon> {{ 'MAIN_TOOLBAR.MENU_SETTINGS_THEME' | translate }}
    </button>
    <button mat-menu-item (click)="openLangModal()">
      <mat-icon>language</mat-icon> {{ 'MAIN_TOOLBAR.MENU_SETTINGS_LANGUAGE' | translate }}
    </button>
  </mat-menu>
  <mat-menu #themeMenuOptions="matMenu">
    <button mat-menu-item (click)="setMainTheme('arwiki-light')">
      <mat-icon>light_mode</mat-icon> Light theme
    </button>
    <button mat-menu-item (click)="setMainTheme('arwiki-dark')">
      <mat-icon>dark_mode</mat-icon> Dark theme
    </button>
  </mat-menu>

  <button 
    mat-icon-button 
    (click)="login()"
    matTooltip="{{ 'MAIN_TOOLBAR.TOOLTIP_LOGIN' | translate }}"
    *ngIf="!isLoggedIn">
    <mat-icon>login</mat-icon>
  </button>
  <button 
    mat-icon-button 
    [matMenuTriggerFor]="moderatorsMenu"
    *ngIf="isModerator">
    <mat-icon>admin_panel_settings</mat-icon>
  </button>
  <mat-menu #moderatorsMenu="matMenu">
    <div>
      <button mat-menu-item routerLink="/{{ routerLang }}/moderators/pending">
        <mat-icon>pending_actions</mat-icon> {{ 'MAIN_TOOLBAR.MENU_MODERATOR_PENDING' | translate }}</button>
      <button mat-menu-item routerLink="/{{ routerLang }}/moderators/approved">
        <mat-icon>task_alt</mat-icon> {{ 'MAIN_TOOLBAR.MENU_MODERATOR_APPROVED' | translate }}</button>
      <button mat-menu-item routerLink="/{{ routerLang }}/moderators/deleted">
        <mat-icon>delete</mat-icon> {{ 'MAIN_TOOLBAR.MENU_MODERATOR_DELETED' | translate }}</button>
      <button mat-menu-item routerLink="/{{ routerLang }}/moderators/add-admin">
        <mat-icon>add_moderator</mat-icon> {{ 'MAIN_TOOLBAR.MENU_MODERATOR_ADD_MODERATOR' | translate }}</button>
      <button mat-menu-item routerLink="/{{ routerLang }}/moderators/view-admin-list"><mat-icon>view_list</mat-icon> {{ 'MAIN_TOOLBAR.MENU_MODERATOR_VIEW_ADM_LIST' | translate }}</button>
    </div>
  </mat-menu>
  <button 
    mat-icon-button 
    [matMenuTriggerFor]="accountMenu"
    *ngIf="isLoggedIn">
    <img *ngIf="profileImage" class="avatar" [src]="profileImage">
    <mat-icon *ngIf="!profileImage">account_circle</mat-icon>
  </button>
  <mat-menu #accountMenu="matMenu">
    <div>
      <button 
        mat-menu-item
        routerLink="{{ routerLang }}/dashboard">
         <mat-icon>dashboard</mat-icon> {{ 'MAIN_TOOLBAR.MENU_USER_DASHBOARD' | translate }}
      </button>
      <button 
        mat-menu-item
        routerLink="{{ routerLang }}/my-pages">
         <mat-icon>folder_open</mat-icon> {{ 'MAIN_TOOLBAR.MENU_USER_MY_PAGES' | translate }}
      </button>
      <button 
        mat-menu-item
        routerLink="{{ routerLang }}/my-updates">
         <mat-icon>archive</mat-icon> {{ 'MAIN_TOOLBAR.MENU_USER_MY_UPDATES' | translate }}
      </button>
      <button 
        mat-menu-item
        routerLink="{{ routerLang }}/create-page">
         <mat-icon>post_add</mat-icon> {{ 'MAIN_TOOLBAR.MENU_USER_CREATE' | translate }}
      </button>
      <button 
        mat-menu-item
        (click)="logout()">
         <mat-icon>logout</mat-icon> {{ 'MAIN_TOOLBAR.MENU_USER_LOGOUT' | translate }}
      </button>
    </div>
  </mat-menu>
  

  
  
</mat-toolbar>
<mat-progress-bar mode="indeterminate" *ngIf="loading | async"></mat-progress-bar>
