.menu-spacer {
  flex: 1 1 auto;
}

.status-toolbar {
	background-color: black;
	color: white;
	padding: 4px;
	padding-right: 20px;
}

.logo {
}

.logo-text {
	margin-left: 6px;
	font-weight: bold;
  font-family: "Roboto Mono", monospace;
  font-size: 2.0rem;
  font-weight: bold !important;
}

.translate-icon {
}

.theme-icon {
}
