<mat-toolbar 
  *ngIf="routePath !== '/'" 
  color="primary" 
  class="fadeIn mat-elevation-z6">
  <button 
    mat-icon-button 
    class="menu-icon" 
    (click)="toggleSideMenu()"
    matTooltip="Show menu"
    aria-label="Menu">
    <mat-icon>menu</mat-icon>
  </button>

  <span class="logo-text">arweave</span>
  <span class="menu-spacer"></span>

  <button 
    mat-icon-button 
    (click)="login()"
    matTooltip="{{ 'MAIN_TOOLBAR.TOOLTIP_LOGIN' | translate }}"
    *ngIf="!isLoggedIn">
    <mat-icon>login</mat-icon>
  </button>
  <button 
    mat-icon-button 
    [matMenuTriggerFor]="accountMenu"
    *ngIf="isLoggedIn">
    <mat-icon>account_circle</mat-icon>
  </button>
  <mat-menu #accountMenu="matMenu">
    <div>
      <button 
        mat-menu-item
        routerLink="{{ routerLang }}/dashboard">
         <mat-icon>dashboard</mat-icon> {{ 'MAIN_TOOLBAR.MENU_USER_DASHBOARD' | translate }}
      </button>
      <button 
        mat-menu-item
        routerLink="{{ routerLang }}/create-page">
         <mat-icon>add_circle</mat-icon> {{ 'MAIN_TOOLBAR.MENU_USER_CREATE' | translate }}
      </button>
      <button 
        mat-menu-item
        (click)="logout()">
         <mat-icon>logout</mat-icon> {{ 'MAIN_TOOLBAR.MENU_USER_LOGOUT' | translate }}
      </button>
    </div>
  </mat-menu>
  <button 
      [matMenuTriggerFor]="langMenu"
      mat-icon-button 
      class="theme-icon"
      matTooltip="{{ 'MAIN_TOOLBAR.TOOLTIP_LANGUAGE' | translate }}">
    <mat-icon>language</mat-icon>
  </button>
  <mat-menu #langMenu="matMenu">
    <mat-spinner *ngIf="loadingLangs"></mat-spinner>
    <div *ngIf="!loadingLangs">
      <button 
        mat-menu-item 
        *ngFor="let langCode of langCodes"
        (click)="setLanguage(langCode)">
         {{ langsCopy[langCode].native_name }}
      </button>
    </div>
  </mat-menu>

	<button 
  		[matMenuTriggerFor]="themeMenu"
  		mat-icon-button 
      class="theme-icon"
      matTooltip="{{ 'MAIN_TOOLBAR.TOOLTIP_THEME' | translate }}">
    <mat-icon>format_color_fill</mat-icon>
  </button>
  <mat-menu #themeMenu="matMenu">
	  <button mat-menu-item (click)="setMainTheme('arwiki-light')">Light theme</button>
	  <button mat-menu-item (click)="setMainTheme('arwiki-dark')">Dark theme</button>
	</mat-menu>
  <button 
      [matMenuTriggerFor]="searchMenu"
      mat-icon-button 
      class="theme-icon"
      matTooltip="{{ 'MAIN_TOOLBAR.TOOLTIP_SEARCH' | translate }}">
    <mat-icon>search</mat-icon>
  </button>
  <mat-menu #searchMenu="matMenu" >
    <mat-form-field (click)="$event.stopPropagation();" style="padding: 10px; width: 240px">
      <mat-label>Search</mat-label>
      <input matInput autocomplete="off" placeholder="" required>
    </mat-form-field>
  </mat-menu>


</mat-toolbar>
