<div class="container profile-container">
	<div class="row fadeIn">
		<h1 class="page-title col-12 col-md-9">
			{{ 'PROFILE.TITLE' | translate }}
		</h1>
		<div class="text-right page-title-buttons col-12 col-md-3">
	    <button 
	    	type="button"
		  	mat-button 
		  	class="btn-toolbar" 
		  	color="primary"
		  	(click)="goBack()">
		    <mat-icon>navigate_before</mat-icon>
		    {{ 'GENERAL.BUTTONS.GO_BACK' | translate }}
		  </button>
		  <a
		  	mat-button 
		  	class="btn-toolbar" 
		  	color="primary"
		  	target="_blank"
		  	*ngIf="currentAddress == address"
		  	href="https://account.metaweave.xyz/">
		    <mat-icon>edit</mat-icon>
		    {{ 'GENERAL.BUTTONS.BTN_EDIT_PROFILE' | translate }}
		  </a>
		</div>
	</div>
	<div class="row fadeIn" *ngIf="address">
		<div class="col-12" *ngIf="loadingProfile">
			<mat-spinner class="spinner-center" ></mat-spinner>
		</div>
		<div class="col-12 text-right" *ngIf="isAdmin">
			<strong>Role:</strong> ⭐Moderator
		</div>
		<div class="col-12" *ngIf="profile && !loadingProfile">
			<img *ngIf="profile.avatarURL" class="avatar" [src]="profile.avatarURL">
			<img *ngIf="!profile.avatarURL" class="avatar" [src]="defaultAvatar">
			<h2 *ngIf="profile.username"><span>{{profile.username}}</span></h2>
			<h4 *ngIf="profile.handleName">Handle: <span>{{profile.handleName}}</span></h4>
			<h4 *ngIf="profile.name">Name: <span>{{profile.name}}</span></h4>
			<app-arweave-address 
				class="mini-text"
				[address]="address"
				[showProfileImage]="false"
				[showHandleInAddress]="false"
				[isAddress]="true">Address: </app-arweave-address>
			<div class="row-col-social-media" *ngIf="profile.links">
				<a
					*ngIf="profile.links.twitter"
					target="_blank"
					[href]="socialLink(profile.links.twitter, 'twitter')">
					<img class="invert-colors" src="./assets/img/social-media/twitterWhite.png">
				</a>
				<a
					*ngIf="profile.links.github"
					target="_blank"
					[href]="socialLink(profile.links.github, 'github')">
					<img class="invert-colors" src="./assets/img/social-media/github2.png">
				</a>
				<a
					*ngIf="profile.links.youtube"
					target="_blank"
					[href]="socialLink(profile.links.youtube, 'youtube')">
					<img class="invert-colors" src="./assets/img/social-media/ytWhite.png">
				</a>
				<a
					*ngIf="profile.links.instagram"
					target="_blank"
					[href]="socialLink(profile.links.instagram, 'instagram')">
					<img class="invert-colors" src="./assets/img/social-media/instagramWhite.png">
				</a>
				<a
					*ngIf="profile.links.facebook"
					target="_blank"
					[href]="socialLink(profile.links.facebook, 'facebook')">
					<img class="invert-colors" src="./assets/img/social-media/facebookWhite.png">
				</a>
			</div>
			<p *ngIf="profile.bio" class="text-center bio">{{profile.bio}}</p>
			<h2>
				Activity History
			</h2>

		</div>
		<div class="col-12" *ngIf="!profile && !loadingProfile && address">
			<img class="avatar" [src]="defaultAvatar">
			<app-arweave-address 
				class="mini-text"
				[address]="address"
				[showProfileImage]="false"
				[showHandleInAddress]="false"
				[isAddress]="true">Address: </app-arweave-address>
		</div>
	</div>
	<div class="row fadeIn" *ngIf="!address">
		<div class="col">
			Profile not found.
		</div>
	</div>
</div>	