.mt-main {
	height:10px;
	margin-top: 47px;
}

@media (min-width: 600px) {
	.mt-main {
		margin-top: 54px;
	}
}

mat-toolbar {
	font-family: "Roboto Mono", monospace;
}

.mb20 {
	margin-bottom: 20px;
}

.mat-toolbar {
	padding-top: 12px;
	padding-bottom: 12px;
}

.row-table {
	margin-bottom: 20px;
}
.active-label {
  padding: 4px;
  background-color: #49AF41;
  color: #FFF;
  font-size: 10px;
  border-radius: 6px;
}
.inactive-label {
  padding: 4px;
  background-color: #E20000;
  color: #FFF;
  font-size: 10px;
  border-radius: 6px;
}
.table-container {
  overflow: auto;
}
.buttons-container {
	margin-bottom: 20px;
}
.col-max-width {
	max-width: 220px;
}