<h2 mat-dialog-title>Arweave File Manager</h2>
<mat-dialog-content class="mat-typography">
	<mat-tab-group mat-align-tabs="end" dynamicHeight>
	  <mat-tab label="Upload file">
	  	<div class="container">
	  		<div class="row">
	  			<div class="col mt20 mb20">
						<div class="mb20">
						  <label>Select an image: </label>
						  <input 
						  	type="file" 
						  	accept=".jpg,.jpeg,.png,image/jpeg,image/png" 
						  	[disabled]="loading"
						  	(change)="uploadFile($event)">
						</div>

						<div class="mb20 mt20 text-center">
							*The file will be uploaded directly to the permaweb so be careful!
						</div>
						<div class="text-center" *ngIf="transactionUploadUrl">
							Transaction info: <a target="_blank" mat-button color="primary" href="{{ transactionUploadUrl }}" >{{ transactionUploadUrl }}</a>
						</div>
						<div class="mb20 text-center" *ngIf="transactionId">
							Insert image ID <a [mat-dialog-close]="transactionId" target="_blank" mat-button color="primary" > INSERT </a>
						</div>
						<div>
							<mat-spinner style="margin: 0 auto" *ngIf="loading"></mat-spinner>
						</div>

		  		</div>
		  	</div>
	  	</div>
	  </mat-tab>
	  <mat-tab label="My files">
	  	<ng-template matTabContent>
	  		<mat-progress-bar mode="indeterminate" *ngIf="loadingMyArFiles"></mat-progress-bar>
		    <div class="row" *ngIf="files && files.length">
		    	<div class="col-12 col-md-4" *ngFor="let file of files" >
		    		<mat-card class="card-myfiles" [mat-dialog-close]="file.node.id">
		    			<img width="100%" src="{{ baseImgUrl + file.node.id }}" >
		    		</mat-card>
		    	</div>
		  	</div>
		  	<div class="row" *ngIf="!loadingMyArFiles && (!files || !files.length)">
		    	<div class="col-12" >
		    		<p class="no-results text-center">
		    			No results :)
		    		</p>
		    	</div>
		  	</div>
		  </ng-template>
	  </mat-tab>
	</mat-tab-group>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>
