<h2 class="title fadeIn">{{ 'DIALOGS.TITLE_SELECT_LANG' | translate }}</h2>
<mat-dialog-content class="text-center">
	<div *ngIf="loading">
	  <div class="row">
	  	<div class="col-6 col-md-4" *ngFor="let i of [1, 2, 3, 4, 5]">
				<ngx-skeleton-loader 
			  	count="1" 
			  	[animation]="getSkeletonLoaderAnimationType()"
			  	[theme]="getSkeletonLoaderThemeNgStyle()"
			  	></ngx-skeleton-loader>
			</div>

		</div>
	</div>
	<div *ngIf="!loading && !error">
	  <div class="row">
	  	<a mat-button 
	  		class="col-6 col-md-4 fadeIn" 
	  		*ngFor="let code of langCodes;"
	  		[mat-dialog-close]="langs[code]">
		  	{{ langs[code].native_name }}
			</a>
		</div>
	</div>
	<div *ngIf="!loading && error">
	  <p>
	  	{{ error }}
		</p>
	</div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close cdkFocusInitial>
  	{{ 'DIALOGS.TXT_CLOSE' | translate }}
  </button>
</mat-dialog-actions>