<mat-nav-list>
  <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
  <mat-checkbox class="option" (change)="setStayLoggedIn($event)">Stay Logged In</mat-checkbox>
  <mat-list-item (click)="login('arconnect')">
    <img matListAvatar src="./assets/img/arconnect.jpg">
    <span mat-line>ArConnect</span>
  </mat-list-item>
  <mat-list-item (click)="login('arweavewebwallet')">
    <img matListAvatar src="./assets/img/arweaveViewSmall.svg">
    <span mat-line>Arweave.app</span>
  </mat-list-item>
  <mat-list-item (click)="login('finnie')">
    <img matListAvatar src="./assets/img/koi.png">
    <span mat-line>Finnie Wallet</span>
  </mat-list-item>
  <mat-list-item (click)="uploadFileListener(fileUploader)" >
  	<mat-icon matListIcon>upload</mat-icon>
    <span mat-line>Load your key file</span>
    <span mat-line>*The key always remains in your browser</span>
  </mat-list-item>
</mat-nav-list>
<div style="visibility: hidden">
  <input type="file" 
      #fileUploader 
      accept=".json,application/json" 
      (change)="login('upload_file', $event)">
</div>