<mat-nav-list>
  <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
  <mat-checkbox class="option" (change)="setStayLoggedIn($event)">
    {{ 'LOGIN_DIALOG.STAYLOGGEDIN' | translate }}
  </mat-checkbox>
  <mat-list-item (click)="login('arconnect')">
    <img matListAvatar src="./assets/img/arconnect.jpg">
    <span mat-line>{{ 'LOGIN_DIALOG.OPTION_1.NAME' | translate }}</span>
  </mat-list-item>
  <mat-list-item (click)="login('arweavewebwallet')">
    <img matListAvatar src="./assets/img/arweaveViewSmall.svg">
    <span mat-line>{{ 'LOGIN_DIALOG.OPTION_2.NAME' | translate }}</span>
  </mat-list-item>
  <mat-list-item (click)="uploadFileListener(fileUploader)" >
  	<mat-icon matListIcon>upload</mat-icon>
    <span mat-line>{{ 'LOGIN_DIALOG.OPTION_3.NAME' | translate }}</span>
    <span mat-line>{{ 'LOGIN_DIALOG.OPTION_3.MSG' | translate }}</span>
  </mat-list-item>
</mat-nav-list>
<div style="visibility: hidden">
  <input type="file" 
      #fileUploader 
      accept=".json,application/json" 
      (change)="login('upload_file', $event)">
</div>