<mat-nav-list>
  <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
  <mat-list-item (click)="login('arconnect')">
    <img matListAvatar src="./assets/img/arconnect.jpg">
    <span mat-line>ArConnect (Beta)</span>
    <span mat-line>*Recommended</span>
  </mat-list-item>
  <mat-list-item (click)="uploadFileListener(fileUploader)" >
    <div style="visibility: hidden">
      <input type="file" 
          #fileUploader 
          accept=".json,application/json" 
          (change)="login('upload_file', $event)">
    </div>
  	<mat-icon matListIcon>upload</mat-icon>
    <span mat-line>Upload your private key file</span>
    <span mat-line>*The key will always remain on your browser</span>
  </mat-list-item>
  <mat-list-item (click)="login('waveid')">
  	<img matListAvatar src="./assets/img/weaveid_logo.png">
    <span mat-line>WaveID</span>
    <span mat-line>*Use your email address to generate a key</span>
  </mat-list-item>
  
</mat-nav-list>