.mat-list-item .mat-icon {
	padding: 0;
	width: 40px;
	height: 40px;
	display: flex;
    align-items: center;
    justify-content: center;
	border: 2px solid;
	box-sizing: border-box;
}

.option {
	display: flex;
    width: 100%;
    justify-content: center;
    padding: 16px;
}
.mat-line {
	font-family: "Roboto Mono", monospace;
}