<mat-progress-bar mode="indeterminate" class="loader" color="primary" *ngIf="loading"></mat-progress-bar>
<h2>Posted Updates</h2>
<table mat-table [dataSource]="pages" class="mat-elevation-z8" *ngIf="!loading && pages && pages.length">
  <ng-container matColumnDef="img">
    <th mat-header-cell *matHeaderCellDef> Img </th>
    <td style="padding: 6px;" mat-cell *matCellDef="let element"> 
    	<img width="100px" [src]="element.img" *ngIf="element.img">
    </td>
  </ng-container>
  <ng-container matColumnDef="slug">
    <th mat-header-cell *matHeaderCellDef> Slug </th>
    <td mat-cell  *matCellDef="let element">
    	<a mat-button class="ellipsis word-break" [routerLink]="['/', element.language, element.slug]">{{element.slug}}</a>
    </td>
  </ng-container>
  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef> Title </th>
    <td mat-cell *matCellDef="let element">
    	{{element.title}}
    </td>
  </ng-container>
  <ng-container matColumnDef="category">
    <th mat-header-cell *matHeaderCellDef> Category </th>
    <td mat-cell *matCellDef="let element">
    	<a mat-button href="./#/{{element.language}}/category/{{element.category}}">{{element.category}}</a>
    </td>
  </ng-container>
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> Tx </th>
    <td mat-cell *matCellDef="let element">
    	<a
    		target="_blank"
    		mat-button
    		href="https://viewblock.io/arweave/block/{{element.block.height}}">Block: {{ element.block.height }}
    	</a><br>
    	<app-arweave-address [address]="element.id" [isAddress]="false">Tx: </app-arweave-address>
    </td>
  </ng-container>
  <ng-container matColumnDef="start">
    <th mat-header-cell *matHeaderCellDef> Approved at</th>
    <td mat-cell *matCellDef="let element">
    	<a
    		target="_blank"
    		mat-button
    		href="https://viewblock.io/arweave/block/{{element.start}}">Block: {{element.start}}
    	</a>
    	<br>
    	<app-arweave-address
    		[address]="updateApprovedBy[element.id]"
    		[showHandleInAddress]="false"
    		[lang]="element.language">By: </app-arweave-address>

    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<div class="text-right" *ngIf="!loading && pages && pages.length">
  <button [disabled]="loadingMore" *ngIf="!eof" mat-button (click)="loadMoreResults()">
    <mat-spinner diameter="22" mode="indeterminate" class="spinner-icon" color="primary" *ngIf="loadingMore"></mat-spinner>
    Load more results
  </button>
</div>
<p *ngIf="!loading && (!pages || !pages.length)">
	No results found.
</p>