<div class="container preview-page-container">
	<div class="row">
		<h1 class="page-title col-9">
			Preview
		</h1>
		<div class="text-right page-title-buttons col-3">
	    <button 
	    	type="button"
		  	mat-button
		  	class="ml10 btn-toolbar" 
		  	color="primary"
		  	(click)="goBack()">
		    <mat-icon>navigate_before</mat-icon>
		    {{ 'CREATE_PAGE.FRM_BTN_GOBACK' | translate }}
		  </button>
		</div>
	</div>
	<mat-spinner class="spinner-center" *ngIf="loadingPage"></mat-spinner>
	<div class="row" *ngIf="page && !loadingPage">
		<h1 class="col-12">
			{{ page.title }}
		</h1>
		<div class="col-12">
			<strong>Slug:</strong> {{ page.slug }} / 
			<strong>Category</strong>: {{ page.category }} /
			<strong>Language:</strong> {{ page.language }}
		</div>
		<div class="col-12">
			<strong>Owner:</strong> {{ page.owner }}
		</div>
		<h4 class="col-12">Content:</h4> 
		<div class="col-12 col-md-3">
			<mat-card *ngIf="page.img">
				<img class="page-img" src="{{ baseURL + page.img }}">
			</mat-card>
			<mat-card *ngIf="!page.img">
				No main image.
			</mat-card>
		
		</div>
		<div class="col-12 col-md-9 arwiki-page-preview-container" [innerHTML]="htmlContent"></div>
	</div>	
</div>


	
