<div class="container preview-page-container">
	<div class="row">
		<h1 class="page-title col-9">
			Preview
		</h1>
<div class="text-right page-title-buttons col-3">
	    <button 
	    	type="button"
		  	mat-mini-fab 
		  	class="ml10" 
		  	color="primary"
		  	(click)="goBack()"
		  	matTooltip="{{ 'CREATE_PAGE.FRM_BTN_GOBACK' | translate }}">
		    <mat-icon>navigate_before</mat-icon>
		  </button>
		</div>
	</div>
	<mat-spinner class="spinner-center" *ngIf="loadingPage"></mat-spinner>
		
	<div class="row">
		<div class="col-12 arwiki-page-preview-container" [innerHTML]="htmlContent"></div>
	</div>	
</div>


	
