<mat-toolbar class="fadeIn moderatorsBreadcrumb" color="secondary">
  <mat-icon 
  	aria-hidden="false"
  	aria-label="Moderators">admin_panel_settings</mat-icon>
	<span>&nbsp;{{ 'MODERATORS.LABEL_TOOLBAR_TITLE' | translate }}</span>
	<span class="menu-spacer"></span>
</mat-toolbar>
<div class="container">
	<div class="row">
		<h1 class="page-title col-12 col-md-9">
			{{ title }}
		</h1>
		<div class="text-right page-title-buttons col-12 col-md-3">
	    <button 
	    	type="button"
		  	mat-button 
		  	class="ml10 btn-toolbar2" 
		  	color="primary"
		  	(click)="goBack()">
		    <mat-icon>navigate_before</mat-icon>
		    {{ 'CREATE_PAGE.FRM_BTN_GOBACK' | translate }}
		  </button>
		</div>
	</div>
</div>