<mat-toolbar class="fadeIn moderatorsBreadcrumb" color="secondary">
  <mat-icon 
  	aria-hidden="false"
  	aria-label="Moderators">admin_panel_settings</mat-icon>
	<span>&nbsp;{{ 'MODERATORS.LABEL_TOOLBAR_TITLE' | translate }}</span>
	<span class="menu-spacer"></span>
  <button mat-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
    Menu
  </button>
	<mat-menu #menu="matMenu">
	  <button mat-menu-item routerLink="/{{ routerLang }}/moderators/pending">
	  	<mat-icon>pending_actions</mat-icon> Pending pages</button>
	  <button mat-menu-item routerLink="/{{ routerLang }}/moderators/approved">
	  	<mat-icon>task_alt</mat-icon> Approved pages</button>
	  <button mat-menu-item routerLink="/{{ routerLang }}/moderators/add-admin">
	  	<mat-icon>add_moderator</mat-icon> Add moderator</button>
	  <button mat-menu-item routerLink="/{{ routerLang }}/moderators/view-admin-list"><mat-icon>view_list</mat-icon> View admin list</button>
	</mat-menu>


</mat-toolbar>
<div class="container">
	<div class="row">
		<h1 class="page-title col-9">
			{{ title }}
		</h1>
		<div class="text-right page-title-buttons col-3">
	    <button 
	    	type="button"
		  	mat-button 
		  	class="ml10" 
		  	color="primary"
		  	(click)="goBack()">
		    <mat-icon>navigate_before</mat-icon>
		    {{ 'CREATE_PAGE.FRM_BTN_GOBACK' | translate }}
		  </button>
		</div>
	</div>
</div>