.page-title, .page-title-buttons {
	margin-top: 10px;
	margin-bottom: 20px;
}


.moderatorsBreadcrumb {
	margin-top: 54px;
	margin-bottom: 40px;
}


@media (min-width: 600px) {
	.moderatorsBreadcrumb {
		margin-top: 64px;
	}
}


mat-toolbar {
	font-family: "Roboto Mono", monospace;
}