<h2 mat-dialog-title>
	<mat-icon class="title-icon">send</mat-icon>
	<span>{{ 'TOKEN_TRANSFER_DIALOG.TITLE' | translate }}</span>
</h2>
<form [formGroup]="frmTransfer" (ngSubmit)="onSubmit()" class="container">
	<mat-dialog-content class="row">
			<ng-container *ngIf="!loadingSendTokens">
			  <mat-form-field appearance="outline" color="accent" class="col-12">
			    <mat-label>{{ 'TOKEN_TRANSFER_DIALOG.RECIPIENT' | translate }}</mat-label>
			    <input 
			    	matInput 
			    	placeholder="Arweave address" 
			    	autocomplete="off" 
			    	formControlName="recipient">
			  </mat-form-field>
			  <mat-form-field appearance="outline" hintLabel="{{ 'TOKEN_TRANSFER_DIALOG.TOTAL_AVAILABLE' | translate }} {{ data.balance }}"  color="accent"  class="col-12">
			    <mat-label>{{ 'TOKEN_TRANSFER_DIALOG.AMOUNT' | translate }}</mat-label>
			    <input 
			    	matInput 
			    	placeholder="$WIKI amount" 
			    	type="number" min="0" 
			    	[max]="data.balance" 
			    	formControlName="amount"
			    	autocomplete="off">
		    	<span matSuffix>$WIKI</span>
			    <mat-hint class="link" (click)="amount!.setValue(data.balance)" align="end">{{ 'TOKEN_TRANSFER_DIALOG.MAX' | translate }}</mat-hint>
			  </mat-form-field>
			</ng-container>
			<div *ngIf="loadingSendTokens"  class="col-12">
				<div *ngIf="!transferTX" class="text-center">
					<mat-progress-bar mode="indeterminate"></mat-progress-bar>
					{{ 'TOKEN_TRANSFER_DIALOG.SENDING_TOKENS' | translate }}
				</div>
				<div *ngIf="transferTX">
			    <div>
			    	{{ 'TOKEN_TRANSFER_DIALOG.TOKENS_SENT' | translate }}
			    	<a 
							mat-button 
							target="_blank"
							href="https://viewblock.io/arweave/tx/{{transferTX}}" 
							class="text-center">https://viewblock.io/arweave/tx/{{ transferTX }}
						</a>	
			    </div>
			    <div>{{ 'TOKEN_TRANSFER_DIALOG.CLOSE_MSG' | translate }}</div>
				</div>
			</div>
			<br>
	</mat-dialog-content>
	<mat-dialog-actions align="end" class="actions">
	  <button 
	  	mat-flat-button 
	  	type="submit" 
	  	color="accent"
	  	[disabled]="!frmTransfer.valid || loadingSendTokens">
	  	<mat-icon>send</mat-icon> {{ 'TOKEN_TRANSFER_DIALOG.SEND' | translate }}
	  </button>
  	<div class="menu-spacer"></div>
	  <button 
	  	mat-flat-button 
	  	[mat-dialog-close]="transferTX" 
	  	cdkFocusInitial>{{ 'DIALOGS.TXT_CLOSE' | translate }}</button>
	</mat-dialog-actions>
</form>