.active .mat-mdc-list-item-line, a.active .mat-mdc-list-item-line {
	text-decoration: underline !important;
}

.mat-mdc-list-base .mat-mdc-list-item.mat-mdc-list-item-with-avatar,
.mat-mdc-list-base .mat-mdc-list-option.mat-mdc-list-item-with-avatar,
.mat-mdc-nav-list .mat-mdc-list-item {
	height: 40px;
}

.mat-mdc-nav-list .mat-mdc-list-item {
	padding-left: 24px;
	font-size: 14px;
}

.mat-mdc-list-item-line {
  color: inherit;
}
