<mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
<mat-nav-list *ngIf="loading">
  <div mat-subheader>MENU</div>
  <a mat-list-item 
    (click)="toggleSideMenu()"
    routerLink="{{ routerLang }}/"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{exact:true}">
    <div mat-line>{{ 'MAIN_MENU.HOME' | translate }}</div>
  </a>
  <div 
    style="margin-top: 10px"
    mat-list-item >
    <ngx-skeleton-loader 
      count="5" 
      [animation]="getSkeletonLoaderAnimationType()"
      [theme]="getSkeletonLoaderThemeNgStyle()"
      ></ngx-skeleton-loader>
  </div>
</mat-nav-list>

<mat-nav-list *ngIf="!loading">
  <div mat-subheader>MENU</div>
  <a mat-list-item 
    (click)="toggleSideMenu()"
    routerLink="{{ routerLang }}/"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{exact:true}">
    <div mat-line>{{ 'MAIN_MENU.HOME' | translate }}</div>
  </a>
  <mat-accordion 
    id="arwiki-main-menu-accordion"
    displayMode="flat">
    <mat-expansion-panel 
      *ngFor="let cs of category_slugs" 
      routerLinkActive
      [expanded]="isActiveRouteInCategory(cs)">
      <mat-expansion-panel-header>
        <mat-panel-title class="subheader">
          {{ 'MAIN_MENU.' + cs | translate }}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <a mat-list-item 
        (click)="toggleSideMenu()" 
        *ngFor="let page of menu[cs]"
        routerLink="{{ routerLang }}/{{ page.slug }}" 
        routerLinkActive="active">
        <div mat-line>{{ page.title }}</div>
      </a>
    </mat-expansion-panel>
  </mat-accordion>

</mat-nav-list>