.active {
	background-color: rgba(221, 221, 221, 0.5);
}

a {
	font-family: "Roboto Mono", monospace;
  letter-spacing: 0.025em;
  line-height: 1.666;
}

.mat-subheader {
	font-family: "Roboto Mono", monospace;
  letter-spacing: 0.025em;
  line-height: 1.666;
  font-weight: bold;
}