<mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
<mat-nav-list>
  <div mat-subheader>Menu</div>
  <a mat-list-item 
    (click)="toggleSideMenu()"
    routerLink="{{ routerLang }}/"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{exact:true}">
    <mat-icon mat-list-icon>home</mat-icon>
    <div mat-line>{{ 'MAIN_MENU.HOME' | translate }}</div>
  </a>
  <div *ngFor="let cs of category_slugs">
    <div mat-subheader *ngIf="menu[cs].length">{{ categories[cs].label }}</div>
    <a mat-list-item 
      (click)="toggleSideMenu()" 
      routerLink="{{ routerLang }}/{{ page.slug }}" 
      *ngFor="let page of menu[cs]"
      routerLinkActive="active">
      <div mat-line>{{ page.title }}</div>
    </a>

  </div>

  
</mat-nav-list>