.search-page-container {
	min-height: 600px;
	margin-top: 100px;
}

.search-page-container h1 {
	margin-bottom: 40px;
}
.search-page-container p {
}

.card-title {
	font-size: 2.5rem;
	font-family: "Roboto Mono", monospace;
	cursor: pointer;
}

.card-page {
	margin-bottom: 20px;
}

.card-preview {
	margin-bottom: 20px;
}

.mini-text {
	font-size: 12px;
	white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.btn-search {
	width: 100%;
	line-height: 58px;
}
.btn-sitemap {
	font-size: 12px;
	margin-bottom: 20px;
}
.btn-back {
	color: inherit;
}
.page-title-buttons {
	margin-top: 20px;
	margin-bottom: 20px;
}