<mat-toolbar class="fadeIn mt-main" color="default">
  <mat-icon 
  	aria-hidden="false"
  	aria-label="History">history</mat-icon>
	<span>&nbsp;History</span>
	<div class="menu-spacer"></div>
	<div class="text-right page-title-buttons">
    <button 
    	type="button"
	  	mat-button
	  	color="default"
	  	(click)="goBack()">
	    <mat-icon>navigate_before</mat-icon>
	    {{ 'GENERAL.BUTTONS.GO_BACK' | translate }}
	  </button>
	</div>
</mat-toolbar>
<mat-spinner class="spinner-center" *ngIf="loading"></mat-spinner>
<div class="container" *ngIf="!loading && !error">
	<h2>List of changes for `{{routeSlug}}`:</h2>
	<div class="row justify-content-md-center">
		<div class="col-12 col-md-10 ">
			<mat-card class="card-history">
				<mat-list>
					<ng-container *ngFor="let h of historyList; index as i; count as total">
						<mat-list-item 
							class="card-history-list-item">
							<img matListAvatar class="card-history-list-item-img md-show" *ngIf="h.img" [src]="h.img" alt="Mini">
    					<p matLine>
					      <img matListAvatar class="card-history-list-item-img xs-show" *ngIf="h.img" [src]="h.img" alt="Mini">
					    </p>
					    <p matLine>
					      <app-arweave-address [address]="h.id" [isAddress]="false">TX ({{total - i}}): </app-arweave-address>
					      <app-arweave-address
					      	*ngIf="total - i != 1"
					      	[address]="h.sponsor!"
					      	[lang]="routeLang">Approved by: </app-arweave-address>
					    </p>
					    <p matLine>
						    <span> 
						    	<strong>TX timestamp:</strong> {{ timestampToDate(h.block.timestamp) }}
						    </span>
					    </p>
					    <p matLine>
					      <span> 
						      <strong>Approved at block:</strong> {{ h.start }}
						    </span>
					    </p>
					    <p matLine class="text-right">
						    <a
								  mat-button
								  class="card-btn"
								  routerLink="/{{routeLang}}/preview/{{h.id}}">
									<mat-icon>visibility</mat-icon>
									Page preview
								</a>

								<button
								  mat-button
								  class="card-btn"
								  (click)="run_diff(h.id, historyList[i + 1] && historyList[i + 1].id ? historyList[i + 1].id : '', i)">
									<mat-icon>compare_arrows</mat-icon>
									Show Diff
								</button>
					    </p>
						</mat-list-item>
						<mat-spinner diameter="40" class="spinner-center"  *ngIf="historyChLoad && historyChLoad[i]"></mat-spinner>
						<div class="changes-container" *ngIf="historyChanges && historyChanges[i]">
							<div *ngFor="let change of historyChanges[i]">
								<div *ngIf="change.added" class="green">
									<strong>+ </strong> <strong>{{ change.value }}</strong>
								</div>
								<div *ngIf="change.removed" class="red">
									<strong>- </strong> {{ change.value }}
								</div>
							</div>
						</div>
						<mat-divider></mat-divider>
					</ng-container>
				</mat-list>
			</mat-card>
		</div>
	</div>
</div>
<div class="container" *ngIf="!loading && error">
	<h2>Page not found</h2>
</div>