.mt-main {
	margin-top: 57px;
}

@media (min-width: 600px) {
	.mt-main {
		margin-top: 54px;
	}
}

.page-title, .page-title-buttons {
	margin-top: 50px;
	margin-bottom: 50px;
}

.card-history {
	margin: 20px;
	margin-bottom: 40px;
}

.card-history-list-item {
	margin-bottom: 20px;
}

.mat-divider {
	margin-bottom: 20px !important;
	position: relative !important;

}

.changes-container {
	margin: 20px;
	font-size: 12px;
	word-break: break-word;
}