<div class="mt-main"></div>
<mat-toolbar class="fadeIn" color="default">
  <mat-icon 
  	aria-hidden="false"
  	aria-label="History">history</mat-icon>
	<span>&nbsp;History</span>
	<div class="menu-spacer"></div>
	<div class="text-right page-title-buttons">	
    <button 
    	type="button"
	  	mat-button
	  	color="default"
	  	(click)="goBack()">
	    <mat-icon>navigate_before</mat-icon>
	    {{ 'GENERAL.BUTTONS.GO_BACK' | translate }}
	  </button>
	</div>
</mat-toolbar>
<h1 class="text-center">Coming soon 👾 👾 👾</h1>