<div class="address-container">
	<span class="address-tx ellipsis">
		<strong><ng-content></ng-content></strong>
		{{ address }} 
	</span>
	<a 
		matTooltip="Verified user!"
		*ngIf="verified">
		<mat-icon class="green">verified_user</mat-icon>
	</a>
	<a 
		matTooltip="{{ 'GENERAL.BUTTONS.OPEN_VIEWBLOCK' | translate }}"
		target="_blank"
		href="https://viewblock.io/arweave/address/{{address}}">
		<mat-icon>open_in_new</mat-icon>
	</a>
	<a 
		matTooltip="{{ 'GENERAL.BUTTONS.COPY_ADDRESS' | translate }}"
		target="_blank"
		(click)="copyClipboard(address, 'Address copied!')">
		<mat-icon>content_copy</mat-icon>
	</a>
</div>