<div class="address-container">
	<strong class="address-label"><ng-content></ng-content></strong>
	<ng-container *ngIf="lang && address">
		<img
			[routerLink]="['/', lang, 'user', address]"
			*ngIf="profileImage && isAddress && showProfileImage"
			class="avatar"
			[src]="profileImage">
		<span
			[routerLink]="['/', lang, 'user', address]"
			class="address-nickname"
			*ngIf="nickname && showHandleInAddress">
			{{ nickname }} 
		</span>
		<span
			*ngIf="isAddress"
			[routerLink]="['/', lang, 'user', address]"
			class="address-tx-add ellipsis">
			{{ ellipsis(address) }}
		</span>
	</ng-container>
	<ng-container *ngIf="!lang && address">
		<img
			*ngIf="profileImage && isAddress && showProfileImage"
			class="avatar"
			[src]="profileImage">
		<span
			class="address-nickname"
			*ngIf="nickname && showHandleInAddress">
			{{ nickname }} 
		</span>
		<span *ngIf="isAddress" class="address-tx-add ellipsis">
			{{ ellipsis(address) }} 
		</span>
	</ng-container>
  
	<span *ngIf="!isAddress" class="address-tx ellipsis">
		{{ ellipsis(address) }} 
	</span>
	<a 
		class="action-btn icon-btn-sp"
		matTooltip="Vouched user!"
		target="_blank" 
		href="https://vouchdao.xyz/"
		*ngIf="vouched && showVouchedBtn">
		<mat-icon [inline]="true">verified_user</mat-icon>
	</a>
	<a 
		class="action-btn"
		matTooltip="{{ 'GENERAL.BUTTONS.OPEN_VIEWBLOCK' | translate }}"
		target="_blank"
		*ngIf="isAddress && address"
		href="https://viewblock.io/arweave/address/{{address}}">
		<mat-icon [inline]="true">open_in_new</mat-icon>
	</a>
	<a 
		class="action-btn"
		matTooltip="{{ 'GENERAL.BUTTONS.OPEN_VIEWBLOCK' | translate }}"
		target="_blank"
		*ngIf="!isAddress && address"
		href="https://viewblock.io/arweave/tx/{{address}}">
		<mat-icon [inline]="true">open_in_new</mat-icon>
	</a>
	<a 
		class="action-btn"
		matTooltip="{{ 'GENERAL.BUTTONS.OPEN_ARCODE' | translate }}"
		target="_blank"
		*ngIf="!isAddress && address && showArCodeLink"
		href="https://arcode.studio/#/{{address}}">
		<mat-icon [inline]="true">open_in_new</mat-icon>
	</a>
	<a 
		class="action-btn"
		matTooltip="{{ 'GENERAL.BUTTONS.OPEN_SONAR' | translate }}"
		target="_blank"
		*ngIf="!isAddress && address && showSonArContractLink"
		href="https://sonar.warp.cc/#/app/contract/{{address}}">
		<mat-icon [inline]="true">open_in_new</mat-icon>
	</a>
	<a 
		class="action-btn"
		matTooltip="{{ 'GENERAL.BUTTONS.COPY_ADDRESS' | translate }}"
		target="_blank"
		*ngIf="address"
		(click)="copyClipboard(address, 'Address copied!')">
		<mat-icon [inline]="true">content_copy</mat-icon>
	</a>
</div>