<div class="address-container">
	<strong class="address-label"><ng-content></ng-content></strong>
  <img [routerLink]="['/', lang, 'user', address]" *ngIf="profileImage && isAddress" class="avatar" [src]="profileImage">
	<span [routerLink]="['/', lang, 'user', address]" class="address-nickname" *ngIf="nickname">
		{{ nickname }} 
	</span>
	<span *ngIf="isAddress" [routerLink]="['/', lang, 'user', address]" class="address-tx-add ellipsis">
		{{ ellipsis(address) }} 
	</span>
	<span *ngIf="!isAddress" class="address-tx ellipsis">
		{{ ellipsis(address) }} 
	</span>
	<a 
		class="action-btn"
		matTooltip="Verified user!"
		*ngIf="verified">
		<mat-icon class="green" [inline]="true">verified_user</mat-icon>
	</a>
	<a 
		class="action-btn"
		matTooltip="{{ 'GENERAL.BUTTONS.OPEN_VIEWBLOCK' | translate }}"
		target="_blank"
		*ngIf="isAddress"
		href="https://viewblock.io/arweave/address/{{address}}">
		<mat-icon [inline]="true">open_in_new</mat-icon>
	</a>
	<a 
		class="action-btn"
		matTooltip="{{ 'GENERAL.BUTTONS.OPEN_VIEWBLOCK' | translate }}"
		target="_blank"
		*ngIf="!isAddress"
		href="https://viewblock.io/arweave/tx/{{address}}">
		<mat-icon [inline]="true">open_in_new</mat-icon>
	</a>
	<a 
		class="action-btn"
		matTooltip="{{ 'GENERAL.BUTTONS.COPY_ADDRESS' | translate }}"
		target="_blank"
		(click)="copyClipboard(address, 'Address copied!')">
		<mat-icon [inline]="true">content_copy</mat-icon>
	</a>
</div>