.card-latest-article {
	margin-bottom: 40px;
}

.card-latest-article-img {
	max-width: 80%;
	float: left;
	padding-right: 10px;
}

.card-latest-article-img img {
	max-width: 100%;
}

.card-latest-article h2 {
	cursor: pointer;
}

.article-card {
	margin-bottom: 20px;
}

.mini-text, .mini-text a.mat-button {
	font-size: 12px !important;
}

.mini-text {
	white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

a.mat-button{
	font-size: 18px;
}