<mat-progress-bar
				  mode="indeterminate"
				  *ngIf="!articleData"
				  class="fadeIn"></mat-progress-bar>
<mat-card class="card-latest-article fadeIn">
	<h2 routerLink="/{{routeLang}}/{{article.slug}}">
		{{ article.title }}
	</h2>
	<p *ngIf="articleData">
		{{ sanitizeMarkdown(articleData) }}
	</p>
	<p class="text-right mini-text">
		<strong>Category: </strong>
		<a
		   mat-button
		   routerLink="../category/{{article.category}}">
			{{ article.category }}
		</a>
	</p>
	<p class="text-right mini-text">
		<strong>Creation date: </strong>
		{{ timestampToDate(article.block.timestamp) | date:'short' }}
	</p>
	<p class="text-right mini-text">
		<strong>Created by:</strong>
		<app-arweave-address [address]="article.owner"></app-arweave-address>
	</p>
	<p class="text-right mini-text">
		<strong>TX:</strong> {{ article.id }}
	</p>
	<p class="text-right">

		<a mat-flat-button color="default">
			<mat-icon>paid</mat-icon>
		</a>
		&nbsp;

		<a
		   mat-flat-button
		   color="primary"
		   routerLink="/{{routeLang}}/{{article.slug}}">
			<mat-icon>visibility</mat-icon>
		</a>
	</p>
</mat-card>