.categories-list {
  padding-left: 22px;
  list-style: none;
  margin-top: 0px;
}
.cat-title {
  font-size: 22px;
}
.secondary-txt {
  font-size: 12px;
}
.cat-slug {
  padding-left: 4px;
  padding-right: 4px;
}
.total-pages {
  font-size: 14px;
  padding-left: 22px;
  margin-bottom: 20px;
}