<div class="search-engine">
	<form [formGroup]="searchForm" (ngSubmit)="onSubmitSearch()">
		<mat-form-field >
		  <mat-label>{{ 'SEARCH_ENGINE.INPUT_SEARCH_LABEL' | translate }}</mat-label>
		  <input 
		  	matInput 
		  	required 
		  	autocomplete="off" 
		  	formControlName="query"
		  	placeholder="{{ 'SEARCH_ENGINE.INPUT_SEARCH_PLACEHOLDER' | translate }}">
		</mat-form-field>
		<div class="row row-settings">
			<p class="col text-left">
				{{ 'SEARCH_ENGINE.LBL_DEFAULT_LANG' | translate }} <a mat-button routerLink="/{{ defaultLang.code }}">{{ defaultLang.native_name }}</a>
			</p>
			<p class="col text-right">
				<button 
					mat-button
					type="button"
					(click)="openSelectLanguageDialog()">
					{{ 'SEARCH_ENGINE.LBL_SELECT_LANG' | translate }}
				</button>
			</p>
		</div>
		<div class="text-center">
			<button 
				type="submit"
				[disabled]="!searchForm.valid"
				mat-raised-button 
				class="go-button"
				color="primary">
				<mat-icon>search</mat-icon> {{ 'SEARCH_ENGINE.BTN_TXT_GO' | translate }}
			</button>
		</div>
	</form>
</div>