<mat-sidenav-container #sidenavContainer class="main-container">
  <mat-sidenav 
  		mode="over" 
      [position]="menuPosition"
      autoFocus="false"
      [(opened)]="opened">
  	<app-main-menu [(opened)]="opened"></app-main-menu>
  </mat-sidenav>

  <mat-sidenav-content id="arwiki-mat-sidenav-main-content">
		<app-main-toolbar [(opened)]="opened"></app-main-toolbar>
		<router-outlet>
      <div 
        [style.display]="mainToolbarLoading ? null : 'none'"
        class="full-init-loader">
        <div 
          class="text-center loading-main-logo-container" >
          <img
            #mainLogoImg
            class="main-logo"
            [src]="mainLogo">
        </div>
        <div 
          id="main-loading-container-1" 
          #mainLoadingContainer1 
          class="loading loadingContainer">
          <div lang="en" dir="ltr">
            <span>L</span>
            <span>o</span>
            <span>a</span>
            <span>d</span>
            <span>i</span>
            <span>n</span>
            <span>g</span>
            <span>.</span>
            <span>.</span>
            <span>.</span>
          </div>
          <div class="text-center small fadeIn">
            <h2>{{ 'LOADING.QUOTES_TITLE' | translate }}</h2>
            <p>{{ 'LOADING.QUOTES.' + quoteNumber | translate }}</p>
          </div>
        </div>
      </div>
    </router-outlet>
	<div class="spacer"></div>
    <app-footer *ngIf="mainToolbarIsVisible"></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>
