.main-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

mat-sidenav {
  width: 330px;
}

mat-sidenav-content {
	display: flex;
	flex-direction: column;
}

@media (min-width: 600px) {
	mat-sidenav-content {
	}
}

router-outlet ~ div.spacer {
	flex: 1 0 0;
}

.full-init-loader {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}


.loading {
  font-size: 58px;
  text-align: center;
  text-indent: 4px;
  font-family: "Roboto Mono", monospace;
  display: block;
  font-weight: bold;
  span {
    display: inline-block;
    margin: 0 -.05em;
  }
}

.loading .small {
  width: 75%;
  margin: 0 auto;
  margin-top: 12px;
}

.loading .small h2,
.loading .small p {
  font-weight: normal;
  font-family: "Work Sans", sans-serif;
}

.loading .small h2 {
  font-size: 26px;
  margin-bottom: 0;
}
.loading .small p {
  font-size: 14px;
  margin-top: 0;
  text-align: center;
}

.wave-loading {
  span {
    animation: wave-loading .7s infinite;
    @for $i from 1 through 6 {
      &:nth-child(#{$i+1}) {
        animation-delay: #{$i*.1}s;
      }
    }
  }
}
@keyframes wave-loading {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(15px);
  }
}
