.main-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

mat-sidenav {
  width: 330px;
}

mat-sidenav-content {
	display: flex;
	flex-direction: column;
}

@media (min-width: 600px) {
	mat-sidenav-content {
	}
}

router-outlet ~ div.spacer {
	flex: 1 0 0;
}