.main-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

mat-sidenav {
  width: 330px;
}

mat-sidenav-content {
	display: flex;
	flex-direction: column;
}

@media (min-width: 600px) {
	mat-sidenav-content {
	}
}

router-outlet ~ div.spacer {
	flex: 1 0 0;
}

.full-init-loader {
  width: 100%;
  height: 100%;
  padding-top: 140px;
}


.loading {
  font-size: 48px;
  text-align: center;
  text-indent: 8px;
  font-family: "Roboto Mono", monospace;
  display: block;
  font-weight: bold;
  span {
    display: inline-block;
    margin: 0 -.05em;
  }
}

.loading .small {
  display: block;
  width: 80%;
  margin: 0 auto;
  margin-top: 40px;
}

@media (min-width: 800px) {
  .loading .small {
    width: 40%;
  }
}

.loading .small h2,
.loading .small p {
  font-weight: normal;
  font-style: italic;
  font-family: "Work Sans", sans-serif;
}

.loading .small h2 {
  font-size: 22px;
  margin-bottom: 0;
}
.loading .small p {
  font-size: 14px;
  margin-top: 0;
  text-align: center;
}

.loadingContainer span {
  opacity: 1;
}

.main-logo {
  width: 60px;
}

.loading-main-logo-container {
  width: 100%;
  display: block;
  text-align: center;
}