.main-page-container {
	min-height: 600px;
}

.secondary-title {
	margin-top: 60px;
	margin-bottom: 40px;
}
.article-card {
	margin-bottom: 20px;
}

.main-title {
	font-size: 46px;
}

.main-logo {
	margin-top: 40px;
}