.mt-main {
	margin-top: 64px;
}

.mt-main-pgbsep {
	height: 4px;
}

@media (max-width: 600px) {
	.mt-main {
		margin-top: 56px;
	}
}

.main-page-container {
	margin-top: 40px;
}

.main-page-container-articles {
	min-height: 600px;
	margin-top: 20px;
}

.secondary-title {
	margin-top: 10px;
	margin-bottom: 10px;
	font-weight: normal !important;
}
.article-card {
	margin-bottom: 20px;
}

.main-title {
	margin-top: 32px;
	margin-bottom: 10px;
	font-size: 30px;
}

.main-logo {
	float: left;
	width: 120px;
	margin-top: 40px;
	margin-right: 30px;
}

.portals-column {
	margin-top: 10px;
}

.portalBtnContainer {
	padding: 10px;
}

a.mat-button{
	font-size: 18px;
}

.title-p {
	margin-top: 0px;
	margin-bottom: 0px;
}

.title-latest-art {
	margin-bottom: 40px;
}

.card-latest-article {
	margin-bottom: 40px;
}


.card-latest-article-img {
	max-width: 80%;
	float: left;
	padding-right: 10px;
}

.card-latest-article-img img {
	max-width: 100%;
}