.main-page-container {
	min-height: 600px;
	margin-top: 20px;
}

.secondary-title {
	margin-top: 10px;
	margin-bottom: 40px;
	font-weight: normal !important;
}
.article-card {
	margin-bottom: 20px;
}

.main-title {
	font-size: 42px;
}

.main-logo {
	float: left;
	width: 80px;
	margin-top: 40px;
	margin-right: 20px;
}

.portals-column {
	margin-top: 10px;
}
