<div class="mt-main">
</div>
<mat-progress-bar color="accent" class="sticky-progress-bar" mode="indeterminate" *ngIf="loading"></mat-progress-bar>
<div class="mt-main-pgbsep" *ngIf="!loading">
</div>
<div class="container main-page-container fadeIn">
	<div class="row">
		<div class="col-12 col-md-7 text-center">
			<div *ngIf="loadingMainPageTX" class="fadeIn loadingMsg">
				<img
          class="main-logo animate__animated animate__flipInY"
          [src]="mainLogo">
				<h3 class="text-left animate__animated animate__pulse animate__infinite">
					{{ 'LOADING.LOADING_LABEL' | translate }}
				</h3>
			</div>
			<!-- Display Main Page TX content -->
			<div *ngIf="!loadingMainPageTX && mainPage" class="fadeIn">
				<img
          class="main-logo"
          [src]="mainLogo">
				<h1 class="text-left main-title fadeIn">
					{{ mainPage.title }}
				</h1>
				<div 
					*ngIf="mainPage.content" 
					class="text-justify secondary-mainPTX-content fadeIn"
					[innerHTML]="markdownToHTML(mainPage.content)"></div>

			</div>
			<!-- Default if not Main Page is found -->
			<div *ngIf="!loadingMainPageTX && !mainPage" class="fadeIn">
				<img
          class="main-logo"
          [src]="mainLogo">
				
				<h1 *ngIf="!loadingMainPageTX" class="text-left main-title fadeIn">
					{{ 'MAIN_PAGE.TITLE_L1' | translate }}
				</h1>
				<p 
					*ngIf="!loadingMainPageTX " 
					class="text-left secondary-title fadeIn">
					{{ 'MAIN_PAGE.SUBTITLE_L1' | translate }}
				</p>
			</div>

		</div>
		<div class="col-1 sep-column">
		</div>
		<div class="col-12 col-md-4 text-left portals-column">
			<h2 class="text-left">
				{{ 'MAIN_PAGE.TITLE_L2' | translate }}
			</h2>
			<div class="row" *ngIf="!categoriesSlugs.length">
				<div class="col-12 fadeIn portalBtnContainer" *ngFor="let i of [1, 2, 3, 4]">
					<ngx-skeleton-loader
										 count="1"
										 [animation]="getSkeletonLoaderAnimationType()"
										 [theme]="getSkeletonLoaderThemeNgStyle()"></ngx-skeleton-loader>
				</div>
			</div>
			<mat-nav-list>
				<mat-accordion 
			    id="arwiki-home-page-accordion"
			    displayMode="flat">
			    <mat-expansion-panel 
			      *ngFor="let cs of categoriesSlugs" >
			      <mat-expansion-panel-header>
			        <mat-panel-title class="subheader">
			          {{ 'MAIN_MENU.' + cs | translate }}
			        </mat-panel-title>
			      </mat-expansion-panel-header>
			      <a 
			      	mat-list-item
			        *ngFor="let page of pagesByCategory[cs]"
			        routerLink="/{{ routeLang }}/{{ page.slug }}" >
			        <div class="ellipsis">{{ page.title }}</div>
			      </a>
			      <a
			      	mat-list-item
			        routerLink="/{{ routeLang }}/category/{{ cs }}" >
			        <div><strong>{{ 'GENERAL.BUTTONS.VIEW_ALL' | translate }}</strong></div>
			      </a>
			    </mat-expansion-panel>
			  </mat-accordion>
			</mat-nav-list>

		</div>
	</div>

</div>

<div class="container main-page-container-articles fadeIn">
	<h2 class="text-left title-latest-art">
		{{ 'MAIN_PAGE.TITLE_L3' | translate }}
	</h2>
	<div *ngIf="!loadingLatestArticles && !latestArticles.length" class="row col-12 fadeIn">
		{{ 'MAIN_PAGE.LABEL_NO_RESULTS' | translate }}
	</div>
	<div class="row" *ngIf="!loadingLatestArticles">
		<div class="col-12 col-md-6" *ngFor="let article of latestArticles">
			<app-article-card 
							[article]="article" 
							[routeLang]="routeLang" 
							[defaultTheme]="defaultTheme"
							[baseURL]="baseURL"></app-article-card>
		</div>
	</div>
	<div *ngIf="loadingLatestArticles" class="col-12 row">
		<div class="col-12 col-md-6" *ngFor="let article of [1, 2, 3, 4]">
			<mat-card class="card-latest-article-skeleton fadeIn">
				<p>
					<ngx-skeleton-loader
											count="1"
											[animation]="getSkeletonLoaderAnimationType()"
											[theme]="getSkeletonLoaderThemeNgStyleTitleArticle()"></ngx-skeleton-loader>
				</p>
				<p>
					<ngx-skeleton-loader
											count="3"
											[animation]="getSkeletonLoaderAnimationType()"
											[theme]="getSkeletonLoaderThemeNgStylePLine()"></ngx-skeleton-loader>
				</p>
			</mat-card>
		</div>
	</div>
</div>

<div class="fadeIn container-partners" [class.dark]="this.defaultTheme === 'arwiki-dark'">
	<h2 class="text-center">{{ 'FOOTER.LBL_PARTNERS' | translate }}</h2>
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-4 col-sm-4 col-md-2 text-center card-partner" *ngFor="let p of sortedPartners()">
				<a *ngIf="p.href" [href]="p.href" target="_blank">
					<img  [class.dark]="this.defaultTheme === 'arwiki-dark' && !p.noInvert" [src]="p.img" [alt]="p.alt">
				</a>
				<img
					 *ngIf="!p.href"
					 [class.dark]="this.defaultTheme === 'arwiki-dark' && !p.noInvert" 
					 [src]="p.img" [alt]="p.alt">
			</div>
		</div>
	</div>
</div>