<h2 mat-dialog-title>
	<ng-container *ngIf="data.upvote">
		<mat-icon class="green title-icon">thumb_up</mat-icon>
		<span>{{ 'DIALOGS.TITLE_UPVOTE' | translate }}</span>
	</ng-container>
	<ng-container *ngIf="!data.upvote">
		<mat-icon class="red title-icon">thumb_down</mat-icon>
    <span>{{ 'DIALOGS.TITLE_DOWNVOTE' | translate }}</span>
	</ng-container>
</h2>
<mat-progress-bar 
  [color]="data.upvote ? 'primary' : 'warn'"
  mode="indeterminate"
  *ngIf="(loadingBalance || (loadingDonationInProgress && !txDonation)) && !errorMsg"
  class="fadeIn"></mat-progress-bar>
<mat-dialog-content class="container container-donate">
  <div *ngIf="data.mainAddress && !loadingDonationInProgress" class="row">
  	<p class="col-12 mini-text ellipsis text-center">
  		*You need to donate some AR to the page sponsor to vote.
    <p class="col-12 mini-text ellipsis">
      <app-arweave-address
        [address]="data.mainAddress">
        {{ 'DONATE_DIALOG.FROM' | translate }} 
      </app-arweave-address>
      <br>
      <strong>{{ 'DONATE_DIALOG.BALANCE' | translate }}  </strong>{{ balance }}
      <br>
      <strong>Page: </strong>{{ data.langCode }}/{{ data.slug }}
  	</p>
  	<div *ngIf="data.author" class="col-12 text-right mini-text ellipsis">
  		<mat-icon class="red">favorite</mat-icon>
  		<strong>{{ 'DONATE_DIALOG.TO' | translate }}  </strong>{{ data.author }}
  	</div>
  	<div *ngIf="data.sponsor" class="col-12 text-right mini-text ellipsis ">
      <app-arweave-address
        class="sponsor-address"
        [address]="data.sponsor">
        <mat-icon class="red">favorite</mat-icon> {{ 'DONATE_DIALOG.TO' | translate }}
      </app-arweave-address>
  	</div>
    <p class="col-12 mini-text">
      <strong>{{ 'DONATE_DIALOG.CHOOSE_AMOUNT' | translate }} </strong>
    </p>
  	<div class="text-center mini-text container-slider">
  		<mat-slider
        tickInterval="1"
        step="0.00001"
        min="0"
        [disabled]="loadingBalance"
        [max]="maxAmount"
        aria-label="AR"
        color="accent">
          <input matSliderThumb [(ngModel)]="amount">
        </mat-slider>
  	</div>
    <div  class="col-12 text-right mini-text clear-both">
      {{ amount }} AR
    </div>
  </div>
  <div *ngIf="!data.mainAddress">{{ 'DIALOGS.CONTENT_LOGIN_FIRST' | translate }}</div>
  <div *ngIf="loadingDonationInProgress && !errorMsg">
    <h1 *ngIf="!txDonation">{{ 'DONATE_DIALOG.TXINPROGRESS' | translate }}</h1>
    <h2 *ngIf="txDonation">🥳 Vote sent! Thank you very much for your support! 🙏🙌</h2>
    <h2 *ngIf="txDonation">{{ 'DONATE_DIALOG.CLOSEMSG' | translate }}</h2>
  </div>
  <div *ngIf="errorMsg">
    Error: {{ errorMsg }}
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
	<button 
  	mat-flat-button 
  	*ngIf="data.mainAddress && !loadingDonationInProgress" 
    [disabled]="!amount"
    color="accent"
  	(click)="voteAndDonate(amount, data.sponsor, data.slug, data.langCode, data.upvote)">
    {{ 'DIALOGS.TXT_CONFIRM' | translate }}
  </button>
  <div class="menu-spacer"></div>
  <button mat-button mat-dialog-close cdkFocusInitial>
    {{ 'DIALOGS.TXT_CLOSE' | translate }}
  </button>
</mat-dialog-actions>
