.address-container {
	text-decoration: inherit;
    color: inherit;
	cursor: pointer;
	min-width: 0;
	display: flex;
	align-items: baseline;
	white-space: nowrap;
}

.address {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

mat-icon {
	font-size: inherit;
	height: initial;
	width: initial;
}