
.addressurl {
 	justify-content: center;
}

.card-row-container {
	display: flex;
	justify-content: inherit;
	margin-top: 5px;

}
.community-table {
	width: 100%;
	margin-bottom: 40px;
}

.mb20 {
	margin-bottom: 20px;
}

.table-container {
  overflow: auto;
}
.mat-form-field {
  font-size: 14px;
  width: 100%;
}