<mat-progress-bar 
	color="accent"
	mode="indeterminate"
	*ngIf="loading"
	class="fadeIn"></mat-progress-bar>
<form
	[formGroup]="settingsForm"
	(ngSubmit)="onSubmit()"
	*ngIf="!loading">
	<mat-dialog-content>
	  <mat-form-field
	  	class="w100 form-field-outline-textarea"
	  	color="accent"
	  	appearance="outline">
	    <mat-label>Notes:</mat-label>
	    <textarea 
	    	matInput 
				autocomplete="off"
	    	maxlength="200"
	    	rows="4"
	    	formControlName="notes"></textarea>
	  </mat-form-field>
	</mat-dialog-content>
	<mat-dialog-actions>
	  <button
	  	color="accent" 
	  	mat-flat-button
	  	[disabled]="!settingsForm.valid">Submit</button>
	  <div class="menu-spacer"></div>
	  <button mat-button mat-dialog-close>Close</button>
	</mat-dialog-actions>
</form>