<mat-progress-bar 
	color="accent"
	mode="indeterminate"
	*ngIf="loadingSubmit"
	class="fadeIn"></mat-progress-bar>
<form
	[formGroup]="settingsForm"
	(ngSubmit)="onSubmit()">
	<mat-dialog-content>
		<div *ngIf="!tx && !error">
			<mat-form-field
		  	class="w100"
		  	color="accent"
		  	appearance="outline">
		  	<mat-label>Setting</mat-label>
				<mat-select
					(selectionChange)="updateValidatorsOnChange(selectOption.value!)"
					formControlName="selectOption">
					<mat-option value="">Select an option</mat-option>
					<mat-option value="quorum">Quorum</mat-option>
					<mat-option value="support">Support</mat-option>
					<mat-option value="lockMinLength">Minimum Lock Length</mat-option>
					<mat-option value="lockMaxLength">Maximum Lock Length</mat-option>
					<mat-option value="voteLength">Vote Length</mat-option>
					<mat-option value="pageApprovalLength">Page Approval Length</mat-option>
					<mat-option value="noteVoteMaxLength">Note max length</mat-option>
					<mat-option value="keyVoteMaxLength">Key max length</mat-option>
					<mat-option value="roleValueVoteMaxLength">Role max length</mat-option>
					<mat-option value="pageSlugMaxLength">Slug max length</mat-option>
					<mat-option value="role">Role</mat-option>
					<mat-option value="communityLogo">Community Logo</mat-option>
					<mat-option value="communityDescription">Community Description</mat-option>
					<mat-option value="communityAppUrl">Community App Url</mat-option>
					<mat-option value="other_numeric">Other (Numeric)</mat-option>
					<mat-option value="other_string">Other (String)</mat-option>
				</mat-select>
		  </mat-form-field>
		  <mat-form-field
		  	class="w100"
		  	color="accent"
		  	appearance="outline"
		  	*ngIf="showNumericValue">
		    <mat-label>Value:</mat-label>
		    <input
		    	matInput
		    	min="0"
		    	type="number"
		    	formControlName="numericValue">
		  </mat-form-field>
		  <mat-form-field
		  	class="w100"
		  	color="accent"
		  	appearance="outline"
		  	*ngIf="showStringValue">
		    <mat-label>Value:</mat-label>
		    <input
		    	matInput
		    	formControlName="stringValue">
		  </mat-form-field>
		  <mat-form-field 
				class="w100" 
				appearance="outline"
				color="accent"
				*ngIf="showRecipient">
				<mat-label>Recipient</mat-label>
				<input
					matInput
					[maxlength]="maxLengthAddress"
					autocomplete="off"
					placeholder="An arweave wallet address"
					formControlName="recipient" required>
			</mat-form-field>
		  <mat-form-field
		  	class="w100 form-field-outline-textarea"
		  	color="accent"
		  	appearance="outline">
		    <mat-label>Notes:</mat-label>
		    <textarea 
		    	matInput 
					autocomplete="off"
		    	[maxlength]="maxLengthNote"
		    	rows="4"
		    	formControlName="notes"></textarea>
		    <mat-hint align="end">
		   		{{notes.value!.length}}/{{maxLengthNote}}
		   	</mat-hint>
		  </mat-form-field>
		</div>
		<div *ngIf="tx">
			Vote created. TX ID: {{ tx }}
		</div>
		<div *ngIf="error">
			Error: {{ error }}
		</div>
	</mat-dialog-content>
	<mat-dialog-actions>
	  <button
	  	color="accent" 
	  	mat-flat-button
	  	*ngIf="!tx && !error"
	  	[disabled]="!settingsForm.valid || loadingSubmit">Submit</button>
	  <div class="menu-spacer"></div>
	  <button
	  	mat-button
	  	[mat-dialog-close]="tx"
	  	[disabled]="loadingSubmit">Close</button>
	</mat-dialog-actions>
</form>