<h2 mat-dialog-title>
	{{ 'MODERATORS.LANGUAGES.BTN_ADD_LANG' | translate }}
</h2>
<mat-progress-bar 
	color="accent"
	mode="indeterminate"
	*ngIf="loadingSubmit"
	class="fadeIn"></mat-progress-bar>
<form
	[formGroup]="newLanguageForm"
	(ngSubmit)="onSubmit()">
	<mat-dialog-content>
		<div *ngIf="!tx && !error">
			<mat-form-field 
				class="w100" 
				appearance="outline"
				color="accent">
				<mat-label>
					{{ 'MODERATORS.LANGUAGES.TBL_COL_CODE' | translate }}
				</mat-label>
				<input
					matInput
					(change)="code.setValue(code.value!.toLowerCase())"
					[maxlength]="maxLengthCode"
					autocomplete="off"
					formControlName="code" required>
				<mat-error ></mat-error>
			</mat-form-field>

			<mat-form-field
		  	class="w100"
		  	color="accent"
		  	appearance="outline">
		  	<mat-label>
		  		{{ 'MODERATORS.LANGUAGES.TBL_COL_WRITING_SYSTEM' | translate }}
		  	</mat-label>
				<mat-select
					formControlName="writing_system">
					<mat-option value="">{{ 'DIALOGS.INPUT_SEL_DEFAULT' | translate }}</mat-option>
					<mat-option value="LTR">LeftToRight</mat-option>
					<mat-option value="RTL">RightToLeft</mat-option>
				</mat-select>
		  </mat-form-field>

		  <mat-form-field 
				class="w100" 
				appearance="outline"
				color="accent">
				<mat-label>
					{{ 'MODERATORS.LANGUAGES.TBL_COL_ISO_NAME' | translate }}
				</mat-label>
				<input
					matInput
					[maxlength]="maxLengthISOName"
					autocomplete="off"
					formControlName="iso_name" required>
				<mat-error ></mat-error>
			</mat-form-field>

			<mat-form-field 
				class="w100" 
				appearance="outline"
				color="accent">
				<mat-label>
					{{ 'MODERATORS.LANGUAGES.TBL_COL_NATIVE_NAME' | translate }}
				</mat-label>
				<input
					matInput
					[maxlength]="maxLengthNativeName"
					autocomplete="off"
					formControlName="native_name" required>
				<mat-error ></mat-error>
			</mat-form-field>

		  
		</div>
		<div *ngIf="tx">
			New language added. TX ID: {{ tx }}
		</div>
		<div *ngIf="error">
			Error: {{ error }}
		</div>
	</mat-dialog-content>
	<mat-dialog-actions>
	  <button
	  	color="accent" 
	  	mat-flat-button
	  	*ngIf="!tx && !error"
	  	[disabled]="!newLanguageForm.valid || loadingSubmit">
	  	{{ 'DIALOGS.TXT_SUBMIT' | translate }}
	  </button>
	  <div class="menu-spacer"></div>
	  <button 
	  	mat-button
	  	[mat-dialog-close]="tx"
	  	[disabled]="loadingSubmit">
	  	{{ 'DIALOGS.TXT_CLOSE' | translate }}
	  </button>
	</mat-dialog-actions>
</form>