<mat-expansion-panel 
  *ngFor="let menuOption of menu" 
  routerLinkActive>
  <mat-expansion-panel-header>
    <mat-panel-title
      class="subheader"
      [ngStyle]="{ 'padding-left': leftPadding() }">
      {{ translations['MAIN_MENU.' + menuOption.category_slug] }}
    </mat-panel-title>
  </mat-expansion-panel-header>
  <a mat-list-item
    *ngFor="let page of menuOption.pages"
    routerLink="/{{ routerLang }}/{{ page.slug }}" 
    routerLinkActive="active">
    <div
      matListItemLine
      [ngStyle]="{ 'padding-left': leftPaddingPage() }">{{ page.title }}</div>
  </a>
  <app-sub-menu-mainpage
    *ngIf="menuOption.subcategories && menuOption.subcategories.length"
    [categories]="categories"
    [routerLang]="routerLang"
    [menu]="menuOption.subcategories"
    [level]="level + 1"></app-sub-menu-mainpage>
  <a mat-list-item
    routerLink="/{{ routerLang }}/category/{{ menuOption.category_slug }}" 
    routerLinkActive="active">
    <div
      matListItemLine
      [ngStyle]="{ 'padding-left': leftPadding() }">
    <strong>+ {{ 'GENERAL.BUTTONS.VIEW_ALL' | translate }}</strong>
    </div>
  </a>
</mat-expansion-panel>