<mat-expansion-panel 
  *ngFor="let menuOption of menu" 
  routerLinkActive
  [expanded]="activeRouteExpanded[menuOption.category_slug]">
  <mat-expansion-panel-header>
    <mat-panel-title
      class="subheader"
      [ngStyle]="{ 'padding-left': leftPadding() }">
      {{ categories[menuOption.category_slug].label }}
    </mat-panel-title>
  </mat-expansion-panel-header>
  <a mat-list-item 
    (click)="toggleSideMenu()" 
    *ngFor="let page of menuOption.pages"
    routerLink="{{ routerLang }}/{{ page.slug }}" 
    routerLinkActive="active">
    <div
      matListItemLine
      [ngStyle]="{ 'padding-left': leftPadding() }">{{ page.title }}</div>
  </a>
  <app-sub-menu
    *ngIf="menuOption.subcategories && menuOption.subcategories.length"
    [categories]="categories"
    [routerLang]="routerLang"
    [menu]="menuOption.subcategories"
    [level]="level + 1"
    (openedChange)="toggleSideMenu()" [opened]="opened"></app-sub-menu>
  <a mat-list-item 
    (click)="toggleSideMenu()" 
    routerLink="{{ routerLang }}/category/{{ menuOption.category_slug }}" 
    routerLinkActive="active">
    <div
      matListItemLine
      [ngStyle]="{ 'padding-left': leftPadding() }">
    <strong>+ {{ 'GENERAL.BUTTONS.VIEW_ALL' | translate }}</strong>
    </div>
  </a>
</mat-expansion-panel>