table {
  width: 90%;
  margin: 0 auto;
  margin-top: 20px;
}
.loader {
  margin: 0 auto;
}
.spinner-icon{
  float: left;
}
.title {
  margin-bottom: 0px;
}
.subtitle {
  margin-top: 0px;
}
.subtitle span {
  font-weight: normal;
}