.title-icon {
	font-size: 40px;
	line-height: 40px;
	width: 40px;
	height: 40px;
	vertical-align: middle;
}
.mat-mdc-dialog-title span {
	margin-left: 12px;
	vertical-align: middle;
	font-size: 26px;
	font-family: "Roboto Mono", monospace;
	line-height: 38px;
}
.container-stamp {
	margin: 0 auto;
}
.mini-text {
	font-size: 12px;
}
.footer-logo {
	text-align: center;
	margin-top: 12px;
}
.footer-logo img {
	filter: drop-shadow(5px 5px 10px #FFFFFF);
	width: 120px;
}
.stamp-btn {
	font-size: 18px;
	padding: 8px;
	margin: 0 auto;
	width: 70%;
	line-height: 28px;
}
.stamp-icon {
	width: 28px;
	float: left;
	margin-right: 6px;
}
.slider-balance {
	width: 60%;
}
.super-stamp-msg {
	max-width:400px;
	margin: 0 auto;
}
.balance-container {
	width: 250px;
	margin: 0 auto;
}