<div class="container page-container fadeIn">
	<app-moderators-menu></app-moderators-menu>

	<div class="row">
		<div class="col-12 col-md-6 card-page fadeIn" *ngFor="let p of pages">
			<mat-card>
				<div>
					Id: {{ p.node.id }} 
				</div>
				<div>
					Title: {{ searchKeyNameInTags(p.node.tags, 'Arwiki-Page-Title') }} 
				</div>
				<div>
					Slug: {{  searchKeyNameInTags(p.node.tags, 'Arwiki-Page-Slug') }}
				</div>
				<div>
					Category: {{ searchKeyNameInTags(p.node.tags, 'Arwiki-Page-Category') }}
				</div>
				<div>
					Language: {{ searchKeyNameInTags(p.node.tags, 'Arwiki-Page-Language') }}
				</div>
				<div>
					Owner: {{ p.node.owner.address }} 
				</div>
				<div>
					Status: Unapproved
				</div>
				<div class="text-right">
					<a mat-flat-button color="primary" routerLink="../../preview/{{p.node.id}}">
						Preview
					</a>
				</div>
			</mat-card>
		</div>
	</div>
</div>
