<app-moderators-menu title="Pending list"></app-moderators-menu>
<mat-spinner class="spinner-center" *ngIf="loadingPendingPages"></mat-spinner>
<div class="container page-container fadeIn">
	<div class="row" *ngIf="!loadingInsertPageIntoIndex">
		<div class="col-12 col-md-6 card-page fadeIn" *ngFor="let p of pages">
			<mat-card >
				<div> 

					Id: {{ p.id }} 
					
				</div>
				<div>
					Title: {{ p.title }} 
				</div>
				<div>
					Slug: {{  p.slug }}
				</div>
				<div>
					Category: {{ p.category }}
				</div>
				<div>
					Language: {{ p.language }}
				</div>
				<div>
					Owner: {{ p.owner }} 
				</div>
				<div *ngIf="arverifyProcessedAddressesMap[p.owner] && arverifyProcessedAddressesMap[p.owner].verified" class="green">
					Owner status: <mat-icon>verified_user</mat-icon> Verified ( {{ arverifyProcessedAddressesMap[p.owner].percentage }}% )
				</div>

				<div *ngIf="!arverifyProcessedAddressesMap[p.owner] || !arverifyProcessedAddressesMap[p.owner].verified" class="red">
					Owner status: Not verified ( {{ arverifyProcessedAddressesMap[p.owner].percentage }}% )
				</div>
				
				<div class="text-right">
					<a
						mat-flat-button
						(click)="confirmInsertPageToArWikiIndex(p.slug, p.id, p.category)"
						class="approve-btn">
						<mat-icon>done</mat-icon>
					</a>
					&nbsp;
					<a mat-flat-button color="primary" routerLink="../../preview/{{p.id}}">
						<mat-icon>visibility</mat-icon>
					</a>
				</div>
			</mat-card>
		</div>
	</div>
	<div class="row fadeIn" *ngIf="loadingInsertPageIntoIndex && !insertPageTxMessage">
		<div class="col text-center">
			<mat-spinner class="spinner-center"></mat-spinner>
			<h1 class="text-center">🚀 Hold on! We are almost there!</h1>
		</div>
	</div>
	<div class="row fadeIn" *ngIf="insertPageTxMessage">
		<div class="col text-center">
			<h1 class="text-center">🚀 Congratulations!</h1>
			<p class="text-center">TxID: {{ insertPageTxMessage }}</p>
			<a 
				mat-button 
				href="https://viewblock.io/arweave/tx/{{insertPageTxMessage}}" 
				class="text-center">https://viewblock.io/arweave/tx/{{ insertPageTxMessage }}
			</a>
			
		</div>
	</div>

</div>
