<app-moderators-menu title="{{ 'MODERATORS.PENDING_PAGE.TITLE_PENDING' | translate }}"></app-moderators-menu>
<mat-spinner class="spinner-center" *ngIf="loadingPendingPages"></mat-spinner>
<div class="container page-container fadeIn">
	<div class="row" *ngIf="!loadingInsertPageIntoIndex">

		<div 
			class="col-12 card-page fadeIn" 
			*ngIf="!loadingPendingPages && (!pages || !getKeys(pages).length)">
			{{ 'MODERATORS.LABEL_NO_RESULTS' | translate }}
		</div>

		<div class="col-12 col-md-6 card-page fadeIn" *ngFor="let p of getKeys(pages)">
			<mat-card >
				<h2 class="link" routerLink="../../preview/{{pages[p].id}}">
					{{ pages[p].title }} 
				</h2>
				<div>
					{{ 'PAGE.LABEL_SLUG' | translate }}: {{  pages[p].slug }}
				</div>
				<div>
					{{ 'PAGE.LABEL_CATEGORY' | translate }}: {{ pages[p].category }}
				</div>
				<div>
					{{ 'PAGE.LABEL_LANGUAGE' | translate }}: {{ pages[p].language }}
				</div>
				<div>
					{{ 'PAGE.LABEL_OWNER' | translate }}: {{ pages[p].owner }} 
				</div>
				<div>
					Page value: {{ pages[p].value }} $WIKI 
				</div>
				<div class="red" *ngIf="!pages[p].block || !pages[p].block.height">
					{{ 'PAGE.LABEL_TX_STATUS' | translate }}: {{ 'PAGE.STATUS_TX_PENDING' | translate }} 
				</div>
				<div> 
					{{ 'PAGE.LABEL_ID' | translate }}: {{ pages[p].id }} 
				</div>
				
				<div *ngIf="pages[p].block && pages[p].block.height">
					{{ 'PAGE.LABEL_BLOCK_HEIGHT' | translate }}: {{ pages[p].block.height }} 
				</div>
				<div *ngIf="pages[p].block && pages[p].block.timestamp">
					{{ 'PAGE.LABEL_BLOCK_TIMESTAMP' | translate }}: {{ timestampToDate(pages[p].block.timestamp) | date:'short' }} 
				</div>
				<div *ngIf="arverifyProcessedAddressesMap[pages[p].owner] && arverifyProcessedAddressesMap[pages[p].owner].verified" class="green">
					{{ 'PAGE.LABEL_OWNER_STATUS' | translate }}: <mat-icon>verified_user</mat-icon> {{ 'PAGE.STATUS_ADDRESS_VERIFIED' | translate }}
				</div>

				<div *ngIf="!arverifyProcessedAddressesMap[pages[p].owner] || !arverifyProcessedAddressesMap[pages[p].owner].verified" class="red">
					{{ 'PAGE.LABEL_OWNER_STATUS' | translate }}: {{ 'PAGE.STATUS_ADDRESS_NOTVERIFIED' | translate }}
				</div>
				<div *ngIf="arverifyProcessedAddressesMap[pages[p].owner] && arverifyProcessedAddressesMap[pages[p].owner].percentage">
					{{ 'PAGE.LABEL_ARVERIFY_SCORE' | translate }}: {{ arverifyProcessedAddressesMap[pages[p].owner].percentage }} %
				</div>
				
				<div class="text-right">
					<a
						mat-flat-button
						matTooltip="Approve page"
						(click)="confirmValidateArWikiPage(pages[p].slug, pages[p].id, pages[p].category, pages[p].value!, pages[p].owner)"
						class="approve-btn">
						<mat-icon>done</mat-icon>
						Approve page
					</a>
					&nbsp;
					<a 
						mat-flat-button
						color="primary"
						matTooltip="Preview"
						routerLink="../../preview/{{pages[p].id}}">
						<mat-icon>visibility</mat-icon>
						Preview
					</a>
				</div>
			</mat-card>
		</div>
	</div>
	<div class="row fadeIn" *ngIf="loadingInsertPageIntoIndex && !insertPageTxMessage">
		<div class="col text-center">
			<mat-spinner class="spinner-center"></mat-spinner>
			<h1 class="text-center">🚀 Hold on! We are almost there!</h1>
		</div>
	</div>
	<div class="row fadeIn" *ngIf="insertPageTxMessage">
		<div class="col text-center">
			<h1 class="text-center">🥳 Page successfully approved!</h1>
			<p class="text-center">TxID: {{ insertPageTxMessage }}</p>
			<a 
				mat-button 
				target="_blank"
				href="https://viewblock.io/arweave/tx/{{insertPageTxMessage}}" 
				class="text-center">https://viewblock.io/arweave/tx/{{ insertPageTxMessage }}
			</a>
			
		</div>
	</div>

</div>
