
.addressurl, .daosettings {
 	justify-content: center;
}

.card-row-container {
	display: flex;
	justify-content: inherit;
	margin-top: 5px;

}
.settings-table {
	width: 100%;
	margin-bottom: 40px;
}

.mb20 {
	margin-bottom: 20px;
}

