<div class="container">
	<div class="row">
		<div class="col-12 mb20">
			<mat-card>

				<app-arweave-address 
					class="addressurl" 
					[isAddress]="false"
		  		[showArCodeLink]="true"
		  		[showSonArContractLink]="true"
					address="{{ getPSTContractAddress() }}">
					{{ 'DASHBOARD.LABEL_PST_ADDRESS' | translate }}
				</app-arweave-address>
				
			</mat-card>
		</div>
		<div class="col-12 mini-text mb20">
			<table mat-table [dataSource]="daoSettings" class="mat-elevation-z8 settings-table">
			  <!--- Note that these columns can be defined in any order.
			        The actual rendered columns are set as a property on the row definition" -->

			  <!-- Position Column -->
			  <ng-container matColumnDef="label">
			    <th mat-header-cell *matHeaderCellDef> {{ 'DASHBOARD.COLUMN_LABEL' | translate }} </th>
			    <td mat-cell *matCellDef="let element"> {{element.label}} </td>
			  </ng-container>

			  <!-- Position Column -->
			  <ng-container matColumnDef="value">
			    <th mat-header-cell *matHeaderCellDef> {{ 'DASHBOARD.COLUMN_VALUE' | translate }} </th>
			    <td mat-cell *matCellDef="let element">
			    	{{ element.value }}
			    	<span *ngIf="element.specialValue">
			    		({{ element.specialValue }})
			    	</span>
			    </td>
			  </ng-container>

			  <tr mat-header-row *matHeaderRowDef="displayedColumnsDaoSettings"></tr>
			  <tr mat-row *matRowDef="let row; columns: displayedColumnsDaoSettings;"></tr>
			</table>
		</div>
	</div>
</div>