<div class="mt-main"></div>
<mat-progress-bar 
	mode="indeterminate"
	*ngIf="loadingBalance || loadingSettings"
	class="fadeIn"></mat-progress-bar>
<mat-toolbar class="fadeIn mb20" color="default">
  <mat-icon 
  	aria-hidden="false"
  	aria-label="Dashboard">dashboard</mat-icon>
	<span>&nbsp;Dashboard</span>
	<div class="menu-spacer"></div>
	<div class="text-right page-title-buttons">	
    <button 
    	type="button"
	  	mat-button
	  	color="default"
	  	(click)="goBack()">
	    <mat-icon>navigate_before</mat-icon>
	    {{ 'GENERAL.BUTTONS.GO_BACK' | translate }}
	  </button>
	</div>
</mat-toolbar>

<div class="container scoreboards-container fadeIn">
	<div class="row">
		<div class="col-12 col-md-6">
			<h1>My account</h1>
		</div>
		<div class="col-12 col-md-6 dashboard-toolbar">
			<button 
				class="btn-toolbar"
				mat-flat-button 
				type="button"
				(click)="transferTokensDialog()"
				[disabled]="loadingBalancePST"
				color="primary">
				<mat-icon>send</mat-icon> Transfer tokens
			</button>
			<button 
				class="btn-toolbar"
				mat-flat-button 
				type="button"
				[disabled]="loadingBalancePST"
				(click)="vaultDialog()"
				color="primary">
				<mat-icon class="yellow">vpn_key</mat-icon> Vault
			</button>
		</div>
	</div>
	<div class="row">
		<div class="col-12 col-md-6 scoreboard">
			<app-balance-card
				label="Total AR balance"
				icon="account_balance"
				[balance]="balance"
				[loading]="loadingBalance"
				unit="AR"
				></app-balance-card>
		</div>
		<div class="col-12 col-md-6 scoreboard">
			<app-balance-card
				label="$WIKI unlocked"
				icon="lock_open"
				[balance]="balancePST"
				[loading]="loadingBalancePST"
				unit="$WIKI"
				></app-balance-card>
		</div>

		<div class="col-12 col-md-6 scoreboard">
			<app-balance-card
				label="$WIKI in vault"
				icon="lock"
				[balance]="balancePSTVault"
				[loading]="loadingBalancePST"
				unit="$WIKI"
				></app-balance-card>
		</div>

		<div class="col-12 col-md-6 scoreboard">
			<app-balance-card
				label="$WIKI staked"
				icon="casino"
				[balance]="balancePSTStaked"
				[loading]="loadingBalancePST"
				unit="$WIKI"
				></app-balance-card>
		</div>
	</div>
</div>
<div class="container dashboard-container fadeIn">
	<div class="row">
		<div class="col-12 mini-text mb20">
			<mat-card>
				<app-arweave-address class="addressurl" [address]="mainAddress" >
					Wallet:
				</app-arweave-address>
				<app-arweave-address 
					class="addressurl" 
					address="{{ lastTransactionID | async }}" 
					[isAddress]="false">
					My last TX processed:
				</app-arweave-address>
			</mat-card>
		</div>
	</div>
	<h1>DAO Settings</h1>
	<div class="row">
		<div class="col-12 mini-text mb20">
			<mat-card>
				<div class="addressurl">
					<div class="card-row-container  text-center">
						<span class="ellipsis text-center ">
							<strong>Total Supply: </strong>
							{{ totalSupply }} $WIKI
						</span>
					</div>
				</div>
				
				<div class="addressurl">
					<div class="card-row-container  text-center">
						<span class="ellipsis text-center ">
							<strong>Visit Community: </strong>
							<a 
								href="https://community.xyz/#{{ getPSTContractAddress() }}"
								target="_blank">https://community.xyz/#{{ getPSTContractAddress() }}</a>
						</span>
					</div>
				</div>

				<app-arweave-address 
					class="addressurl" 
					address="{{ getPSTContractAddress() }}">
					PST contract address:
				</app-arweave-address>
				
			</mat-card>
		</div>

		<div class="col-12 mini-text mb20">
			<table mat-table [dataSource]="daoSettings" class="mat-elevation-z8 settings-table">
			  <!--- Note that these columns can be defined in any order.
			        The actual rendered columns are set as a property on the row definition" -->

			  <!-- Position Column -->
			  <ng-container matColumnDef="label">
			    <th mat-header-cell *matHeaderCellDef> Label </th>
			    <td mat-cell *matCellDef="let element"> {{element.label}} </td>
			  </ng-container>

			  <!-- Position Column -->
			  <ng-container matColumnDef="value">
			    <th mat-header-cell *matHeaderCellDef> Value </th>
			    <td mat-cell *matCellDef="let element"> {{element.specialValue}} </td>
			  </ng-container>

			  <tr mat-header-row *matHeaderRowDef="displayedColumnsDaoSettings"></tr>
			  <tr mat-row *matRowDef="let row; columns: displayedColumnsDaoSettings;"></tr>
			</table>
		</div>
		
	</div>
</div>
