<div class="mt-main"></div>
<mat-progress-bar 
	mode="indeterminate"
	*ngIf="loadingBalance || loadingSettings"
	class="fadeIn"></mat-progress-bar>
<mat-toolbar class="fadeIn mb20" color="default">
  <mat-icon 
  	aria-hidden="false"
  	aria-label="Dashboard">dashboard</mat-icon>
	<span>&nbsp;{{ 'DASHBOARD.BREADCRUMB_LABEL' | translate }}</span>
	<div class="menu-spacer"></div>
	<div class="text-right page-title-buttons">	
    <button 
    	type="button"
	  	mat-button
	  	color="default"
	  	(click)="goBack()">
	    <mat-icon>navigate_before</mat-icon>
	    {{ 'GENERAL.BUTTONS.GO_BACK' | translate }}
	  </button>
	</div>
</mat-toolbar>

<div class="container scoreboards-container fadeIn">
	<div class="row">
		<div class="col-12 col-md-6">
			<h1>{{ 'DASHBOARD.MY_ACCOUNT_TITLE' | translate }}</h1>
		</div>
		<div class="col-12 col-md-6 dashboard-toolbar">
			<button 
				class="btn-toolbar"
				mat-flat-button 
				type="button"
				(click)="transferTokensDialog()"
				[disabled]="loadingBalancePST"
				color="primary">
				<mat-icon>send</mat-icon> {{ 'DASHBOARD.BTN_TRANSFER' | translate }}
			</button>
			<button 
				class="btn-toolbar"
				mat-flat-button 
				type="button"
				[disabled]="loadingBalancePST"
				(click)="vaultDialog()"
				color="primary">
				<mat-icon class="yellow">vpn_key</mat-icon> {{ 'DASHBOARD.BTN_VAULT' | translate }}
			</button>
		</div>
	</div>
	<div class="row">
		<div class="col-12 col-md-6 scoreboard">
			<app-balance-card
				label="{{ 'DASHBOARD.LABEL_TOTAL_AR_BALANCE' | translate }}"
				icon="account_balance"
				[balance]="balance"
				[loading]="loadingBalance"
				unit="AR"
				></app-balance-card>
		</div>
		<div class="col-12 col-md-6 scoreboard">
			<app-balance-card
				label="$WIKI balance"
				icon="casino"
				[balance]="'' + getMyTotalBalance()"
				[loading]="loadingBalancePST"
				unit="$WIKI"
				></app-balance-card>
		</div>
	</div>
	<div class="row">
		<div class="col-12 col-md-6">
			<mat-card>
			  <mat-card-title>Token Info</mat-card-title>
			  <mat-card-content>
			  	<ul class="token-info">
			  		<li><strong>Token Ticker:</strong> {{ tokenTicker }}</li>
			  		<li><strong>{{ 'DASHBOARD.LABEL_TOTAL_SUPPLY' | translate }}</strong>
			  		<span class="bn"> {{ totalSupply }}</span> {{ tokenTicker }}</li>
			  	</ul>

			  </mat-card-content>
			</mat-card>
			<br>
			<mat-card>
			  <mat-card-title>Balance Info</mat-card-title>
			  <mat-card-content>
	  			<app-arweave-address [address]="mainAddress">Wallet: </app-arweave-address>
			  	<ul class="token-info">
			  		<li><strong>My total balance:</strong>
			  			<span class="bn"> {{ getMyTotalBalance() }}</span> {{ tokenTicker }}</li>
			  		<li><strong>{{ 'DASHBOARD.LABEL_WIKI_UNLOCKED' | translate }}</strong> {{ balancePST }} {{ tokenTicker }}</li>
			  		<li><strong>{{ 'DASHBOARD.LABEL_WIKI_IN_VAULT' | translate }}</strong> {{ balancePSTVault }} {{ tokenTicker }}</li>
			  		<li><strong>{{ 'DASHBOARD.LABEL_WIKI_STAKED' | translate }}</strong> {{ balancePSTStaked }} {{ tokenTicker }}</li>
			  	</ul>
			  </mat-card-content>
			</mat-card>
		</div>
		<div class="col-12 col-md-6">
			<mat-card *ngIf="!loadingBalancePST">
				<app-chart
					[items]="chartMyBalanceItems"
					titleText="My balance"
					chartType="pie"></app-chart>
			</mat-card>
		</div>
	</div>
</div>
<div class="container dashboard-container fadeIn">
	<h1>{{ 'DASHBOARD.TITLE_SECONDARY' | translate }}</h1>
	<div class="row">
		<div class="col-12 mini-text mb20">
			<mat-card>
				<div class="addressurl">
					<div class="card-row-container  text-center">
						<span class="ellipsis text-center ">
							<strong>Visit Community: </strong>
							<a 
								href="https://community.xyz/#{{ getPSTContractAddress() }}"
								target="_blank">https://community.xyz/#{{ getPSTContractAddress() }}</a>
						</span>
					</div>
				</div>

				<app-arweave-address 
					class="addressurl" 
					[isAddress]="false"
					address="{{ getPSTContractAddress() }}">
					{{ 'DASHBOARD.LABEL_PST_ADDRESS' | translate }}
				</app-arweave-address>
				
			</mat-card>
		</div>

		<div class="col-12 mini-text mb20">
			<table mat-table [dataSource]="daoSettings" class="mat-elevation-z8 settings-table">
			  <!--- Note that these columns can be defined in any order.
			        The actual rendered columns are set as a property on the row definition" -->

			  <!-- Position Column -->
			  <ng-container matColumnDef="label">
			    <th mat-header-cell *matHeaderCellDef> {{ 'DASHBOARD.COLUMN_LABEL' | translate }} </th>
			    <td mat-cell *matCellDef="let element"> {{element.label}} </td>
			  </ng-container>

			  <!-- Position Column -->
			  <ng-container matColumnDef="value">
			    <th mat-header-cell *matHeaderCellDef> {{ 'DASHBOARD.COLUMN_VALUE' | translate }} </th>
			    <td mat-cell *matCellDef="let element">
			    	{{
			    		element.specialValue + ' (' + element.value + ')'
			    	}} 
			    </td>
			  </ng-container>

			  <tr mat-header-row *matHeaderRowDef="displayedColumnsDaoSettings"></tr>
			  <tr mat-row *matRowDef="let row; columns: displayedColumnsDaoSettings;"></tr>
			</table>
		</div>
		
	</div>
</div>
