<h2 mat-dialog-title>
	<mat-icon class="red title-icon">volunteer_activism</mat-icon>
	<span>{{ 'DONATE_DIALOG.TITLE' | translate }}</span>
</h2>
<mat-progress-bar 
  color="warn"
  mode="indeterminate"
  *ngIf="loadingBalance || (loadingDonationInProgress && !txDonation)"
  class="fadeIn"></mat-progress-bar>
<mat-dialog-content class="container container-donate">
  <div *ngIf="data.mainAddress && !loadingDonationInProgress" class="row">
  	<p class="col-12 mini-text ellipsis">
      <app-arweave-address [address]="data.mainAddress">{{ 'DONATE_DIALOG.FROM' | translate }} </app-arweave-address>
      <br>
      <strong>{{ 'DONATE_DIALOG.BALANCE' | translate }} </strong><span class="bn">{{ balance - amount }}</span> AR
  	</p>
  	<div *ngIf="data.author" class="col-12 text-right mini-text ellipsis">
  		<mat-icon class="red">favorite</mat-icon>
  		<app-arweave-address [address]="data.author"><mat-icon class="red">favorite</mat-icon> {{ 'DONATE_DIALOG.TO' | translate }} </app-arweave-address>
  	</div>
  	<div *ngIf="data.sponsor" class="col-12 text-right mini-text ellipsis">
      <app-arweave-address class="sponsor-address" [address]="data.sponsor"><mat-icon class="red">favorite</mat-icon> {{ 'DONATE_DIALOG.TO' | translate }} </app-arweave-address>
  	</div>
    <p class="col-12 mini-text">
      <strong>{{ 'DONATE_DIALOG.CHOOSE_AMOUNT' | translate }} </strong>
    </p>
  	<div  class="col-12 text-center mini-text">
  		<mat-slider
        [(ngModel)]="amount"
        tickInterval="1"
        step="0.00001"
        min="0"
        [disabled]="loadingBalance"
        [max]="maxAmount"
        aria-label="AR"></mat-slider>
  	</div>
    <div  class="col-12 text-right ">
      {{ amount }} AR
    </div>
  </div>
  <div *ngIf="!data.mainAddress">{{ 'DONATE_DIALOG.LOGINFIRST' | translate }}</div>
  <div *ngIf="loadingDonationInProgress">
    <h1 *ngIf="!txDonation">{{ 'DONATE_DIALOG.TXINPROGRESS' | translate }}</h1>
    <h2 *ngIf="txDonation">{{ 'DONATE_DIALOG.DONATIONSEND' | translate }}</h2>
    <h2 *ngIf="txDonation">{{ 'DONATE_DIALOG.CLOSEMSG' | translate }}</h2>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
	<button 
  	mat-flat-button 
    color="accent"
  	*ngIf="data.mainAddress && !loadingDonationInProgress" 
    [disabled]="!amount"
  	(click)="sendDonation(amount, data.sponsor)">{{ 'DIALOGS.TXT_CONFIRM' | translate }}</button>
  <div class="menu-spacer"></div>
  <button mat-button mat-dialog-close cdkFocusInitial>{{ 'DIALOGS.TXT_CLOSE' | translate }}</button>
</mat-dialog-actions>
