.tagm-page-container {
	min-height: 600px;
}


.page-title, .page-title-buttons {
	margin-top: 50px;
	margin-bottom: 50px;
}

.page-img {
	max-width: 100%;
}


.w70 {
	width: 70%;
}

.ml10 {
	margin-left: 10px;
}
.w100 {
	width: 100%;
}
