<app-moderators-menu title="Tag manager"></app-moderators-menu>
<mat-spinner class="spinner-center" *ngIf="loadingPage"></mat-spinner>
<div class="container tagm-page-container">
	<div class="row" *ngIf="page && !loadingPage">
		<div class="col-12">
			<strong>Title:</strong> {{ page.title }}
			<br>
			<strong>Slug:</strong> 
			<a
				mat-flat-button
				routerLink="../../../{{page.slug}}">
				<mat-icon>visibility</mat-icon> {{page.slug}}
			</a>

			<br>
			<strong>Category</strong>: {{ page.category }}
			<br>
			<strong>Language:</strong> {{ page.language }}
		</div>
		<div class="col-12">
			<strong>Owner:</strong> {{ page.owner }}
		</div>
		<div class="col-12">
			<strong>Current tags:</strong>
			<mat-chip-listbox aria-label="Current tags">
			  <mat-chip-option color="primary" selected *ngFor="let ct of currentTags">
			  	{{ ct }}
			 	</mat-chip-option>
			</mat-chip-listbox>
		</div>

		<div class="col-12 text-center" *ngIf="!loadingSavingTags && !savingTagsTX.length">
			<h3 class="text-left">Create tags:</h3>
			<form [formGroup]="frmTags" (ngSubmit)="onSubmit()">
				<mat-form-field id="tags-input-container" class="w70">
				  <mat-label>Tags</mat-label>
				  <mat-chip-grid #chipList class="tags-input" aria-label="Add tags">
				   	<mat-chip-row 
					   	*ngFor="let tag of tags" 
	            (removed)="remove(tag)">
	      				{{tag.name}}
	    				<mat-icon matChipRemove>cancel</mat-icon>
	  				</mat-chip-row>
				    <input 
				    	placeholder="Add tag..."
				    	formControlName="newTags"
							[matChipInputFor]="chipList"
							[matChipInputSeparatorKeyCodes]="separatorKeysCodes"
							[matChipInputAddOnBlur]="addOnBlur"
							(matChipInputTokenEnd)="add($event)">
				  </mat-chip-grid>
	    		<mat-hint align="start">Separate tags by comma</mat-hint>
				</mat-form-field>
				<div class="text-center">
		  		<button mat-flat-button color="primary" [disabled]="!tags.length || loadingSavingTags">
		  			<mat-icon>save</mat-icon> Save
		  		</button>
				</div>
			</form>
		</div>
		<mat-spinner class="spinner-center" *ngIf="loadingSavingTags"></mat-spinner>


		<div class="col-12 text-center" *ngIf="savingTagsTX.length">
			The following TX were created: {{ savingTagsTX | json }}
		</div>			

	</div>	
</div>


	
