.mt-main {
	height:10px;
	margin-top: 47px;
}

@media (min-width: 600px) {
	.mt-main {
		margin-top: 54px;
	}
}

.page-title {
	margin-top: 50px;
	margin-bottom: 50px;
	font-size: 34px;
	line-height: 34px;
	height: 50px;
}

.page-title-icon {
	font-size: 42px;
	height: 100%;
	width: 42px;
  vertical-align: middle;
}

.dashboard-container {
	min-height: 440px;
}

.loading-txt {
	font-style: italic;

}

.scoreboard {
	padding: 10px;
}

.scoreboard a {
	  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis; 
}

.bn {
	font-size: 40px;
	padding-bottom: 10px;
}

.bn2 {
	font-size: 20px;
	text-overflow: ellipsis;
}

.txurl {
	text-decoration: none;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.addressurl {
 	justify-content: center;
}

.bn3 {
	font-size: 16px;
	overflow: hidden;
  text-overflow: ellipsis;

}

.scoreboards-container {
	margin-bottom: 20px;
}

.card-register-msg {

}

.card-register-msg p {
	font-size: 16px;
}

.card-page-container {
	margin-bottom: 10px;
}


.card-page div {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.no-results {
	margin-bottom: 40px;
}

.card-page-img {
	max-width: 80%;
}

.mb20 {
	margin-bottom: 20px;
}


mat-toolbar {
	font-family: "Roboto Mono", monospace;
}