<div class="mt-main"></div>
<mat-progress-bar 
	mode="indeterminate"
	*ngIf="loading"
	class="fadeIn"></mat-progress-bar>
<mat-toolbar class="fadeIn mb20" color="default">
  <mat-icon 
  	aria-hidden="false"
  	aria-label="Dashboard">dashboard</mat-icon>
	<span>&nbsp;Dashboard</span>
	<div class="menu-spacer"></div>
	<div class="text-right page-title-buttons">	
    <button 
    	type="button"
	  	mat-button
	  	color="default"
	  	(click)="goBack()">
	    <mat-icon>navigate_before</mat-icon>
	    {{ 'GENERAL.BUTTONS.GO_BACK' | translate }}
	  </button>
	</div>
</mat-toolbar>

<div *ngIf="!loading" class="container scoreboards-container fadeIn">
	<div class="row">
		<div class="col-12 col-md-6 scoreboard">
			<mat-card>
				<div class="text-center">
					
						<span class="bn">{{ balance | async }}</span> AR
				</div>
				<div class="text-center"><strong>Total AR balance</strong></div>
			</mat-card>
		</div>
		<div class="col-12 col-md-6 scoreboard">
			<mat-card>
				<div class="text-center">
						<span class="bn">0</span> $WIKI
				</div>
				<div class="text-center"><strong>Total $WIKI tokens</strong></div>
			</mat-card>
		</div>
	</div>
</div>

<div class="container dashboard-container fadeIn" *ngIf="!loading" >
	<div class="row">
		<div class="col-12 mini-text">
			<mat-card>
				<app-arweave-address class="addressurl" [address]="mainAddress" >
					Wallet:
				</app-arweave-address>
				<app-arweave-address 
					class="addressurl" 
					address="{{ lastTransactionID | async }}" 
					[isAddress]="false">
					Last TX processed:
				</app-arweave-address>
			</mat-card>
		</div>
	</div>
</div>
