<div class="container category-page-container">
	<div class="row fadeIn" *ngIf="!loadingPages">
		<h1 class="page-title col-12 col-md-9">
			{{ 'CATEGORY.BREADCRUMB_LABEL' | translate }} {{ 'MAIN_MENU.' + category | translate }}
		</h1>
		<div class="text-right page-title-buttons col-12 col-md-3">
	    <button 
	    	type="button"
		  	mat-button 
		  	class="btn-toolbar" 
		  	color="primary"
		  	(click)="goBack()">
		    <mat-icon>navigate_before</mat-icon>
		    {{ 'GENERAL.BUTTONS.GO_BACK' | translate }}
		  </button>
		</div>
	</div>

	<div class="row">
		<div class="col-12">
			<mat-spinner class="spinner-center" *ngIf="loadingPages"></mat-spinner>
			<div *ngIf="!loadingPages">
				<div class="text-left fadeIn" *ngIf="!pages.length">
					{{ 'GENERAL.LABELS.NO_RESULTS' | translate }}
				</div>
			</div>
		</div>
	</div>
	<div class="row" *ngIf="!loadingPages">
		<div class="col-12 col-md-6 card-page fadeIn" *ngFor="let p of pages">
			<app-article-card 
					[article]="p" 
					[articleData]="pagesData[p.id]" 
					[routeLang]="routeLang" 
					[baseURL]="baseURL"
					[defaultTheme]="defaultTheme"></app-article-card>
</div>
	</div>
</div>	