.category-page-container {
	min-height: 600px;
	margin-top: 100px;
}

.category-page-container h1 {
}
.category-page-container p {
	
}

.card-title {
	font-size: 2.5rem;
	font-family: "Roboto Mono", monospace;
	margin-bottom: 20px;
	cursor: pointer;
}

.card-page {
	margin-bottom: 20px;
	margin-top: 20px;
}

.card-preview {
	margin-bottom: 20px;
}

.mini-text {
	font-size: 12px;
	white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


.page-title, .page-title-buttons {
	margin-top: 20px;
	margin-bottom: 20px;
}

.footer-paginator {
	margin-bottom: 40px;
}

.no-results {
	padding: 20px;
	height: 400px;
}

.mat-mdc-paginator {
	font-size: 14px;
}

.subcategories {
	margin-bottom: 20px;
}