mat-toolbar {
  font-family: "Roboto Mono", monospace;
}

.mb20 {
  margin-bottom: 20px;
}

.mat-toolbar {
  padding-top: 12px;
  padding-bottom: 12px;
}
.w100 {
  width: 100%;
}
.table-container {
  overflow-x: auto;
}

table {
  margin-bottom: 20px;
}
.save-btn-container {
  margin-top: 12px;
}

.save-btn-container button {
  width: 100%;
}