<h2 mat-dialog-title>
	<mat-icon *ngIf="!data.type || data.type ==='warning'" class="yellow title-icon">warning</mat-icon>
	<mat-icon *ngIf="data.type ==='info'" class="blue title-icon">info</mat-icon>
	<span>{{ data.title }}</span>
</h2>
<mat-dialog-content>
  <p>{{ data.content }}</p>
  <div class="w100 text-center" appearance="outline">
	  <p>{{ data.second_content }}</p>
	  <mat-slider 
	  	class="w100" 
	  	min="1" 
	  	[max]="maxValue" 
		  [displayWith]="formatLabel"
	  	thumbLabel
	  	tickInterval="1"
	  	step="1"
	  	color="accent">
	  		<input matSliderThumb [formControl]="pageValue" >
	  	</mat-slider>
	  <div class="mat-hint small-hint text-right">{{pageValue!.value}} $WIKI</div>
	</div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button 
  	mat-button 
  	*ngIf="data.type !=='info'" 
  	[mat-dialog-close]="pageValue.value" >{{ 'DIALOGS.TXT_CONFIRM' | translate }}</button>
  <button mat-button [mat-dialog-close]="-1" cdkFocusInitial>{{ 'DIALOGS.TXT_CLOSE' | translate }}</button>
</mat-dialog-actions>
