// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. 
@include mat.core();


// Default app font
$theme-font-family: "Roboto Mono", monospace;
$secondary-theme-font-family: Work Sans, sans-serif;


$theme-typography: mat.define-typography-config(
  $font-family: $theme-font-family,
);

// Light theme
$light-theme-primary: mat.define-palette(mat.$grey-palette, A100);
$light-theme-accent: mat.define-palette(mat.$grey-palette, 900);

// The warn palette is optional (defaults to red).
$theme-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$light-theme: mat.define-light-theme((
  color: (
    primary: $light-theme-primary,
    accent: $light-theme-accent,
    warn: $theme-warn,
  ),
  typography: $theme-typography
));

// Dark theme
$dark-theme-primary: mat.define-palette(mat.$grey-palette, 900);
$dark-theme-accent: mat.define-palette(mat.$grey-palette, A100);
$dark-theme: mat.define-dark-theme((
  color: (
    primary: $dark-theme-primary,
    accent: $dark-theme-accent,
    warn: $theme-warn,
  ),
  typography: $theme-typography
));

// Define all themes
.arwiki-light {
  @include mat.all-component-colors($light-theme);
  .footer{background-color:#b0b0b0;color:#2a2a2a}
  .footer .arweave-gray-logo{filter:invert(1)}a{color:#000}
  .editor-preview pre,.editor-preview-side pre{
    background-color:#1f1f1f !important; color: #FFFFFF !important;
  }
  .invert-colors{filter:invert(1);}
}
.arwiki-dark {
  @include mat.all-component-colors($dark-theme);
  .CodeMirror,.editor-preview,.editor-preview-side,.editor-toolbar.fullscreen{
    background-color:#303030!important;color:#fff!important
  }
  .editor-toolbar a,.editor-toolbar a.fa{
    color:#fff!important
  }
  .editor-toolbar a.active,.editor-toolbar a:hover{
    color:#fff!important;background-color:#303030!important
  }
  .editor-toolbar.disabled-for-preview a:not(.no-disable){
    background-color:#303030!important;color:#ccc!important
  }
  body{background:#101010}
  .footer{background-color:#303030;color:#d5d5d5}
  a{color:#fff}
  .editor-preview pre,.editor-preview-side pre{
    background-color:#1f1f1f !important;
  }
  .mat-drawer-container{
    background-color:#181818;color:#fff
  }
  .mat-drawer{
    background-color:#424242;color:#fff
  }
  .mat-drawer.mat-drawer-push{
    background-color:#424242
  }
}

/* Peach theme */
$arwiki-peach-palette: (
 50: #EDD1B0,
 100: #EDD1B0,
 200: #EDD1B0,
 300: #D5BC9E,
 400: #D5BC9E,
 500: #D5BC9E,
 600: #D5BC9E,
 700: #D5BC9E,
 800: #D5BC9E,
 900: #D5BC9E,
 contrast: (
   50: rgba(black, 0.87),
   100: rgba(black, 0.87),
   200: rgba(black, 0.87),
   300: white,
   400: white,
   500: white,
   600: white,
   700: white,
   800: white,
   900: white,
 )
);

$arwiki-peach-theme-primary: mat.define-palette($arwiki-peach-palette, 50, 300, 400);
$arwiki-peach-theme-accent: mat.define-palette(mat.$grey-palette, 900);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$arwiki-peach-theme: mat.define-light-theme((
  color: (
    primary: $arwiki-peach-theme-primary,
    accent: $arwiki-peach-theme-accent,
    warn: $theme-warn,
  ),
  typography: $theme-typography
));

// Peach
.arwiki-peach {
  @include mat.all-component-colors($arwiki-peach-theme);
  .footer{background-color:#D5BC9E;color:#2a2a2a}
  .footer .arweave-gray-logo{filter:invert(1)}a{color:#000}
  .editor-preview pre,.editor-preview-side pre{
    background-color:#1f1f1f !important; color: #FFFFFF !important;
  }
  .invert-colors{filter:invert(1);}

  .container-partners{background-color: #EDD1B0 !important;}.fade-out{background-image: url('/assets/img/bottom-fade-peach.png') !important}
  .CodeMirror, .editor-preview, .editor-preview-side, .editor-toolbar.fullscreen {
    background-color: #EDD1B0 !important;
    color: #000 !important;
  }


  .mat-drawer,.mat-expansion-panel,
  .mat-drawer-container, .mat-mdc-card,  .mat-mdc-select-panel,
  .mat-mdc-table   {
    background:#EDD1B0
  }
  .mat-bottom-sheet-container,
  .mat-mdc-paginator,
  .mat-mdc-dialog-container,
  .mdc-dialog,
  .cdk-dialog-container,
  .mat-mdc-dialog-surface,
  .mat-toolbar,
  .mat-mdc-menu-content {
    background:#D5BC9E !important;
  }
}

// Orange theme
$arwiki-orange-palette: (
 50: #EDDD6E,
 100: #EDDD6E,
 200: #EDDD6E,
 300: #D5C663,
 400: #D5C663,
 500: #D5C663,
 600: #D5C663,
 700: #D5C663,
 800: #D5C663,
 900: #D5C663,
 contrast: (
   50: rgba(black, 0.87),
   100: rgba(black, 0.87),
   200: rgba(black, 0.87),
   300: white,
   400: white,
   500: white,
   600: white,
   700: white,
   800: white,
   900: white,
 )
);

$arwiki-orange-theme-primary: mat.define-palette($arwiki-orange-palette, 50, 300, 400);
$arwiki-orange-theme-accent: mat.define-palette(mat.$grey-palette, 900);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$arwiki-orange-theme: mat.define-light-theme((
  color: (
    primary: $arwiki-orange-theme-primary,
    accent: $arwiki-orange-theme-accent,
    warn: $theme-warn,
  ),
  typography: $theme-typography
));

// Orange
.arwiki-orange {
  @include mat.all-component-colors($arwiki-orange-theme);
  .footer{background-color:#D5C663;color:#2a2a2a}
  .footer .arweave-gray-logo{filter:invert(1)}a{color:#000}
  .editor-preview pre,.editor-preview-side pre{
    background-color:#1f1f1f !important; color: #FFFFFF !important;
  }
  .invert-colors{filter:invert(1);}
  .container-partners{background-color: #EDDD6E !important;}
  .fade-out{background-image: url('/assets/img/bottom-fade-orange.png') !important}
  .CodeMirror, .editor-preview, .editor-preview-side, .editor-toolbar.fullscreen {
    background-color: #EDDD6E !important;
    color: #000 !important;
  }
  .mat-drawer,.mat-expansion-panel,
  .mat-drawer-container, .mat-mdc-card,  .mat-mdc-select-panel,
  .mat-mdc-table   {
    background:#EDDD6E
  }
  .mat-bottom-sheet-container,
  .mat-mdc-paginator,
  .mat-mdc-dialog-container,
  .mdc-dialog,
  .cdk-dialog-container,
  .mat-mdc-dialog-surface,
  .mat-toolbar,
  .mat-mdc-menu-content {
    background:#D5C663 !important;
  }

}

// Yellow theme
$arwiki-yellow-palette: (
 50: #EDDD6E,
 100: #EDDD6E,
 200: #EDDD6E,
 300: #D5C663,
 400: #D5C663,
 500: #D5C663,
 600: #D5C663,
 700: #D5C663,
 800: #D5C663,
 900: #D5C663,
 contrast: (
   50: rgba(black, 0.87),
   100: rgba(black, 0.87),
   200: rgba(black, 0.87),
   300: white,
   400: white,
   500: white,
   600: white,
   700: white,
   800: white,
   900: white,
 )
);

$arwiki-yellow-theme-primary: mat.define-palette($arwiki-yellow-palette, 50, 300, 400);
$arwiki-yellow-theme-accent: mat.define-palette(mat.$grey-palette, 900);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$arwiki-yellow-theme: mat.define-light-theme((
  color: (
    primary: $arwiki-yellow-theme-primary,
    accent: $arwiki-yellow-theme-accent,
    warn: $theme-warn,
  ),
  typography: $theme-typography
));

// Yellow
.arwiki-yellow {
  @include mat.all-component-colors($arwiki-yellow-theme);
  .footer{background-color:#b0b0b0;color:#2a2a2a}
  .footer .arweave-gray-logo{filter:invert(1)}a{color:#000}
  .editor-preview pre,.editor-preview-side pre{
    background-color:#1f1f1f !important; color: #FFFFFF !important;
  }
  .invert-colors{filter:invert(1);}
  .container-partners{
    background-color: #F8FD89 !important;
  }
  .fade-out{background-image: url('/assets/img/bottom-fade-yellow.png') !important}
  .CodeMirror, .editor-preview, .editor-preview-side, .editor-toolbar.fullscreen {
    background-color: #F8FD89 !important;
    color: #000 !important;
  }

  .mat-drawer,.mat-expansion-panel,
  .mat-drawer-container, .mat-mdc-card,  .mat-mdc-select-panel,
  .mat-mdc-table  {
    background:#F8FD89
  }
  .mat-bottom-sheet-container,
  .mat-mdc-paginator,
  .mat-mdc-dialog-surface, 
  .mat-toolbar,
  .mat-mdc-menu-content {
    background:#F8FD89 !important;
  }
}

html, body { height: 100%; }
body { 
  margin: 0;
  font-family: $theme-font-family;
  letter-spacing: 0.025em;
  line-height: 1.666;
}

* {
  font-family: $theme-font-family;
}

a {
  overflow-wrap: break-word;
  font-family: $theme-font-family;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

/* FADE IN */
.fadeIn {
  -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 1s; /* Firefox < 16 */
  -ms-animation: fadein 1s; /* Internet Explorer */
  -o-animation: fadein 1s; /* Opera < 12.1 */
  animation: fadein 1s;

}

.fadeInTransparent {
  -webkit-animation: fadeintransparent 1s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadeintransparent 1s; /* Firefox < 16 */
  -ms-animation: fadeintransparent 1s; /* Internet Explorer */
  -o-animation: fadeintransparent 1s; /* Opera < 12.1 */
  animation: fadeintransparent 1s;

}

/* FADE IN */
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* /FADE IN */


/* FADE IN */
@keyframes fadeintransparent {
    from { opacity: 0; }
    to   { opacity: 0.95; }
}

/* Firefox < 16 */
@-moz-keyframes fadeintransparent {
    from { opacity: 0; }
    to   { opacity: 0.95; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadeintransparent {
    from { opacity: 0; }
    to   { opacity: 0.95; }
}

/* Internet Explorer */
@-ms-keyframes fadeintransparent {
    from { opacity: 0; }
    to   { opacity: 0.95; }
}

/* Opera < 12.1 */
@-o-keyframes fadeintransparent {
    from { opacity: 0; }
    to   { opacity: 0.95; }
}

/* /FADE IN */

/* COLORS */
.blue {
  color: #32edff;
}

.red {
  color: #ff6868;
}

.purple {
  color: #eca6fc;
}

.white {
  color: #FFF;
}

.yellow {
  color: #F2B92F;
}

.green {
  color: #69f0ae;
}

.green-money {
  color: #30A247;
}

.blue-navy {
  color: #000079;
}

.blue-happy {
  color: #1E72B5;
}

.pink {
  color: #F7B2AB;
}



/* GLOBAL STYLES FOR MATERIAL COMPONENTS */
.mat-mdc-snack-bar-container.error {
  --mdc-snackbar-container-color: #f44336;
  --mdc-snackbar-supporting-text-color: #FFF;
}
.mat-mdc-snack-bar-container.warning {
  --mdc-snackbar-container-color: #eed202;
  --mdc-snackbar-supporting-text-color: rgba(0,0,0,.87);
}
.mat-mdc-snack-bar-container.success {
  --mdc-snackbar-container-color: #69f0ae;
  --mdc-snackbar-supporting-text-color: rgba(0,0,0,.87);
}
.mat-card.warning {
  background-color: #eed202;
  color: rgba(0,0,0,.87);
}
.mat-card.error {
  background-color: #f44336;
  color: #FFF;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.bold {
  font-weight: bold;
}

.sticky-progress-bar {
  position: -webkit-sticky !important; /* Safari */
  position: sticky !important;
  top: 0;
}

#tags-input-container, #tags-input-container .mat-form-field-wrapper {
  height: 200px !important;
}


.spinner-center {
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 40px;
}

/*
* Arwiki page container styles
*/
.arwiki-page-preview-container img,
#arwiki-page-content-detail img {
  display: block;
  max-width: 80% !important;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.arwiki-page-preview-container a,
#arwiki-page-content-detail a {
  color: inherit;
}

.arwiki-page-preview-container h1,
#arwiki-page-content-detail h1 {
  font-size: 28px;
}

.arwiki-page-preview-container table,
#arwiki-page-content-detail table {
  width: 100%;
}

.arwiki-page-preview-container table thead tr th,
#arwiki-page-content-detail table thead tr th {
  background-color: #000;
  color: #FFF;
}

.arwiki-page-preview-container table, .arwiki-page-preview-container th, 
.arwiki-page-preview-container td, #arwiki-page-content-detail table,
#arwiki-page-content-detail th, #arwiki-page-content-detail td {
  border-collapse: collapse;
  padding: 10px;
}

.arwiki-page-preview-container td, 
#arwiki-page-content-detail td {
  border: 1px solid #000;
  border-collapse: collapse;
}

.arwiki-page-preview-container table tr:nth-child(even),
#arwiki-page-content-detail table tr:nth-child(even) {

}

.arwiki-page-preview-container table tr:hover,
#arwiki-page-content-detail table tr:hover
{
  background-color: #b0b0b0;
}


.arwiki-page-preview-container code,
#arwiki-page-content-detail code {
  font-family: 'Inconsolata', monospace;
  color: #FFF;
  white-space: pre-wrap;
  word-wrap: break-word;
  font-size: 12px;
}


.arwiki-page-preview-container pre,
#arwiki-page-content-detail pre {
  background-color: #444;
  padding: 10px;
  border-radius: 12px;
}   
.arwiki-page-preview-container pre code,
#arwiki-page-content-detail pre code {
  padding: 10px;
  border-radius: 12px;

}
.arwiki-page-preview-container p code,
#arwiki-page-content-detail p code,
.arwiki-page-preview-container li code,
#arwiki-page-content-detail li code {
  background-color: #444;
  padding: 4px;
}   

.arwiki-page-preview-container blockquote,
#arwiki-page-content-detail blockquote,
 {
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
}
.arwiki-page-preview-container blockquote:before,
#arwiki-page-content-detail blockquote:before,
 {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
.arwiki-page-preview-container blockquote p,
#arwiki-page-content-detail blockquote p,
 {
  display: inline;
}

/*
* Custom main menu accordion
*/
#arwiki-main-menu-accordion .mat-expansion-panel-body,
#arwiki-home-page-accordion .mat-expansion-panel-body{
  padding: 0px;
}

#arwiki-main-menu-accordion .mat-expansion-panel-body .mat-mdc-list-item{
  padding-left: 36px;
}
#arwiki-main-menu-accordion .mat-expansion-panel:not([class*=mat-elevation-z]),
#arwiki-home-page-accordion .mat-expansion-panel:not([class*=mat-elevation-z]) {
  box-shadow: none !important;
}

.word-break {
  word-break: break-word;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menu-spacer {
  flex: 1 1 auto;
}

.mini-text, .mini-text a.mat-button {
  font-size: 12px !important;
}

.article-data h1, 
.article-data h2, 
.article-data h3, 
.article-data h4,
.article-data h5 {
  font-size: 18px;
}

.article-data img {
  text-align: center;
  max-width: 80%;
  margin: 0 auto;
  display: block;
}
/* Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.hide {
  display: none !important;
}


.clear-both {
  clear: both;
}


.nowrap {
  white-space: nowrap;
  overflow: hidden;
}

.ellipsis {
  text-overflow: ellipsis;
}

.word-break {
  word-break: break-word;
}

.small-username {
  font-size: 14px;
  margin-bottom: 6px;
}
.small-username-2 {
  font-size: 12px;
  margin-bottom: 6px;
}


h1 {
  font-family: "Roboto Mono", monospace;
  font-size: 2.5rem;
  font-weight: bold !important;
  line-height: 1.2; }

h2 {
  font-family: "Roboto Mono", monospace;
  font-size: 1.5rem;
  font-weight: bold !important;
  font-weight: 400;
}

h3 {
  font-family: "Roboto Mono", monospace;
  font-size: 1.3rem;
  font-weight: bold !important;
}

h4 {
  font-family: "Roboto Mono", monospace;
  font-weight: bold !important;
  font-size: 1rem;
}

.mat-button, .mat-button-wrapper {
  font-family: "Roboto Mono", monospace;
}

p {
  font-family: "Work Sans", sans-serif;
}
.mdc-tooltip {
  font-size: 12px;
}
/* FIX FORM */
.mat-mdc-text-field-wrapper:not(.mdc-text-field--outlined) .mat-mdc-form-field-infix {
  padding-top: 24px;
  padding-bottom: 8px;
}
.mdc-text-field--filled {
  background-color: inherit !important;
}
.mat-mdc-text-field-wrapper.mdc-text-field--outlined .mat-mdc-form-field-infix {
    padding-top: 16px;
    padding-bottom: 16px;
}

/*
* Progress bar fix
*/
.yay-bar .mdc-linear-progress__bar-inner {
  border-color: #69f0ae !important;
}

.yay-bar, .nay-bar {
  height: 12px !important;
}
.yay-bar .mdc-linear-progress__bar-inner,
.nay-bar .mdc-linear-progress__bar-inner {
  border-top-width: 12px !important;
}