<div class="container preview-page-container">
	<div class="row">
		<h1 class="page-title col-9">
			<span class="fadeIn" *ngIf="pageTitle">{{ pageTitle }}</span>
		</h1>
		<div class="text-right page-title-buttons col-3">
	    <button 
	    	type="button"
		  	mat-mini-fab 
		  	class="ml10" 
		  	color="primary"
		  	(click)="goBack()"
		  	matTooltip="{{ 'CREATE_PAGE.FRM_BTN_GOBACK' | translate }}">
		    <mat-icon>navigate_before</mat-icon>
		  </button>
		</div>
		<p class="text-left mini-text fadeIn col-12 col-md-6" *ngIf="pageOwner">
	  	<strong>Created by:</strong> {{ pageOwner }}
	  	<mat-icon
	  		 *ngIf="arverifyProcessedAddressesMap[pageOwner] && arverifyProcessedAddressesMap[pageOwner].verified"
	  		 class="green">verified_user</mat-icon>
	  </p>
	  <p class="text-right mini-text fadeIn col-12 col-md-6" *ngIf="pageId">
	  	<strong>TX:</strong> {{ pageId }}
	  </p>
	  <div class="separator col-12"></div>
	</div>
	<mat-spinner class="spinner-center" *ngIf="loadingPage"></mat-spinner>
		
	<div class="row">
		<div 
			*ngIf="htmlContent"
			class="col-12 col-md-3 arwiki-page-preview-container fadeIn">
				<h3>Contents</h3>
			</div>
		<div 
			id="arwiki-page-content-detail"
			class="col-12 col-md-9 arwiki-page-preview-container fadeIn" 
			[innerHTML]="htmlContent"></div>
	</div>

</div>


	
