<div class="container preview-page-container">
	<div class="row" *ngIf="pageData.content">
		<h1 class="page-title col-12">
			<span class="fadeIn" *ngIf="pageData.title">{{ pageData.title }}</span>
		</h1>
		<div 
		  	*ngIf="pageData.title"
		  	class="text-right page-title-buttons fadeIn col-12">
		  <button 
	    	type="button"
		  	mat-button 
		  	class="btn-toolbar" 
		  	color="primary"
		  	(click)="donate(pageData.owner, pageExtraMetadata.sponsor)">
		    <mat-icon class="green-money animate__animated animate__heartBeat animate__slow animate__infinite">volunteer_activism</mat-icon>
		    {{ 'GENERAL.BUTTONS.BTN_DONATE' | translate }}
		  </button>
		  <button 
	    	type="button"
		  	mat-button 
		  	class="btn-toolbar" 
		  	color="primary"
		  	(click)="share()">
		    <mat-icon>share</mat-icon>
		    {{ 'GENERAL.BUTTONS.BTN_SHARE' | translate }}
		  </button>
		  <button 
	    	type="button"
		  	mat-button 
		  	class="btn-toolbar vote-btn" 
		  	color="primary"
		  	(click)="stamp(routeSlug, routeLang)">
		    <span class="mat-icon">
		    	<img class="invert-colors" width="24px" src="assets/img/stampWhite.png">
		    </span>
		    {{ stamps }} STAMPS
		  </button>
		  
	    <button 
	    	type="button"
		  	mat-button 
		  	class="btn-toolbar" 
		  	color="primary"
		  	(click)="goBack()">
		    <mat-icon>navigate_before</mat-icon>
		    {{ 'GENERAL.BUTTONS.GO_BACK' | translate }}
		  </button>
		</div>
	  <p class="subh-col-left fadeIn col-12 col-md-4" *ngIf="pageData.category">
	  	<strong>{{ 'PAGE.LABEL_CATEGORY_INFO' | translate }}</strong>
	  	<a mat-button routerLink="../category/{{pageData.category}}">
				{{ pageData.category }}
			</a>
	  </p>
	  <p class="subh-col-right fadeIn col-12 col-md-8" *ngIf="block.timestamp">
	  	<strong>{{ 'PAGE.LABEL_LAST_UPDATE' | translate }}</strong> {{ timestampToDate(block.timestamp) | date:'shortDate'}} <span class="d-none d-lg-inline">|</span>
	  	<br class="d-block d-lg-none">
	  	<strong> {{ 'PAGE.LABEL_READING_TIME' | translate }}</strong> {{ 'PAGE.LABEL_READING_TIME_RES_COMPOSED' | translate:readingTime }}
	  </p>
	  <div class="separator col-12"></div>
	</div>
	<mat-spinner class="spinner-center" *ngIf="loadingPage"></mat-spinner>
	<div class="row" *ngIf="!pageData.content && pageNotFound && !loadingPage">
		<h1 class="text-center col-12">{{ 'PAGE.LABEL_PAGE_NOT_FOUND' | translate }}</h1>
		<div class="col-12 text-center" *ngIf="isUserLoggedIn">
			<a mat-flat-button 
        routerLink="/{{ routeLang }}/create-page" color="primary">
				{{ 'PAGE.LABEL_CREATE_NEW_PAGE' | translate }}
			</a>
		</div>
	</div>
	<div 
		class="row" 
		*ngIf="!loadingPage && (pageData.content || pageData.img)">
		<div 
			class="col-12 col-md-3 toc-parent-container fadeIn">
			<mat-card *ngIf="pageData.img" class="text-center">
				<a target="_blank" href="{{ baseURL + pageData.img }}">
					<img class="toc-image" src="{{ baseURL + pageData.img }}">
				</a>
			</mat-card>
			<div *ngIf="toc.length" class="toc-container">
				<h3 class="toc-container-title">{{ 'PAGE.LABEL_CONTENT_OVERVIEW' | translate }}</h3>
				<div *ngIf="!toc.length">
					--
				</div>

				<div *ngFor="let tocLink of toc">
					<a 
						class="toc-link" 
						[class.active]="validateTOCactiveMenu(tocLink.top)" 
						[routerLink]="['/', routeLang, routeSlug]"
						[fragment]="tocLink.id">
						<div *ngIf="tocLink.type === 'H1'">{{ tocLink.text }}</div>
						<div *ngIf="tocLink.type === 'H2'" style="margin-left: 6px;">{{ tocLink.text }}</div>
						<div *ngIf="tocLink.type === 'H3'" style="margin-left: 12px;">{{ tocLink.text }}</div>
						<div *ngIf="tocLink.type === 'H4'" style="margin-left: 18px;">{{ tocLink.text }}</div>
						
					</a>
				</div>
			</div>
		</div>
		<div 
			id="arwiki-page-content-detail"
			class="col-12 fadeIn" 
			[class.col-md-9]="toc.length || pageData.img" 
			[innerHTML]="pageData.content"></div>
	</div>
	<div class="container" *ngIf="pageData.content">
		<div class="row tags-main-container">
			<h2 class="page-title col-12">
				{{ 'PAGE.LABEL_TAGS' | translate }}
			</h2>
			<div class="col-12">
				<div *ngIf="loadingTags">
					{{ 'LOADING.LOADING_LABEL' | translate }}
				</div>
				<div class="col-12" *ngIf="tags.length">
					<mat-chip-list>
					  <mat-chip *ngFor="let tag of tags" [routerLink]="['/', routeLang, 'search', tag]" style="cursor: pointer">{{tag}}</mat-chip>
					</mat-chip-list>
				</div>
				<div class="col-12" *ngIf="!tags.length">
					{{ 'GENERAL.LABELS.NO_RESULTS' | translate }}
				</div>
			</div>
		</div>
		<div class="row">
			<h2 class="col-12">
				{{ 'PAGE.LABEL_TRANSLATIONS' | translate }}
			</h2>
			<div class="col-12 tags-container">
				<div *ngIf="loadingTranslations">
					{{ 'LOADING.LOADING_LABEL' | translate }}
				</div>
				<div class="col-12 tags-container" *ngIf="translations.length">
					<mat-chip-list>
					  <mat-chip
					  	*ngFor="let translationLang of translations"
					  	[routerLink]="['/', translationLang, routeSlug]" style="cursor: pointer">{{translationLang}}</mat-chip>
					</mat-chip-list>
				</div>
				<div class="col-12 tags-container" *ngIf="!translations.length">
					{{ 'GENERAL.LABELS.NO_RESULTS' | translate }}
				</div>
			</div>
			<p class="text-left mini-text fadeIn col-12 col-md-6" *ngIf="pageData.owner">
				<app-arweave-address [lang]="routeLang" [address]="pageData.owner">{{ 'PAGE.LABEL_LAST_UPDATE_BY' | translate }} </app-arweave-address>
		  </p>
		  <p class="text-left mini-text fadeIn col-12 col-md-6" *ngIf="pageExtraMetadata.sponsor">
				<app-arweave-address [lang]="routeLang" [address]="pageExtraMetadata.sponsor">{{ 'PAGE.LABEL_SPONSOR' | translate }} </app-arweave-address>
		  </p>
		  <p class="text-left mini-text fadeIn col-12 col-md-6" *ngIf="pageData.id">
		  	<app-arweave-address [isAddress]="false" [address]="pageData.id">{{ 'PAGE.LABEL_PAGE_TX' | translate }} </app-arweave-address>
		  </p>
		  <p class="text-left mini-text fadeIn col-12 col-md-6" *ngIf="pageExtraMetadata.value">
		  	<strong>{{ 'PAGE.LABEL_PAGE_VALUE' | translate }} </strong>{{ pageExtraMetadata.value }} $WIKI
		  </p>
		</div>
	</div>
	<div class="container" *ngIf="pageData.content">
		<div class="row">
			<div 
				class="col-12 fadeIn text-right separator" >
				<button 
		    	type="button"
			  	mat-button 
			  	class="btn-toolbar" 
			  	color="primary"
			  	(click)="donate(pageData.owner, pageExtraMetadata.sponsor)">
			    <mat-icon class="green-money animate__animated animate__heartBeat animate__slow animate__infinite">volunteer_activism</mat-icon>
			    {{ 'GENERAL.BUTTONS.BTN_DONATE' | translate }}
			  </button>
			  <button 
		    	type="button"
			  	mat-button 
			  	class="btn-toolbar" 
			  	color="primary"
			  	(click)="share()">
			    <mat-icon>share</mat-icon>
			    {{ 'GENERAL.BUTTONS.BTN_SHARE' | translate }}
			  </button>
				<button 
		    	type="button"
			  	mat-button 
			  	class="btn-toolbar" 
			  	color="primary"
			  	(click)="editPage(routeSlug, routeLang)">
			    <mat-icon>edit</mat-icon>
			    {{ 'GENERAL.BUTTONS.EDIT_PAGE' | translate }}
			  </button>
			  <button
					mat-button
			  	class="btn-toolbar" 
	    		*ngIf="pageExtraMetadata.sponsor === mainAddress"
					(click)="confirmStopStake(routeSlug)"
					[disabled]="loadingStopStake"
					matTooltip="Stop staking">
					<mat-spinner *ngIf="loadingStopStake" class="spinner-btn" diameter="20"></mat-spinner>
					<mat-icon *ngIf="!loadingStopStake" >delete</mat-icon> {{ 'GENERAL.BUTTONS.BTN_STOP_STAKING' | translate }}
				</button>
				<button
					mat-button
			  	class="btn-toolbar" 
					color="primary"
	    		*ngIf="pageExtraMetadata.sponsor !== mainAddress"
					matTooltip="Sponsor page"
					[disabled]="loadingUpdateSponsorPage"
					(click)="confirmSponsorArWikiPage(routeSlug, pageData.category, pageExtraMetadata.value)">
					<mat-spinner *ngIf="loadingUpdateSponsorPage" class="spinner-btn" diameter="20"></mat-spinner>
					<mat-icon *ngIf="!loadingUpdateSponsorPage" >casino</mat-icon>
					{{ 'GENERAL.BUTTONS.BTN_SPONSOR_PAGE' | translate }}
				</button>
			  <button 
		    	type="button"
			  	mat-button 
			  	class="btn-toolbar" 
			  	color="primary"
					[routerLink]="['/', routeLang, routeSlug, 'history']">
			    <mat-icon>history</mat-icon>
			    {{ 'GENERAL.BUTTONS.BTN_VIEW_HISTORY' | translate }}
			  </button>
			</div>
		</div>
	</div>
</div>


	
