.preview-page-container {
	min-height: 600px;
	margin-top: 80px;
}

.page-title, .page-title-buttons {
	margin-top: 50px;
	margin-bottom: 0px;
}

.separator {
	margin-bottom: 20px;
}

.page-title span {
	font-size: 52px;
}

.mini-text {
	font-size: 12px;
}