<div class="container preview-page-container">
	<div class="row" *ngIf="pageData.content">
		<h1 class="page-title col-12 col-md-8">
			<span class="fadeIn" *ngIf="pageData.title">{{ pageData.title }}</span>
		</h1>
		<div 
		  	*ngIf="pageData.title"
		  	class="text-right page-title-buttons fadeIn col-12 col-md-4">
		  <button 
	    	type="button"
		  	mat-button 
		  	class="btn-toolbar" 
		  	color="primary"
		  	(click)="donate(pageData.owner, pageExtraMetadata.sponsor)">
		    <mat-icon class="green-money animate__animated animate__heartBeat animate__slow animate__infinite">volunteer_activism</mat-icon>
		    Donate
		  </button>
		  <button 
	    	type="button"
		  	mat-button 
		  	class="btn-toolbar" 
		  	color="primary"
		  	(click)="share()">
		    <mat-icon>share</mat-icon>
		    Share
		  </button>
	    <button 
	    	type="button"
		  	mat-button 
		  	class="btn-toolbar" 
		  	color="primary"
		  	(click)="goBack()">
		    <mat-icon>navigate_before</mat-icon>
		    {{ 'GENERAL.BUTTONS.GO_BACK' | translate }}
		  </button>

		</div>
	  <p class="subh-col-left fadeIn col-12 col-md-6" *ngIf="pageData.category">
	  	<strong>Category:</strong>
	  	<a mat-button routerLink="../category/{{pageData.category}}">
				{{ pageData.category }}
			</a>
	  </p>
	  <p class="subh-col-right fadeIn col-12 col-md-6" *ngIf="block.timestamp">
	  	<strong>Last update:</strong> {{ timestampToDate(block.timestamp) | date:'short'}}	
	  </p>
	  <div class="separator col-12"></div>
	</div>
	<mat-spinner class="spinner-center" *ngIf="loadingPage"></mat-spinner>
	<div 
		class="row" 
		*ngIf="!loadingPage && (pageData.content || pageData.img)">
		<div 
			class="col-12 col-md-3 toc-parent-container fadeIn">
			<mat-card *ngIf="pageData.img" class="text-center">
				<a target="_blank" href="{{ baseURL + pageData.img }}">
					<img class="toc-image" src="{{ baseURL + pageData.img }}">
				</a>
			</mat-card>
			<div *ngIf="toc.length" class="toc-container">
				<h3 class="toc-container-title">Content overview</h3>
				<div *ngIf="!toc.length">
					--
				</div>

				<div *ngFor="let tocLink of toc">
					<a 
						class="toc-link" 
						[class.active]="validateTOCactiveMenu(tocLink.top)" 
						[routerLink]="['/', routeLang, routeSlug]"
						[fragment]="tocLink.id">
						<span *ngIf="tocLink.type === 'H1'"></span>
						<span *ngIf="tocLink.type === 'H2'">&nbsp;</span>
						<span *ngIf="tocLink.type === 'H3'">&nbsp;&nbsp;</span>
						<span *ngIf="tocLink.type === 'H4'">&nbsp;&nbsp;&nbsp;</span>
						{{ tocLink.text }}
					</a>
				</div>
			</div>
		</div>
		<div 
			id="arwiki-page-content-detail"
			class="col-12 fadeIn" 
			[class.col-md-9]="toc.length || pageData.img" 
			[innerHTML]="pageData.content"></div>

		<div 
			class="col-12 fadeIn text-right separator" >
			<button 
	    	type="button"
		  	mat-button 
		  	class="btn-toolbar" 
		  	color="primary"
		  	(click)="donate(pageData.owner, pageExtraMetadata.sponsor)">
		    <mat-icon class="green-money animate__animated animate__heartBeat animate__slow animate__infinite">volunteer_activism</mat-icon>
		    Donate
		  </button>
		  <button 
	    	type="button"
		  	mat-button 
		  	class="btn-toolbar" 
		  	color="primary"
		  	(click)="share()">
		    <mat-icon>share</mat-icon>
		    Share
		  </button>
			<button 
	    	type="button"
		  	mat-button 
		  	class="btn-toolbar" 
		  	color="primary"
		  	(click)="editPage(routeSlug, routeLang)">
		    <mat-icon>edit</mat-icon>
		    {{ 'GENERAL.BUTTONS.EDIT_PAGE' | translate }}
		  </button>
		  <button 
	    	type="button"
		  	mat-button 
		  	class="btn-toolbar" 
		  	color="primary"
				[routerLink]="['/', routeLang, routeSlug, 'history']">
		    <mat-icon>history</mat-icon>
		    View history
		  </button>
		</div>
		<p class="text-left mini-text fadeIn col-12 col-md-6" *ngIf="pageData.owner">
			<app-arweave-address [address]="pageData.owner">Created by: </app-arweave-address>
	  </p>
	  <p class="text-left mini-text fadeIn col-12 col-md-6" *ngIf="pageExtraMetadata.sponsor">
			<app-arweave-address [address]="pageExtraMetadata.sponsor">Sponsor: </app-arweave-address>
	  </p>
	  <p class="text-left mini-text fadeIn col-12 col-md-6" *ngIf="pageData.id">
	  	<app-arweave-address [isAddress]="false" [address]="pageData.id">Page TX: </app-arweave-address>
	  </p>
	  <p class="text-left mini-text fadeIn col-12 col-md-6" *ngIf="pageExtraMetadata.value">
	  	<strong>Page value: </strong>{{ pageExtraMetadata.value }} $WIKI
	  </p>
	</div>
	<div class="row" *ngIf="!pageData.content && pageNotFound && !loadingPage">
		<h1 class="text-center col-12">Page not found! 😢</h1>
		<div class="col-12 text-center" *ngIf="isUserLoggedIn">
			<a mat-flat-button 
        routerLink="/{{ routeLang }}/create-page" color="primary">
				Create new arwiki page
			</a>
		</div>

		

	</div>
</div>


	
