.main-title {
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 52px;
}

.main-logo {

	margin-top: 110px;
}

.secondary-title {
	margin-top: 0px;
	margin-bottom: 40px;
	font-size: 18px;
}

.home-container {
	min-height: 440px;
}