<div class="text-center fadeIn main-logo">
  <img 
  	*ngIf="defaultTheme === 'arwiki-dark' " 
  	width="120px" 
  	src="./assets/img/arweave-light.png">
  <img
  	*ngIf="defaultTheme === 'arwiki-light' " 
  	width="120px"
  	src="./assets/img/arweave-dark.png">
</div>
<h1 class="main-title text-center fadeIn">
  arweave
</h1>
<p class="secondary-title text-center fadeIn">
  {{ 'HOME.SECONDARY_TITLE' | translate }}
</p>
<div class="container home-container fadeIn">
	<div class="row">
		<div class="col-12">
		  <app-search-engine></app-search-engine>
		</div>
	</div>	
</div>