<!--
<mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
-->
<div *ngIf="loading && !redirect" class="mt-home fadeIn">
  <div class="text-center main-logo">
    <ngx-skeleton-loader 
      count="1" 
      appearance="circle"
      [animation]="getSkeletonLoaderAnimationType()"
      [theme]="getSkeletonLoaderThemeNgStyle()"
      ></ngx-skeleton-loader>
  </div>
  <div class="text-center" style="margin-bottom: -8px">
    <ngx-skeleton-loader 
      count="1" 
      [animation]="getSkeletonLoaderAnimationType()"
      [theme]="getSkeletonLoaderThemeNgStyle2()"
      ></ngx-skeleton-loader>
  </div>
  <div class="text-center">
    <ngx-skeleton-loader 
      count="1" 
      [animation]="getSkeletonLoaderAnimationType()"
      [theme]="getSkeletonLoaderThemeNgStyle3()"
      ></ngx-skeleton-loader>
  </div>
  
</div>
<div *ngIf="!loading && !redirect" class="mt-home fadeIn">
  <div class="text-center main-logo">
    <img 
      *ngIf="defaultTheme === 'arwiki-dark' && appLogoLight" 
      width="80px" 
      [src]="appLogoLight">
    <img
      *ngIf=" defaultTheme === 'arwiki-light' && appLogoDark" 
      width="80px"
      [src]="appLogoDark">
  </div>
  <h1 class="main-title text-center">
    {{ appName }}
  </h1>
  <p class="secondary-title text-center">
    {{ 'HOME.SECONDARY_TITLE' | translate }}
  </p>
</div>


<div *ngIf="!redirect" class="container home-container fadeIn">
	<div class="row">
		<div class="col-12">
		  <app-search-engine></app-search-engine>
		</div>
	</div>	
</div>