.mt-main {
	height:10px;
	margin-top: 47px;
}

@media (min-width: 600px) {
	.mt-main {
		margin-top: 54px;
	}
}

mat-toolbar {
	font-family: "Roboto Mono", monospace;
}

.mb20 {
	margin-bottom: 20px;
}

.mat-toolbar {
	padding-top: 12px;
	padding-bottom: 12px;
}

.vote-card {
	margin: 10px;
	padding: 0px;
}

.mat-mdc-card-actions button {
	margin-left: 6px;
}

.btn-new-vote {
	margin-top: 36px;
}

.page-title {

}