<div class="mt-main"></div>
<mat-progress-bar 
	color="accent"
	mode="indeterminate"
	*ngIf="loading"
	class="fadeIn"></mat-progress-bar>
<mat-toolbar class="fadeIn mb20" color="default">
  <mat-icon 
  	aria-hidden="false"
  	aria-label="Votes">how_to_vote</mat-icon>
	<span>&nbsp;{{ 'VOTES.BREADCRUMB_LABEL' | translate }}</span>
	<div class="menu-spacer"></div>
	<div class="text-right page-title-buttons">	
    <button 
    	type="button"
	  	mat-button
	  	color="accent"
	  	(click)="goBack()">
	    <mat-icon>navigate_before</mat-icon>
	    {{ 'GENERAL.BUTTONS.GO_BACK' | translate }}
	  </button>
	</div>
</mat-toolbar>

<div class="container fadeIn" *ngIf="!loading" >
	<div class="row">
		<h1 class="page-title col-6">
			{{ 'VOTES.TITLE' | translate }}
		</h1>
		<div class="col-6 text-right">
			<button 
	    	type="button"
		  	mat-flat-button
		  	color="accent"
		  	class="btn-new-vote">
		    <mat-icon>add</mat-icon>
		    {{ 'VOTES.BTN_NEW_VOTE' | translate }}
		  </button>
		</div>
	</div>

	<div class="row">
		<h4 class="text-right col-12">
			Current block height: {{ currentBlockHeight }}
		</h4>
		<div class="col-12 col-md-6" *ngFor="let vote of votes; index as i">
			<mat-card class="vote-card">
				<mat-card-header>
					<mat-card-subtitle>
						#{{ votes.length - i }} {{ vote.type | uppercase }}
					</mat-card-subtitle>
	    		<mat-card-title>Key: {{ vote.key }}</mat-card-title>
				</mat-card-header>
				<mat-card-content>
					<p>Value: {{ vote.value }}</p>
					<p>
						<app-arweave-address
				    	[address]="vote.recipient">Recipient: </app-arweave-address>
					</p>
					<p>Note: {{ vote.note }}</p>
					<p>
						Yes: {{ votePercent(vote.yays, vote.yays + vote.nays) }}%
						<mat-progress-bar 
							mode="determinate"
							color="accent"
							[value]="votePercent(vote.yays, vote.yays + vote.nays)"></mat-progress-bar>
					</p>
					<p>
						No: {{ votePercent(vote.nays, vote.yays + vote.nays) }}%
						<mat-progress-bar 
							mode="determinate"
							color="warning"
							[value]="votePercent(vote.nays, vote.yays + vote.nays)"></mat-progress-bar>
					</p>
			    <p>
			    	Status: 
			    	<span
			    		[ngClass]="{
			    			'success': vote.status === 'passed',
			    			'active': vote.status === 'active',
			    			'error': vote.status !== 'active' && vote.status !== 'passed'
			    		}">
			    		{{ vote.status }}
			    	</span>
			    </p>
					<p>
						Ends at block: {{ vote.start + voteLength }}
						<span
							*ngIf="(vote.start + voteLength) > currentBlockHeight">
							({{ formatBlocks(currentBlockHeight - (vote.start + voteLength)) }})
						</span>
					</p>
			    <mat-divider></mat-divider>
			  </mat-card-content>
			  <mat-card-actions>
			  	<button mat-flat-button color="accent">{{ vote.voted.length }} votes</button>
			  	<div class="menu-spacer"></div>
			  	<button
			  		*ngIf="vote.status === 'active' && (vote.start + voteLength) <= currentBlockHeight"
			  		mat-flat-button color="warn">
			  		<mat-icon>sports_score</mat-icon> Finalize
			  	</button>
			  	<button
			  		*ngIf="vote.status === 'active' && (vote.start + voteLength) > currentBlockHeight"
			  		mat-flat-button color="accent">
			  		<mat-icon>thumb_up</mat-icon> Yes
			  	</button>
			  	<button
			  		*ngIf="vote.status === 'active' && (vote.start + voteLength) > currentBlockHeight"
			  		mat-flat-button color="warn">
			  		<mat-icon>thumb_down</mat-icon> No
			  	</button>

			  </mat-card-actions>
			  <mat-card-footer>
			    <mat-progress-bar 
			    	*ngIf="false"
			    	color="accent"
			    	mode="indeterminate"></mat-progress-bar>
			  </mat-card-footer>
			</mat-card>
		</div>
	</div>

</div>